
#DJANGO/python
*.pyc
settings.py
*~
.idea



# MAC
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

debug.log

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.log