version: '3'

services:
  db:
    image: postgres
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    links:
      - postgres:postgres
      - redis:redis

  redis:
    image: "redis:alpine"
    restart: always
    ports:
     - "6379:6379"

  mongodb:
    image: "mongo:3.5"
    environment:
          - MONGO_DATA_DIR=/mongodata/db
          - MONGO_LOG_DIR=/mongodev/null
    volumes:
          - ./mongodata/db:/mongodata/db
