{% extends "activitytree/base.html" %}
{% load widget_tweaks %}

{% block content %}

   <div class="col-xs-12 col-md-6 col-md-offset-3">

<form id='login_form' class="form-signin" role="form" method="post" action='/accounts/login/' xmlns="http://www.w3.org/1999/html">{% csrf_token %}
{% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

{% if form.errors %}

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>Inténtalo de nuevo, el usuario y contraseña no coinciden.</p>
    </div>

{% endif %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

         <div class="form-group">

             {{ form.username.label_tag }}
             {% render_field form.username class="form-control" %}

         </div>




         <div class="form-group">
               {{ form.password.label_tag}}
               {% render_field form.password class="form-control" %}

        <label class="sign-in-reset control-label"> <a href="/accounts/password_reset"> <small> ¿Se te olvidó tu contraseña? </small> </a> </label>

           <div class="row">

               <div class="col-xs-12 col-md-8 col-md-offset-2" >
                <button type="submit" class="sign-in-btn btn btn-success btn-block " >Inicia Sesión</button>
               </div>
           </div>

       </div>


        <div class="row">

         <div class="col-xs-12 col-md-8 col-md-offset-2" >
                     <div id="register-box" class="form-group">
            <h5> Si aún no te haz registrado: </h5>
            <a class="btn btn-primary-outline  btn-block"  href="/register">Crea tu cuenta</a>

        </div>
               </div>

        </div>






</form>

   </div>



















{% endblock content %}



{% block scripts %}
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
<script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');


                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });



    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '{{ GOOGLE_APP_ID }}',
          'scope': 'profile email'
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
    $( document ).ready(function() {
    $('#loginGoogle').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(function(authResult) {
        if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    //$('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/GoogleCallback',
      contentType: 'application/json',
      success: function(result) {
        // Handle or verify the server response.
          if (!result.success)
          {
              if (result.error == 'AuthAlreadyAssociated')
              {
                $('#login_form').prepend("<div class='alert alert-danger alert-dismissable'>" +
                 "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
                 "<p>El correo electrónico de tu cuenta está ligado a un perfil existente. Si es tuyo ingresa con la otra cuenta.</p>  " +
                 "<p>Si no recuerdas la cuenta puedes <a href='/password_reset/'> restablecer tu perfil. </a> Ya en tu perfil puedes asociar de nuevo otras cuentas.</p>"
                  +"</div>");
              }
              else if(result.error == 'ProfileNotFound')
              {
                   $('#login_form').prepend("<p>Inténtalo de nuevo, el usuario y contraseña no coinciden.</p>");
              }


          }
          else
          {
             window.location.href=result.after_login;
          }



      },
      processData: false,
      dataType: "json",
      data: JSON.stringify({code:authResult['code']}),
      error: function(jqXHR, textStatus, errorThrown) {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);
                        }

    });
    }
        else {
    // There was an error.
  }



        });

    });

     });
  </script>



{% endblock scripts %}
