{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change password' %}" />
</form>

    <p>
    {% trans "If you forgot your password or have not created one yet. Reset your password" %}
    <a href="/password_reset/">{% trans "here" %}</a>

    </p>


{% endblock %}


{# This is used by django.contrib.auth #}