{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}

<div class="col-md-6 col-md-offset-2" xmlns="http://www.w3.org/1999/html">
<h5> {% blocktrans %}
    Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</h5>

<form method="post" action="">
    {% csrf_token %}


          {% if form.email.errors  %}


              <div class="form-group  has-danger">

                <label for="{{ form.email.id_for_label }}">{{ form.old_password.label }}</label>
                  <input type="text" maxlength="30" class="form-control required" id="{{ form.email.id_for_label }}"  value="{{ form.email.value|default_if_none:"" }}"  name="email" aria-describedby="usernameHelpBlock">
                     <div class="form-control-feedback">{{ form.email.errors }}</div>
                  <small class="form-text text-muted">


                    </small>
              </div>
          {% else %}
               <div class="form-group">
               <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
               <input type="text" maxlength="30" class="form-control required" id="{{ form.email.id_for_label }}"  value="{{ form.email.value|default_if_none:"" }}"  name="email" aria-describedby="usernameHelpBlock">
                 <small class="form-text text-muted">

                    </small>
               </div>
          {% endif %}

        <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary"> {% trans 'Reset password' %} </button>
              </div>
            </div>


        </form>

</div>

{% endblock %}
{# This is used by django.contrib.auth #}