


ul.sTree2 li .activity{
  background-color:#f5f5f5;

}


#sTree2 li div.btn-group.navbar-right, #sortableListsBase li div.btn-group.navbar-right
{   padding: 0px;
  margin-top: -7px;
  margin-right: -5px;
  margin-left: 25px;
  border: 0px}




ul#sTree2, li#sTree2 { margin:0; padding:0; }
#sTree2 ul, #sTree2 li, #sortableListsBase ul, #sortableListsBase li
{
  list-style-type:none;
  color:rgb(64, 120, 192);
  border:1px solid #c1dce9;
}



ul.sTree, #sTree2 ul,  #sortableListsBase ul{ padding:0px; background-color:#f5f5f5; }
ul.sTree2 li, ul#sortableListsBase li { padding-left:40px; margin:5px; border:1px solid #c1dce9; background-color:#e6f1f6; }

#sTree2 li div, #sortableListsBase li div { padding:10px; background-color:#fff; border:1px solid #c1dce9; }

/*#sTree2 li, #sortableListsBase li, #sTree2 ul, #sortableListsBase ul,  #sTree2 div, #sortableListsBase div { border-radius: 3px; }
*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* padding-top: 50px;*/
}

body > .container {
  padding: 60px 15px 0;
}

.red { background-color:#ff9999; }
.blue { background-color:#aaaaff;}
.green { background-color:#99ff99; }
.gree2 { background-color:#bbffbb; }
.yellow { background-color:#ff8; }
.brown { background-color:#c26b2b; }
.pT20 { padding-top:20px; }
.pV10 { padding-top:10px; padding-bottom:10px; }
.dN { display:none; }
.dIB { display:inline-block; }
.vAM { vertical-align: text-bottom; }
.zI1000 { z-index:1000; }
.c1 { color:#b5e853; }
.c2 { color:#63c0f5; }
.c3 { color: #f77720; }
.c4 { color: #888; }
.c5 { color: #666667; }
.c6 { color: #888; }
.bgC1 { background-color:#ccc; }
.bgC2 { background-color:#ff8; }
.small1 { font-size:0.8em; }
.small2 { font-size:0.7em; }
.small3 { font-size:0.6em; }
.tAR { text-align:right; }
.clear { clear:both; }
img.descPicture { display:block; width:100%; margin:0 7px 30px 0; float:left; cursor:pointer; /*transition: all 0.5s ease;*/ }
img.descPicture.descPictureClose { width:150px; }
#sTree2 { margin:10px auto; }

img.fixed-small
{
  height:100px;
  width: 200px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
 /* padding-top: 50px;*/
}
  #page  {
	padding: 0;
	margin: 0;
    }

  #main_container
  {
      padding-top: 60px;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}




.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom:10px;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

     #panel_col{
      margin-top: 50px;
        }
.second-navbar{
    top:40px;
}
 .pager
 {
     margin: 0px 0px;

 }
    .pager li > span
    {
     color: #428BCA;
     cursor:pointer;
    }

    .pager li > span:hover, .pager li > span:focus
    {
     background-color: #eeeeee;
    }

    input.btn
    {
        margin-top: 10px;
    }

   .navbar-nav > li >  a.navbar-user
    {
    padding-bottom: 0px;
    padding-top: 0px;
    }



   .fa-check
   {
       color: green;
   }


  .sign-in-label
  {   color:#777;
      display: block;
      padding-top:0px;
      padding-bottom:0px;
      padding-left: 5px;
      margin-bottom:0px ;

  }
  .sign-in-btn
  {
      margin-top:20px;
  }

  .sign-in-reset
  {
       display: block;
       padding-top:6px;
       padding-left: 5px;
  }
    #login_form
    {
        margin-top:0px ;
        margin-bottom:0px ;
    }

    #rating-message-container{
        margin-top: 10px;
    }

    .btn-social{
    margin-top: 10px;
    }