{% extends "activitytree/base.html" %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="#navbar">

          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actividades<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#" id="htmlBtn">Actividad HTML</a></li>
                      <li><a href="#" id="videoBtn">Actividad Video</a></li>
                      <li><a href="#">Actividad</a></li>
                  </ul>
              </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="col-md-6" id="actividades"  >
    <h2>Mis Actividades</h2>
    </div>


{% endblock %}

{% block scripts %}


<script id="activities_template" type="x-tmpl-mustache">
         <div class="media">
            <div class="media-left">
                <a href="[[uri]]">
                    <i class="fa fa-[[icon]] fa-lg"></i>
                </a>

            </div>
             <div class="media-body">

               <a class="media-heading" href="[[uri]]" role="button"> <h4>[[title]] &raquo;</h4></a>


            <p>
              <span class="label label-info">[[type]]</span>
              <span class="label label-success">[[lang]]</span>
              <span class="label label-default">[[level]]</span>
            </p>

            </div>
        </div>

</script>

<script type="text/javascript">

function loadactivities(){
    $.ajax({
        type: 'get',
        url: '/my_activities',
        data: { user: '{{ user.email }}'},
        success: function (data) {
            Mustache.tags = ['[[', ']]'];
            var activities_template = $('#activities_template').html();
            Mustache.parse(activities_template);
            var obj = jQuery.parseJSON( data );
            $.each(obj, function( index, value ) {
                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    uri: value._id,
                    icon:value.icon,
                    description: value.description,
                    lang:value.lang,
                    level:value.level,
                    type:value.type});
                $("#actividades").append(rendered);

            });

            $('#actividades').val(data);
        },
        error: function(data) {
            console.log("Error");
        }
    });
}

$(function(){
    loadactivities();
});

</script>

{% endblock %}