{% extends "activitytree/base.html" %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="#navbar">

          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actividades<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#" id="htmlBtn">Actividad HTML</a></li>
                      <li><a href="#" id="videoBtn">Actividad Video</a></li>
                      <li><a href="/build_quiz">Actividad Quiz</a></li>
                      <li><a href="/build_program">Actividad Programa</a></li>
                  </ul>
              </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid center" align="center">
    <div class="" id="actividades" style="width: 70%" >
        <h2>Mis Actividades</h2>
    </div>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center" style="font-size: large">
                Alerta <i class="fa fa-exclamation-circle"></i>
            </div>
            <div class="modal-body" align="center">
               <h5> Mensaje <p class="debug-url"></p> </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}


<script id="activities_template" type="x-tmpl-mustache">
         <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-15 text-right">
                    <button type="button" value="[[id]]" onclick='get_activity("[[id]]","[[type]]")' data-toggle="" data-target="#"  data-target="#confirm-edit" data-href="[[id]]" class="btn btn-default clickable   editBtn"><i class="fa fa-cog clickable editBtn"></i> </button>
                    <button type="button" value="[[id]]" data-toggle="modal" data-target="#confirm-delete"  data-href="[[id]]" class="btn btn-default clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>
                </div>
                <p style='line-height: 10px'>
                <a href="[[id]]" class=""><i class="fa fa-[[icon]] fa-lg" style='vertical-align:middle'> [[title]] </i></a>
            </div>
             <div class="panel-body">

               [[#description]]
                    <b>Descripcion: [[description]]
               [[ /description ]]
               [[^description]]
                    <b>Sin descripcion</b>
               [[/description]]

            <p>
              <span class="label label-info">[[type]]</span>
              <span class="label label-success">[[lang]]</span>
              <span class="label label-default">[[level]]</span><br>
              [[#tags]]
              <span class="label label-info">[[.]]</span>
              [[/tags]]
            </p>

            </div>
        </div>

</script>

<script>

    $(function(){

        $('#confirm-delete').on('show.bs.modal', function(e) {
            console.log(e);
            var value = ($(e.relatedTarget).data('href'));
            console.log(value);
            $('.debug-url').html('Confirmar. Quieres borrar la actividad: <strong>' + value + '? </strong>');

            $('.btn-ok').click(function(){
                delActivity(value);
                $('#confirm-delete').modal('hide');
            })

        });


    });

</script>


<script type="text/javascript">

function wtv(id,type){
    if (type == "text"){
        console.log(type);
        console.log(id + " actividad html");
        get_activity(id,type);

    }
    else if (type == "video"){
        get_activity(id,type);
        console.log(id + " actividad video")
    }
    else if (type == "quiz"){
        console.log(id + " actividad quiz")
    }
    else if (type == "prog"){
        get_activity(id,type);
        console.log(id + " actividad programa")
    }
    else
    {
        console.log("Nada")
    }

}


function loadactivities(){
    $.ajax({
        type: 'get',
        url: '/my_activities',
        data: { user: '{{ user.email }}'},
        success: function (data) {
            Mustache.tags = ['[[', ']]'];
            var activities_template = $('#activities_template').html();
            Mustache.parse(activities_template);
            var obj = jQuery.parseJSON( data );
            $.each(obj, function( index, value ) {
                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    id: value._id,
                    icon:value.icon,
                    description: value.description,
                    lang:value.lang,
                    level:value.level,
                    type:value.type,
                    tags:value.tags});
                $("#actividades").append(rendered);

            });

            $('#actividades').val(data);
        },
        error: function(data) {
            console.log("Error");
        }
    });
}

$(function(){
    loadactivities();
});

function delActivity(activity){
    $.ajax({
        type: 'post',
        url: '/delete_activity',
        data: { _id: activity,
                user: '{{ user.email }}'},
        success: function (data){
            if (data == "okn"){
                alert("Actividad borrada");
                location.reload()
            }
            else{
                alert("Error")
            }
        },
        error: function(data){
            console.log(data)
        }
    });
}

function get_activity(id,type){
    $.ajax({
        type: 'get',
        url: '/get_id',
        data: { _id: id,
                user: '{{ user.email }}',
                type: type},
        success: function (data){
            var obj = jQuery.parseJSON( data );
            if (obj[0].type == "text"){
                load_dataHtml(obj)
            }
            else if (obj[0].type == "video"){
                load_dataVideo(obj)
            }
            else if (type == "prog"){
                load_dataProgram(obj)
            }
            else if (type == "quiz"){
                load_dataQuiz(obj)
            }

        },
        error: function(data){
            console.log(data)
        }
    });
}

function load_dataHtml(obj){
    $('#modalhtml').modal();
    $.each(obj[0], function(key, value){
        $('#formahtml [name='+key+']').val(value);
        if (key == 'content'){
            tinyMCE.get('content').setContent(value);
        }
        else if (key == 'tags'){
            for (var i=0; i < value.length ; i++){
                $("#tagshtml").tagit("createTag", value[i]);
            }
        }
        $('#formadetail [name='+key+']').val(value);

    });
}

function load_dataVideo(obj){
    $('#modalvideo').modal();
    $.each(obj[0], function(key, value){
        $('#formaVideo [name='+key+']').val(value);
        if (key == 'tags'){
            for (var i=0; i < value.length ; i++){
                $("#tagsvideo").tagit("createTag", value[i]);
            }
        }
        $('#formadetailv [name='+key+']').val(value);

    });
    loadVideo();
}

function load_dataProgram(obj){
    window.location = '/build_program?id=' + obj[0]._id ;
}

function load_dataQuiz(obj){
    window.location = '/build_quiz?id=' + obj[0]._id ;
}
</script>

{% endblock %}

