{% extends "activitytree/base.html" %}

{% block content %}
<div class="container" align="center">

        <h4>Active courses</h4>

        <div id="message" style="display: none" >
            <h4>No courses available</h4>
        </div>


     {% for c in courses %}
      <div class="row" align="center">
          <div class="" style="width: 40%">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="pull-right"><span class="label label-info">mini-curso</span></h4>
                     <h4><a href="/{{c.root.id}}{{c.root.uri }}" style="color: #0f0f0f" ><i class="fa fa-book"></i>  {{c.root.name}}</a></h4>
                 </div>
                 <div class="panel-body">
                      <p> {{ c.short_description }} </p>
                      <p style="color: darkgray">Started on: {{ c.start_date }}</p>
                     <a href="/{{c.root.id}}{{c.root.uri }}" class="btn btn-default">Go</a>
                 </div>
             </div>
         </div>
      </div>

  {% endfor %}

      <hr>

      <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
           </a>
            <br />El contenido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> y
            otras licencias abiertas.</p>
      </footer>
    </div> <!-- /container -->
{% endblock content %}

{% block scripts %}

    <script>
    var courses = '{{ courses }}';
    if (courses == '[]'){
        $("#message").attr('style', 'display: block')
    }
    else
    {
        $("#message").attr('style', 'display: none')
    }

    </script>
{% endblock %}