{% extends "activitytree/base.html" %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          </button>
        </div>


        <div class="" id="#navbar" >
            <div class="col-lg-8 col-lg-offset-2" >
                <form class="navbar-form" role="search" onsubmit="return false">
                    <div class="input-group"  style="width: 100%">
                        <input type="text" class="form-control" placeholder="Search by Title or #Tag" name="srch-term" id="txtname">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" style="background-color: #4285F4"><i class="fa fa-search" style="color: white"></i></button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="row" id="row" >
                <div class="col-lg-8 col-lg-offset-2 col-md-11 ">
                    <div class="collapse navbar-collapse" id="mainNav">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-plus"></i> Create<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="sidebar">
                                    <li><a href="#" id="htmlBtn">HTML</a></li>
	                                <li><a href="#" id="videoBtn">Video</a></li>
	                                <li><a href="/build_quiz">Quiz</a></li>
	                                <li><a href="/build_program">Program</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-search"></i> Filter By<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="sidebar">
                                    <li> <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" id="text" value="text"/>&nbsp;HTML</a></li>
                                    <li> <a class="small" data-value="option2" tabIndex="-1"><input type="checkbox" id="video" value="video"/>&nbsp;Video</a> </li>
                                    <li> <a class="small" data-value="option3" tabIndex="-1"><input type="checkbox" id="quiz" value="quiz"/>&nbsp;Quiz</a></li>
                                    <li> <a class="small" data-value="option4" tabIndex="-1"><input type="checkbox" id="prog" value="prog"/>&nbsp;Program</a> </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-flag"></i> By Difficulty<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="difficulty">
                                    <li id="anylevel" class="active"> <a class="small" id="dif0" data-value="any">Any</a></li>
                                    <li id="principiante"> <a class="small" id="dif1" data-value="principiante">Principiante</a></li>
                                    <li id="intermedio"> <a class="small" id="dif2" data-value="intermedio">Intermedio</a></li>
                                    <li id="avanzado"> <a class="small" id="dif3" data-value="avanzado">Avanzado</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-code"></i> By Language<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="lang">
                                    <li id="anylang" class="active"> <a class="small" id="dif4" data-value="any">Any</a></li>
                                    <li id="javascript"> <a class="small" id="dif5" data-value="javascript">Javascript</a></li>
                                    <li id="python"> <a class="small" id="dif6" data-value="python">Python</a></li>
                                    <li id="csharp"> <a class="small" id="dif7" data-value="csharp">Csharp</a></li>
                                    <li id="java"> <a class="small" id="dif8" data-value="java">Java</a></li>
                                    <li id="jquery"> <a class="small" id="dif9" data-value="jquery">Jquery</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a id="clear" style="color:red">Clear all</a> </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid center" align="center">

    <div id="paginator"></div>
        <h2>Mis Actividades</h2>
    <div class="" id="actividades" style="width: 50%" >

    </div>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center" style="font-size: large">
                Alert <i class="fa fa-exclamation-circle"></i>
            </div>
            <div class="modal-body" align="center">
               <h5> Message <p class="debug-url"></p> </h5>
            </div>
            <div class="modal-footer" >
                <div class="form-group" align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://70023e2a50a4aa4a1f1759c8ec88a0ec7a694dbe.googledrive.com/host/0B4KIaVIuZK2JTTU5OW45M3hRb28/jquery.bootpag.min.js"></script>


<script id="activities_template" type="x-tmpl-mustache">
         <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-15 text-right">
                    <button type="button" value="[[id]]" onclick='get_activity("[[id]]","[[type]]")' data-toggle="" data-target="#"  data-target="#confirm-edit" data-href="[[id]]" class="btn btn-default clickable   editBtn"><i class="fa fa-cog clickable editBtn"></i> </button>
                    <button type="button" value="[[id]]" data-toggle="modal" data-target="#confirm-delete"  data-href="[[id]]" class="btn btn-default clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>
                </div>
                <p style='line-height: 10px'>
                <a href="#" onclick='javascript:window.open("[[id]]", "_blank", "scrollbars=1,resizable=1,height=600,width=650");'><i class="fa fa-[[icon]] fa-lg" style='vertical-align:middle'> [[title]] </i></a>
            </div>
             <div class="panel-body">

               [[#description]]
                    <b>Descripcion: [[description]]
               [[ /description ]]
               [[^description]]
                    <b>Sin descripcion</b>
               [[/description]]

            <p>
              [[#type]]
              <span class="label label-info"><a href="/search/?type=[[type]]" style="color:#FFFFFF">[[type]]</a></span>
              [[/type]]
              [[^type]]
              [[/type]]

              [[#lang]]
              <span class="label label-success"><a href="/search/?lang=[[lang]]" style="color:#FFFFFF">[[lang]]</a></span>
              [[/lang]]
              [[^lang]]
              [[/lang]]

              [[#level]]
              <span class="label label-default"><a href="/search/?level=[[level]]" style="color:#FFFFFF">[[level]]</a></span><br>
              [[/level]]
              [[^level]]
              [[/level]]

              [[#tags]]
              [[#.]]
              <span class="label label-info"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
              [[/tags]]
            </p>

            </div>
        </div>

</script>

<script>

    $(function(){
        //if user deletes activity, modal shows
        $('#confirm-delete').on('show.bs.modal', function(e) {
            console.log(e);
            var value = ($(e.relatedTarget).data('href'));
            console.log(value);
            $('.debug-url').html('Delete activity: <strong>' + value + '? </strong>');

            $('.btn-ok').click(function(){
                delActivity(value);
                $('#confirm-delete').modal('hide');
            })

        });


    });

</script>


<script type="text/javascript">
var param = [];
var tags = [];
var query = {};
query['page'] = 0;
var initialize = ['text','video','quiz','prog'];
query['type'] = {'type': {'$in':initialize}};
query['author'] = {'author': '{{user.email}}'};

//paginator plugin initialize
$(function(){
    page = 0;
    $('#paginator').bootpag({
            total: 1,
            page: 1
        }).on("page", function(event, num){
            $("#actividades").empty();
            query['page'] = (5) * (num - 1) ;
            buscar(query);
            $(this).bootpag({total: Math.floor((count + 5 -1)/5), maxVisible: 10});
        });
    buscar(query)
});

//function used when user deletes activity
function delActivity(activity){
    $.ajax({
        type: 'post',
        url: '/delete_activity',
        data: { _id: activity,
                user: '{{ user.email }}'},
        success: function (data){
            if (data == "okn"){
                alert("Actividad borrada");
                location.reload()
            }
            else{
                alert("Error")
            }
        },
        error: function(data){
            console.log(data)
        }
    });
}

//function that gets activity info for updating activity
function get_activity(id,type){

    if (type == "prog"){
        load_dataProgram(id)
    }
    else if (type == "quiz"){
        load_dataQuiz(id)
    }
    else{
        $.ajax({
            type: 'get',
            url: '/get_id',
            data: { _id: id,
                user: '{{ user.email }}',
                type: type},
            success: function (data){
                var obj = jQuery.parseJSON( data );
                if (obj[0].type == "text"){
                    load_dataHtml(obj)
                }
                else if (obj[0].type == "video"){
                    load_dataVideo(obj)
                }

        },
        error: function(data){
            console.log(data)
        }
    });
    }

}

//loads activity data in html modal for updating
function load_dataHtml(obj){
    $('#modalhtml').modal();
    $.each(obj[0], function(key, value){
        if (key == 'content'){
            tinyMCE.get('content').setContent(value);
        }
        else if (key == 'tags'){
            $("#tagshtml").tagit("removeAll");
            for (var i=0; i < value.length ; i++){
                $("#tagshtml").tagit("createTag", value[i]);
            }
        }
        $('#formahtml [name='+key+']').val(value);
        $('#formadetail [name='+key+']').val(value);

    });
}

//loads activity data in video modal for updating
function load_dataVideo(obj){
    $('#modalvideo').modal();
    $.each(obj[0], function(key, value){
        if (key == 'tags'){
            $("#tagsvideo").tagit("removeAll");
            for (var i=0; i < value.length ; i++){
                $("#tagsvideo").tagit("createTag", value[i]);
            }
        }
        $('#formaVideo [name='+key+']').val(value);
        $('#formadetailv [name='+key+']').val(value);

    });
    loadVideo();
}

//sends user to program update page
function load_dataProgram(id){
    window.location = '/build_program?id=' + id ;
}

//sends user to quiz update page
function load_dataQuiz(id){
    window.location = '/build_quiz?id=' + id ;
}

        $('#difficulty li').click(function () {
            $('#difficulty li').not(this).removeClass('active');
            $(this).addClass('active');
        });

        $('#lang li').click(function () {
            $('#lang li').not(this).removeClass('active');
            $(this).addClass('active');
        });

        $("#difficulty a[class='small']").on('click',function(){
            var param = this.getAttribute('data-value');
            $("#actividades").empty();
            if (param == 'any'){
                param = "";
            }
            query_builder("level",param,query)
        });

        $("#lang a[class='small']").on('click',function(){
            var param = this.getAttribute('data-value');
            $("#actividades").empty();
            if (param == 'any'){
                param = "";
            }
            query_builder("lang",param,query)
        });

        $("#sidebar input[type='checkbox']").change(function(){
            if(this.checked){
                $("#actividades").empty();
                param.push(this.value);
                query_builder("type",param,query)
            }
            else
            {
                $("#actividades").empty();
                param.splice($.inArray(this.value,param), 1);
                if (param.length == 0){
                    var initialize = ['text','video','quiz','prog'];
                    query_builder("type",initialize,query)
                }
                else{
                    query_builder("type",param,query)
                }

            }
        });

        $("#txtname").on('change', function(){
            $("#actividades").empty();
            $("#row").show();
            query_builder("name",param,query);
        });

        $("#txtdifficulty").on('change', function(){
            $("#actividades").empty();
            query_builder("level",param,query)
        });

        $("#txtlang").on('change', function(){
            $("#actividades").empty();
            query_builder("lang",param,query)
        });

//clears all inputs from user and reinitializes query when Clear All is clicked
        $("#clear").click(function(){
            query = {};
            param =[];
            initialize = ['text','video','quiz','prog'];
            query['author'] = {'author': '{{user.email}}'};
            $('#lang li').not($("#lang li[id='anylang']")).removeClass('active');
            $('#difficulty li').not($("#lang li[id='anylevel']")).removeClass('active');
            $("#actividades").empty();
            $("#txtname").val('');
            $("#txtuser").val('');
            $("#sidebar input[type='checkbox']").prop('checked', false);
            query_builder("type",initialize,query);
        });

//function that builds a query depending on input of user
function query_builder(flag,param,query)
    {
        if (flag == "type"){
            if (param.length==0){
                delete query["type"];
                buscar(query)
            }
            else{
                query['type'] = {'type': {'$in':param}};
                buscar(query)
            }
        }
        else if (flag == "name"){
            if ($("#txtname").val() == ""){
                delete query["title"];
                delete query["tags"];
                buscar(query)
            }
            else{
                var name = $("#txtname").val();
                var exp_tags = /S*#(?:\[[^\]]+\]|\S+)/;
                if (exp_tags.test(name)){
                    var texto = name.split(/\s+/g);
                    tags = [];
                    title = [];
                    for(var i=0;i<texto.length;i++){
                        if(texto[i].match(exp_tags)){
                            tags.push(texto[i].replace('#',''))
                        }
                        else{
                            title.push(texto[i])
                        }
                    }
                    title = title.join(" ");
                    if (title != "" && tags.length != 0){
                        query['title'] = {'title': {'$regex': title, '$options': 'i'}};
                        query['tags'] = {'tags': {'$all': tags}};
                    }
                    else if (tags.length != 0 && title == ""){
                        query['tags'] = {'tags': {'$all': tags}};
                        delete query['title']
                    }
                    else if (tags.length == 0 && title != ""){
                        query['title'] = {'title': {'$regex': title, '$options': 'i'}};
                        delete query['tags']
                    }
                    else{
                        delete query['title'];
                        delete query['tags']
                    }
                    buscar(query)
                }
                else{
                    query['title'] = {'title': {'$regex': $("#txtname").val(), '$options': 'i'}};
                    delete query['tags'];
                    buscar(query)
                }

            }
        }
        else if (flag == "level"){
            if (param == ""){
                delete query["level"];
                buscar(query)
            }
            else{
                query['level'] = {'level': param};
                buscar(query)
            }
        }
        else if (flag == "lang"){
            if (param == ""){
                delete query["lang"];
                buscar(query)
            }
            else{
                query['lang'] = {'lang': param};
                buscar(query)
            }
        }
    }

//ajax function that sends query to server and displays results
function buscar(tipo){
        $.ajax({
        type: 'POST',
        url: '/search_prueba',
        data: JSON.stringify(tipo),
        success: function (data) {
            var obj = jQuery.parseJSON( data );
            if (obj == "null" || obj[0].count == 0){
                $("#paginator").hide();
                $("#actividades").append('<h3 style="color:lightgray">No hay actividades</h3>');
                alert("No se encontro actividad con esas caracteristicas");
                count = 0
            }
            else{
                Mustache.tags = ['[[', ']]'];
                var activities_template = $('#activities_template').html();
                Mustache.parse(activities_template);
                $.each(obj, function( index, value ) {
                    if (value.count){
                        count = value.count
                    }
                    else{
                        rendered = Mustache.render(activities_template, {
                            title: value.title,
                            id: value._id,
                            icon:value.icon,
                            description: value.description,
                            lang:value.lang,
                            level:value.level,
                            type:value.type,
                            tags:value.tags});
                        $("#actividades").append(rendered);
                    }
                });
                $("#paginator").show();
                $("#paginator").bootpag({total: Math.floor((count + 5 -1)/5), maxVisible: 10});
                $('#actividades').val(data);

            }
        },
        error: function(data) {
            console.log("Error");
        }
    });
    }


</script>

{% endblock %}

