{% extends "activitytree/base.html" %}



{% block content %}

<div class="container" >

    <div class = "row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
             {{content|safe}}

        </div>


     </div>
{% comment %}
{% if rating_totals %}
            <div class="row">
                 <div class="col-md-6 col-md-offset-3 m-b-1 m-t-1">
                               <div class="panel panel-default">
                                    <div class="panel-body">

                                        <p>Califica este recurso: <span id="rating-info"> </span>

                                            {% if rating_totals.rating__avg %}
                                            ({{ rating_totals.rating__avg|floatformat:2 }}/5)
                                            {% endif %}
                                            {{ rating_totals.rating__count }} voto(s).



                                        </p>
                                  </div>
                               </div>
                        </div>
            </div>
{% endif %}
{% endcomment %}





    {% if XML_NAV %}
<div class="col-md-4 col-sm-12 m-b-1">


                  <form id="nav_form"   role="form" action="{{ root_id }}{{root}}" method = "POST">{% csrf_token %}
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-end">
                              <a class="page-link previous" href="#" tabindex="-1"> <span class="nav_prev" > &larr; Anterior</span></a>

                              <a class="page-link next" href="#"><span class="nav_next">  Continuar &rarr;</span></a>
                              </li>
                          </ul>
                      </nav>



                  </form>

              </div>
    {% endif %}
</div>

{% endblock content %}
{% block scripts %}


{% endblock scripts %}