{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Código.uno</title>


    <!-- Latest compiled and minified CSS

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/styles/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css"  >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap-social.css" title="social stylesheet" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/qunit/qunit-1.18.0.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.raty.css"/>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="https://59f98194dea4857a8142e998b76bddcb34d137dc.googledrive.com/host/0B4KIaVIuZK2JbVBkdTd3ak5WN2M/jquery.tagit.css" rel="stylesheet" type="text/css">
    <!--
    <link rel="stylesheet" type="text/css" href="http://gdriv.es/proto/bootstrap-timepicker3.min.css" />
    -->
      <script src="{{ STATIC_URL }}app/scripts/modernizr.js"></script>

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{{ STATIC_URL }}app/styles/activity_tree.css">
    <!-- Custom styles for this template-->


    <!-- Custom styles for derived templates -->
      <style>

      #register-box{
          margin-top: 2rem;
      }

         {% block style %}

         {% endblock style %}
      </style>

    <!-- Custom styles for derived templates -->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




  </head>

  <body>


    <nav class="navbar navbar-static-top navbar-light bg-faded">

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>

    <div class="collapse" id="exCollapsingNavbar">
        <div class="bg-inverse p-a-1">
            <div class="list-group">

              <a href="/courses" class="list-group-item">Cursos</a>
              <a href="/search" class="list-group-item">Biblioteca</a>
              <a href="/student" class="list-group-item">Estudiante</a>
              <a href="/instructor" class="list-group-item">Instructor</a>
              {% if user.is_authenticated %}
                      {% if XML_NAV %}
                        <a href="{{ root_id }}{{root}}" class="list-group-item">Curso</a>
                        <a  class="list-group-item" href="/dashboard{{ root_id }}">Dashboard</a>

                      {% endif %}
                         <a class="list-group-item" href="/logout">Salir</a>
               {% else %}
                    {% if not hidde_login_link %}
                        <a class="list-group-item"  href="/login/?next=/welcome">Iniciar sesión</a>
                        <a class="list-group-item list-group-item-info"  href="/register">Crea tu cuenta</a>
                    {% endif %}
              {% endif %}


            </div>
        </div>
  </div>


    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">


        <a class="navbar-brand" href="/">código.uno </a>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a  class="nav-link" href="/courses">Cursos</a></li>
              <li class="nav-item"><a class="nav-link"  href="/search"> Biblioteca</a>  </li>
             <li class="nav-item"><a  class="nav-link" href="/student">Estudiante</a></li>
             <li class="nav-item"><a  class="nav-link" href="/instructor">Instructor</a></li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right">


          {% if user.is_authenticated %}

           {% if XML_NAV %}
            <li class="nav-item"><a  class="nav-link" href="{{ root_id }}{{root}}">Curso</a></li>
            <li class="nav-item"><a  class="nav-link" href="/dashboard{{ root_id }}">Dashboard</a></li>
            <li class="nav-item"><p id="user_points" class="navbar-text"></p></li>
           {% endif %}

            <li class="nav-item"><a  class="nav-link"  href="#"></a></li>
            {% if user.first_name %}
            <li class="nav-item"><a class="nav-link"  href="/me"> {{ user.first_name }} {{ user.last_name }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link"  href="/me"> {{ user.username }} </a></li>
            {% endif %}

            <li class="nav-item"><a class="nav-link nav-link-user" href="/me">

                <img src="{% gravatar_url user.email 50%}">
                </a>

            </li>




            <li class="nav-item"><a class="nav-link"  href="/logout">Salir</a></li>

          {% else %}
            {% if not hidde_login_link %}
            <li class="nav-item"><a class="nav-link"  href="/login/?next=/welcome">Iniciar sesión</a></li>
             <li class="nav-item"> <a class="btn btn-primary-outline"  href="/register">Crea tu cuenta</a></li>


          {% endif %}

          {% endif %}


          </ul>

        </div>

    </nav>






    <div id="main_container" class="container-fluid">

     <div class="row">
        <div class="col-md-12">
            {%if breadcrumbs%}
                 <ol class="breadcrumb">
                    {% for l in breadcrumbs %}
                        {% if forloop.last %}
                            <li class="active">{{l.name}}</li>
                        {%else%}
                            <li><a href="/{{ l.id }}{{ l.uri }}">{{l.name}}</a></li>

                        {% endif%}
                    {% endfor%}
                </ol>
            {%endif%}
        </div>



     </div>

            {% block content %}

            {% endblock content %}





<footer class="text-muted">
    <div class="container container-fluid">

      <p>Esta aplicación es software libre. Disponible en: <a href="https://github.com/mariosky/protoboard">github.com/mariosky/protoboard </a>  </p>
    </div>

</footer>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- build:js(.) scripts/plugins.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- <script src="{{ STATIC_URL }}app/scripts/jquery.min.js"></script>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://59f98194dea4857a8142e998b76bddcb34d137dc.googledrive.com/host/0B4KIaVIuZK2JbVBkdTd3ak5WN2M/tag-it.js" type="text/javascript" charset="utf-8"></script>

       <!--<script src="{{ STATIC_URL }}app/scripts/bootstrap.min.js"></script>-->
    <script src="{{ STATIC_URL }}app/scripts/jquery-sortable-lists.min.js"></script>

    <script src="{{ STATIC_URL }}app/scripts/mustache.min.js"></script>
    <script type="text/javascript" src="https://b072a7493b24d80848609d1f4876edab240dff84.googledrive.com/host/0B4KIaVIuZK2JUEZmX0ZxQWgwb0k/jquery.oembed.js"></script>
    <script  type="text/javascript" src="{{MEDIA_URL}}js/jquery.raty.js"></script>

    <script>tinymce.init({ selector:'tinytext', height:"220", automatic_uploads:true, plugins: "image link", toolbar:" undo redo| styleselect | bold italic | alignleft aligncenter alignright | link image" })</script>

 <!-- endbuild -->

<!-- build:js scripts/main.js -->


  <script type="text/javascript" charset="utf-8">


      Mustache.tags = ['[[', ']]'];

      {% if XML_NAV  %}
            in_path = true;

            XML_NAV = "{{XML_NAV|safe}}";
            xmlDoc= $.parseXML(XML_NAV);
            $xml = $(xmlDoc);


            $( document ).ready(function() {

                var puntos_totales = 0;
                $xml.find("item[objective_measure!='None']").each(function() {
                    var val =  this.getAttribute("objective_measure");
                    if (isNaN(val)==false)
                    {
                    puntos_totales += Number(val);
                    }
                });


                $("#user_points").html("("+ Math.floor(puntos_totales)+" puntos)");



                $(document).on("click",".nav_next",function( event ) {

                       var form =  $("#nav_form");
                       form.append( $('<input>').attr({ type: 'hidden',
                                                        name: 'nav_event',
                                                        value:'next'
                                                      }));

                      form.submit();



                 });

                $(document).on("click",".nav_prev",function( event ) {
                       var form =  $("#nav_form");
                       form.append( $('<input>').attr({ type: 'hidden',
                                                        name: 'nav_event',
                                                        value:'prev'
                                                      }));

                      form.submit();


                });

                });


            $(document).ready(function() {


            $("#nav_form").submit(function(){
                this.submit();
                $(".nav_next").prop("disabled", true);
                  $(".nav_prev").prop("disabled", true);
                console.log("disabled");
                return false;
              });

               });

          {% else %}

          in_path = false;


    {% endif  %}
          {% if user.is_authenticated %}



            $('#rating-info').raty({
                path: '{{MEDIA_URL}}images',
                score: 0,
                click: function(score, evt)
                        {
                        //alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);

                         $.ajax(
                            {
                                url: '/rate_object',
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify({"uri": "{{ uri }}", "rating": score ,"user":"{{user.id}}"  }),
                                dataType: "json",
                                success: function(data, textStatus, jqXHR) {
                                    $("#rating-message").removeClass("label-info").addClass("label-success");
                                    $("#rating-message").text("Gracias, tu calificación fué registrada");


                                    },
                                error: function(jqXHR, textStatus, errorThrown) {
                                    alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);
                                    }
                                });



                        }

                });

        {% else %}

        {% endif %}

    </script>




  {% block scripts %}

  {% endblock scripts %}







</body>
</html>
