{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Código.uno</title>


    <!-- Latest compiled and minified CSS

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/styles/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css"  >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap-social.css" title="social stylesheet" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/qunit/qunit-1.18.0.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.raty.css"/>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="https://59f98194dea4857a8142e998b76bddcb34d137dc.googledrive.com/host/0B4KIaVIuZK2JbVBkdTd3ak5WN2M/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://gdriv.es/proto/bootstrap-timepicker3.min.css" />
      <script src="{{ STATIC_URL }}app/scripts/modernizr.js"></script>

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{{ STATIC_URL }}app/styles/activity_tree.css">
    <!-- Custom styles for this template-->


    <!-- Custom styles for derived templates -->
      <style>
         {% block style %}

         {% endblock style %}
      </style>

    <!-- Custom styles for derived templates -->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




  </head>

  <body>
  <div id="page">
    <div class="container">

    <nav class="navbar navbar-light   navbar-fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/"> <h1 class="navbar-brand">código.uno</h1>  </a>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a  class="nav-link" href="/courses">Cursos</a></li>
            <li class="nav-item"><a  class="nav-link" href="/practice">Práctica</a></li>
            <li class="nav-item"><a  class="nav-link" href="/library">Biblioteca</a></li>
        </ul>
        <div class="nav navbar-nav pull-xs-right">


          {% if user.is_authenticated %}

                {% if XML_NAV %}
                <li class="nav-item"><a  class="nav-link" href="{{root}}">Curso</a></li>
                <li class="nav-item"><a  class="nav-link" href="/dashboard{{ root_id }}">Dashboard</a></li>
                <li class="nav-item"><p id="user_points" class="navbar-text"></p></li>

                {% endif %}


            <li class="nav-item"><a  class="nav-link"  href="#"></a></li>
            {% if user.first_name %}
            <li class="nav-item"><a class="nav-link"  href="/me"> {{ user.first_name }} {{ user.last_name }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link"  href="/me"> {{ user.username }} </a></li>
            {% endif %}

            <li class="nav-item"><a class="nav-link nav-link-user" href="/me">

                <img src="{% gravatar_url user.email 50%}">
                </a>

            </li>
              <li class="nav-item"><a class="nav-link"  href="/search"><i class="fa fa-search"></i>  Buscar</a>  </li>



            <li class="nav-item"><a class="nav-link"  href="/logout">Salir</a></li>

          {% else %}
            {% if not hidde_login_link %}
            <li class="nav-item"><a class="nav-link"  href="/login/?next=/welcome">Iniciar Sesión</a></li>
             <li class="nav-item"> <a class="btn btn-primary-outline"  href="/register">Crear Cuenta</a></li>


            {% endif %}
          {% endif %}


          </ul>

</div>
    </nav>






    <div id="main_container" class="container-fluid">

     <div class="row">
        <div class="col-md-9">
            {%if breadcrumbs%}
                 <ol class="breadcrumb">
                    {% for l in breadcrumbs %}
                        {% if forloop.last %}
                            <li class="active">{{l.name}}</li>
                        {%else%}
                            <li><a href="/{{ l.id }}{{ l.uri }}">{{l.name}}</a></li>

                        {% endif%}
                    {% endfor%}
                </ol>
            {%endif%}
        </div>


        <div id="user_points" class="col-md-3 ">
             {% if XML_NAV %}
                <div class="row">

                <form id="nav_form"   role="form" action="{{ root_id }}{{root}}" method = "POST">{% csrf_token %}


               <ul class="pager">
                     <li ><span class="nav_prev" > &larr; Anterior</span></li>
                    <li ><span class="nav_next">  Continuar &rarr;</span></li>
               </ul>

                </form>


                 </div>
            {% endif %}
        </div>
     </div>


            {% block content %}
            <!--

            {{content|safe}}

                -->
            {% endblock content %}
    {% if rating_totals %}
 <div class="col-md-6 col-md-offset-3">
               <div class="panel panel-default">
                    <div class="panel-body">

                        <p>Califica esta actividad: <span id="rating-info"> </span>

                            {% if rating_totals.rating__avg %}
                            ({{ rating_totals.rating__avg|floatformat:2 }}/5)
                            {% endif %}
                            {{ rating_totals.rating__count }} voto(s).
                        <span id="rating-message" class="label label-info"> Haz tu selección </span>


                        </p>
                  </div>
               </div>
</div>
{% endif %}

    </div>



      </div><!-- container -->
   </div> <!-- page -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- build:js(.) scripts/plugins.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- <script src="{{ STATIC_URL }}app/scripts/jquery.min.js"></script>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://59f98194dea4857a8142e998b76bddcb34d137dc.googledrive.com/host/0B4KIaVIuZK2JbVBkdTd3ak5WN2M/tag-it.js" type="text/javascript" charset="utf-8"></script>

       <!--<script src="{{ STATIC_URL }}app/scripts/bootstrap.min.js"></script>-->
    <script src="{{ STATIC_URL }}app/scripts/jquery-sortable-lists.min.js"></script>
    <script src="{{ STATIC_URL }}app/scripts/mustache.min.js"></script>
    <script type="text/javascript" src="https://b072a7493b24d80848609d1f4876edab240dff84.googledrive.com/host/0B4KIaVIuZK2JUEZmX0ZxQWgwb0k/jquery.oembed.js"></script>
    <script  type="text/javascript" src="{{MEDIA_URL}}js/jquery.raty.js"></script>

    <script>tinymce.init({ selector:'tinytext', height:"220", automatic_uploads:true, plugins: "image link", toolbar:" undo redo| styleselect | bold italic | alignleft aligncenter alignright | link image" })</script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="{{ STATIC_URL }}app/scripts/main.js"></script>

  <script type="text/javascript" charset="utf-8">

    var Wait;

    Wait = Wait || (function () {
    var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
    return {
        show: function() {
            pleaseWaitDiv.modal();
        },
        hide: function () {
            pleaseWaitDiv.modal('hide');
        },

    };
})();


    function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }


            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });



      Mustache.tags = ['[[', ']]'];

      {% if XML_NAV  %}

        in_path = true;
        XML_NAV = "{{XML_NAV|safe}}";

        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc);


        $( document ).ready(function() {

            var puntos_totales = 0;
            $xml.find("item[objective_measure!='None']").each(function() {
                var val =  this.getAttribute("objective_measure");
                if (isNaN(val)==false)
                {
                puntos_totales += Number(val);
                }
            });


            $("#user_points").html("("+ Math.floor(puntos_totales)+" puntos)");



            $(document).on("click",".nav_next",function( event ) {

                   var form =  $("#nav_form");
                   form.append( $('<input>').attr({ type: 'hidden',
                                                    name: 'nav_event',
                                                    value:'next'
                                                  }));

                  form.submit();



             });
/*

*/

            $(document).on("click",".nav_prev",function( event ) {
                   var form =  $("#nav_form");
                   form.append( $('<input>').attr({ type: 'hidden',
                                                    name: 'nav_event',
                                                    value:'prev'
                                                  }));

                  form.submit();


            });

        });


$(document).ready(function() {



  $("#nav_form").submit(function(){
    this.submit();
    $(".nav_next").prop("disabled", true);
      $(".nav_prev").prop("disabled", true);
    console.log("disabled");
    return false;
  });


});

          {% else %}

          in_path = false;


    {% endif  %}
          {% if user.is_authenticated %}



$('#rating-info').raty({
    path: '{{MEDIA_URL}}images',
    score: 0,
    click: function(score, evt)
            {
            //alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);

             $.ajax(
                {
                    url: '/rate_object',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"uri": "{{ uri }}", "rating": score ,"user":"{{user.id}}"  }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        $("#rating-message").removeClass("label-info").addClass("label-success");
                        $("#rating-message").text("Gracias, tu calificación fué registrada");


                        },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);
                        }
                    });



            }

    });


  $('body').on('click', '.create-course', function(){

    $('#modalCreateCourse').modal();


  });

              $('body').on('click','#createCourseBtn',function (e) {

    $('#modalCreateCourse').modal('hide');

  });

              $('body').on('click', '.create-activity', function() {

      $('#modalChooseType').modal();
  });

    $('body').on('click', '#createActivityBtn', function(e){

        $('#modalCreateActivity').modal('hide');
    });

     $('body').on('click', '#htmlBtn', function(e){
        $('#modalhtml').modal();
    });

     $('body').on('click', '#videoBtn', function(e){
        $('#modalvideo').modal();
     });

        {% else %}

        {% endif %}

    $(function(){
//when user submits html form, this validates that some key values are provided, such as title and content of activity
        $('#_htmlActivity').click(function(e){
            var isValid = true;
            var title = $("#titleHtml").val();
            if (title == ''){
                isValid = false;
                $("#titleHtml").css("background-color", "#FFCECE");
            }
            else{
                $("#titleHtml").css("background-color", "");
            }
            //
            var content = tinymce.get('content').getContent();
            if (content==''){
                isValid=false;
                $(tinymce.activeEditor.getBody()).css("background-color",'#FFCECE');
            }
            else{
                $(tinymce.activeEditor.getBody()).css("background-color",'');
            }

            if (isValid == false){
                e.preventDefault();
                return false;
                }
            else {
                inserthtml();
                return false
            }
        });

        //when user submits video activity form, this validates that key values are provided
        $('#_videoActivity').click(function(e){
            var isValid = true;
            var startS = parseInt($("#startSeconds").val());
            var endS = parseInt($("#endSeconds").val());
            $('#formaVideo')
                    .find('input[type="text"]')
                    .filter(":not(.ui-widget-content)")
                    .filter(":not(.input-optional)")
                    .each(function () {
                        if ($.trim($(this).val()) == '') {
                            isValid = false;
                            $(this).css({
                                "border": "1px solid red",
                                "background": "#FFCECE"
                            });
                        }
                        else {
                            $(this).css({
                                "border": "",
                                "background": ""
                            });
                        }
                    });

            if (startS >= endS){
                isValid = false;
                alert("Tiempo de inicio debe ser menor al tiempo de fin del video.")
            }

            if (isValid == false){
                e.preventDefault();
                return false;
                }
            else {
                insertvideo();
                return false
            }
        });
        //generates id(uri) of html activity using title provided by user
        $('#titleHtml').on('change', function(){
            var id = '/activity/' + this.value.replace(/ /g, '_');
            check(id);
            $('#idhtml').val(id)
        });
        //generates id(uri) of video activity using title provided by user
        $('#titleVideo').on('change', function(){
            var id = '/activity/video/' + this.value.replace(/ /g, '_');
            check(id);
            $('#idvideo').val(id);
        });

        //resets forms such as html and video when modal closes
        $(".modal").on("hidden.bs.modal", function(){
            $("#tagshtml").tagit("removeAll");
            $("#tagsvideo").tagit("removeAll");
            $('#formahtml')[0].reset();
            $('#formadetail')[0].reset();
            $('#formaVideo')[0].reset();
            $('#formadetailv')[0].reset();
            $('#ytVideo').empty();
        });

        //loads loadVideo function when url of video is provided by user
        $('#url').on('change', loadVideo);



    });

    //function that gets all data from html forms and send it to server, if activity exists, it updates it
    function inserthtml(){
        tinyMCE.triggerSave();
        var main= $('#formahtml').serializeArray();
        var detail = $('#formadetail').serializeArray();
        var data = main.concat(detail);
        data = indexdata(data);
        console.log(data);
        var current = window.location.pathname;
        $.ajax({
            type: 'post',
            url: '/upload_activity',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (info){
                info = jQuery.parseJSON(info);
                if (info.updatedExisting == true){
                    alert("Actividad modificada");
                    $('#formahtml')[0].reset();
                    $("#tagshtml").tagit("removeAll");
                    $('#formadetail')[0].reset();
                    $("#modalhtml").modal('hide');
                    if (current == '/activitybuilder'){
                        location.reload()
                    }
                }
                else if (info.updatedExisting == false){
                    alert("Actividad agregada");
                    $('#formahtml')[0].reset();
                    $("#tagshtml").tagit("removeAll");
                    $('#formadetail')[0].reset();
                    $("#modalhtml").modal('hide');
                    if (current == '/activitybuilder'){
                        location.reload()
                    }
                }
                else if (info.message == "Duplicated"){
                    alert("Duplicated Entry");
                    $('#formahtml')[0].reset();
                    $("#tagshtml").tagit("removeAll");
                    $('#formadetail')[0].reset();
                    $("#modalhtml").modal('hide');
                    if (current == '/activitybuilder'){
                        location.reload()
                    }
                }
            },
            error: function(info){
                if (info){
                    if (data.name == 'errmsg' && data.code== 11000){
                        alert("Error. Intente otro nombre para su actividad");
                    }
                    return alert("Error. La actividad no se agrego")
                }

            }
        });

    }

    //function that gets all data from video forms and sends it to the server for insertion, if id exists, it will update activity
    function insertvideo(){
        var main= $('#formaVideo').serializeArray();
        var detail = $('#formadetailv').serializeArray();
        var data = main.concat(detail);
        data = indexdata(data);
        var current = window.location.pathname;
        console.log(data);
        $.ajax({
            type: 'post',
            url: '/upload_activity',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (info) {
                info = jQuery.parseJSON(info);
                if (info.updatedExisting == true){
                    alert("Actividad modificada");
                    $('#formaVideo')[0].reset();
                    $("#tagsvideo").tagit("removeAll");
                    $("#modalvideo").modal('hide');
                    $("#ytVideo").empty();
                    if (current == '/activitybuilder'){
                        location.reload()
                    }
                }
                else if (info.updatedExisting == false){
                    alert("Actividad agregada");
                    $('#formaVideo')[0].reset();
                    $("#tagsvideo").tagit("removeAll");
                    $("#modalvideo").modal('hide');
                    $("#ytVideo").empty();
                    if (current == '/activitybuilder'){
                        location.reload()
                    }
                }
                else if (info.message == "Duplicated"){
                    alert("Duplicated Entry");
                    $('#formaVideo')[0].reset();
                    $("#tagsvideo").tagit("removeAll");
                    $("#modalvideo").modal('hide');
                    $("#ytVideo").empty();
                    if (current == '/activitybuilder'){
                        location.reload()
                    }
                }
            },
            error: function(info) {
                   alert(info)
            }
        });
    }

    //function that receives data from all types of insert activities, and returns data stored in a dictionary with key and value for easy conversion to json
  function indexdata(data){
      var indexed = {};
      $.map(data, function(n, i){
          if (n['name']=='tags'){
              n['value'] = n['value'].split(',')
          }
          indexed[n['name']] = n['value'];
      });

      return indexed
  }

    //function used to check if title of activities already exist in db, if it exists, user is prompted with a warning message
   function check(valor){
       $.ajax({
           type: 'get',
           url: '/get_activity',
           data: { valor: valor},
           success: function (data) {
               var obj =jQuery.parseJSON(data);
               if (jQuery.isEmptyObject(obj)){
                   console.log("No existe");
               }
               else{
                   alert("Nombre de actividad ya existe");
               }
           },
           error: function (data){
               console.log("Error")
           }
       });

   }

    //function used when user inputs a youtube url, load video in iframe
    function loadVideo() {
        var url = $('#url').val();
        var p = /^(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$/;
        if ((url.match(p)) == null){
            if (url == ''){
                $('#ytVideo').empty()
            }
            else{
                alert("URL invalida");
                $('#ytVideo').empty()
            }
        }
        else{
            var urlchange = url.replace('https://www.youtube.com/watch?v=', 'http://www.youtube.com/embed/');
            var vid_id=url.replace('https://www.youtube.com/watch?v=','');
            $('#youtube_id').val(vid_id);
            var htm = '<iframe width="425" height="300" src="' + urlchange + '?rel=0" frameborder="0" allowfullscreen ></iframe>';
            $('#ytVideo').html(htm);
            return false;
        }

    }

//loads dropdown menu from another dropdown menu (Crear menu)
    (function ($) {
    $(document).ready(function () {
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().siblings().removeClass('open');
            $(this).parent().toggleClass('open');
        });
    });
    })(jQuery);

    (function($){
    $(document).ready(function () {
        var user = '{{ user }}';
        if(user =='AnonymousUser')  {
            $('#_htmlActivity').attr("disabled",true);
            $('#_videoActivity').attr("disabled",true);
        }
        else {
            $('#_htmlActivity').removeAttr("disabled");
            $('#_videoActivity').removeAttr("disabled");
        }

    });
    })(jQuery);

    //initializes tagit plugin for tag input
    $(document).ready(function() {
        $("#tagshtml").tagit({
            fieldName: "tags"
        });

        $("#tagsvideo").tagit({
            fieldName: "tags"
        });

        $("#tagsprog").tagit({
            fieldName: "tags"
        });

        $("#tagsquiz").tagit({
            fieldName: "tags"
        });

        $("#txttags").tagit({
            fieldName: "tags"
        });
    });
    </script>




  {% block scripts %}

  {% endblock scripts %}




<div class="modal fade" id="modalCreateCourse">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/course-builder/" method="post">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Course</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control hidden" id="containerId" placeholder="" required pattern="https?://.+" disabled>
                    </div>
                    <div class="form-group">
                        <label for="courseURI">Course URI</label>
                        <input type="text" name="course_uri" class="form-control" id="courseURI" placeholder="">
                        <label for="courseName">Display Name</label>
                        <input type="text" name="course_name" class="form-control" id="courseName" placeholder="">
                        <label for="courseDesc">Description</label>
                        <input type="text" name="course_short_description" class="form-control" id="courseDesc" placeholder="">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label> <input id="containerIsVisible" type="checkbox"> Public </label>
                        </div>
                    </div>
                </div><!-- /.modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="createCourseBtn" type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                Confirm <i class="fa fa-upload"></i>
            </div>
            <div class="modal-body">
                Activity already exists. Update?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="acceptEditBtn">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modalhtml">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">HTML</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#main" data-toggle="tab">Main</a></li>
                    <li><a href="#detail" data-toggle="tab">Detail</a> </li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="main">
                        <div class="container-fluid">
                            <form id="formahtml" >{% csrf_token %}
                                <div class="form-group">
                                    <label for="title">Display Name</label>
                                    <input type="text" class="form-control" id="titleHtml" name="title"  required="true">
                                    <label for="descriptionhtml">Description</label>
                                    <textarea class="form-control" id="descriptionhtml" name="description" rows="3"></textarea>
                                    <label for="tagshtml">Tags:</label><br>
                                    <input class="form-control" id="tagshtml" name="tags"  placeholder="Create tags with tab">
                                    <br>
                                    <input type="hidden" id="type" name="type" value="text">
                                    <input type="hidden" id="author" name="author" value="{{ user.email }}">
                                    <label for="content">Content</label>
                                    <tinytext name="content" id="content"></tinytext>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="detail">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form id="formadetail" style="align-content: center">
                                    <div class="form-group" >
                                        <label for="idhtml">ID</label>
                                        <input type="text" readonly="readonly" class="form-control" id="idhtml" name="_id">

                                        <label for="rightshtml">Rights</label>
                                        <input type="text" class="form-control" id="rightshtml" name="rights">
                                        <label for="externalhtml">External URL</label>
                                        <input type="text" class="form-control" id="externalhtml" name="external_url">
                                        <label for="publisherhtml">Publisher</label>
                                        <input type="text" class="form-control" id="publisherhtml" name="publisher">

                                        <br>
                                        <label for="iconhtml">Icon</label>
                                        <select id="iconhtml" name="icon" >
                                            <option value="coffee">Coffee</option>
                                            <option value="file" selected>File</option>
                                            <option value="youtube-play">Youtube</option>
                                            <option value="puzzle-piece">Puzzle</option>
                                        </select>
                                        <label for="levelhtml">Level</label>
                                        <select id="levelhtml" name="level">
                                            <option value="principiante">Principiante</option>
                                            <option value="intermedio">Intermedio</option>
                                            <option value="avanzado">Avanzado</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group" align="center">
                <button id="_htmlActivity" type="submit" class="btn btn-primary">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="modal fade" id="modalvideo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Video</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#mainv" data-toggle="tab">Main</a></li>
                    <li><a href="#detailv" data-toggle="tab">Detail</a> </li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="mainv">
                        <div class="container-fluid">
                            <form id="formaVideo" >{% csrf_token %}
                                <div class="form-group">
                                    <label for="title">Display Name</label>
                                    <input type="text" class="form-control" id="titleVideo" name="title"  required="true"><br>
                                    <label for="descriptionvideo">Description</label>
                                    <textarea class="form-control" id="descriptionvideo" name="description" rows="3">
                                    </textarea>
                                    <label for="tagsvideo">Tags</label>
                                    <input class="form-control input-optional" id="tagsvideo" name="tags"><br>
                                    <input type="hidden" id="type" name="type" value="video">
                                    <input type="hidden" id="author" name="author" value="{{ user.email }}">
                                    <input type="hidden" id="youtube_id" name="youtube_id">
                                    <label for="url">URL Video</label>
                                    <input type="text" id="url" name="url" class="form-control" placeholder="URL Video"><br>
                                    <div class="form-inline" align="center" style="padding: 5px">
                                    <div class="form-group">
                                        <label for="startSeconds" class="">Start Seconds</label>
                                        <input type="text" class="form-control input-optional" id="startSeconds" name="startSeconds" style="width: 30%">
                                    </div>

                                        <div class="form-group">
                                            <label for="endSeconds" class="">End Seconds</label>
                                            <input type="text" class="form-control input-optional" id="endSeconds" name="endSeconds" style="width: 30%">
                                        </div>
                                    </div><br>

                                    <div id="ytVideo" align="center">
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="detailv">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form id="formadetailv" style="align-content: center">
                                    <div class="form-group" >
                                        <label for="idvideo">ID</label>
                                        <input type="text" readonly="readonly" class="form-control" id="idvideo" name="_id">

                                        <label for="rightsvideo">Rights</label>
                                        <input type="text" class="form-control" id="rightsvideo" name="rights">
                                        <label for="externalvideo">External URL</label>
                                        <input type="text" class="form-control" id="externalvideo" name="external_url">
                                        <label for="publishervideo">Publisher</label>
                                        <input type="text" class="form-control" id="publishervideo" name="publisher">

                                        <label for="iconvideo">Icon</label>
                                        <select id="iconvideo" name="icon" >
                                            <option value="coffee">Coffee</option>
                                            <option value="file">File</option>
                                            <option value="youtube-play" selected>Youtube</option>
                                            <option value="puzzle-piece">Puzzle</option>
                                        </select>
                                        <label for="levelvideo">Level</label>
                                        <select id="levelvideo" name="level">
                                            <option value="principiante">Principiante</option>
                                            <option value="intermedio">Intermedio</option>
                                            <option value="avanzado">Avanzado</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group" align="center">
                <button id="_videoActivity" type="submit" class="btn btn-primary">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h1>Processing...</h1>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>
