{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Protoboard</title>


    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css"  >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap-social.css" title="social stylesheet" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/qunit/qunit-1.18.0.css">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.raty.css"/>
      <script src="{{ STATIC_URL }}app/scripts/modernizr.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ STATIC_URL }}app/styles/activity_tree.css">
    <!-- Custom styles for this template-->


    <!-- Custom styles for derived templates -->
      <style>
         {% block style %}

         {% endblock style %}
      </style>

    <!-- Custom styles for derived templates -->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




  </head>

  <body>
  <div id="page">
    <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"> protoboard.org </a>


         <!-- <a class="navbar-brand" href="/">protoboard.org</a> -->
        </div>

        <div  id="navbar" class=" collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}

                {% if XML_NAV %}
                <li><a href="{{root}}">Curso</a></li>
                <li><a href="/dashboard{{ root_id }}">Dashboard</a></li>
                <li><p id="user_points" class="navbar-text"></p></li>

                {% endif %}


            <li><a href="#"></a></li>
            {% if user.first_name %}
            <li><a href="/me"> {{ user.first_name }} {{ user.last_name }}</a></li>
            {% else %}
            <li><a href="/me"> {{ user.username }} </a></li>
            {% endif %}

            <li><a class="navbar-user" href="/me">

                <img src="{% gravatar_url user.email 50%}">
                </a>

            </li>

             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Crear  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="create-course" href="#">Nuevo Curso</a></li>
            <li><a  href="#">Mis Cursos </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Nueva Actividad</a></li>
            <li><a href="#">Mis Actividades</a></li>
          </ul>
        </li>

            <li><a href="/logout">Salir</a></li>

          {% else %}
            {% if not hidde_login_link %}
            <li><a href="/login/?next=/welcome">Iniciar Sesión</a></li>
            {% endif %}
          {% endif %}


          </ul>

        </div>
      </div>
    </nav>







    <div id="main_container" class="container-fluid">

     <div class="row">
        <div class="col-md-9">
            {%if breadcrumbs%}
                 <ol class="breadcrumb">
                    {% for l in breadcrumbs %}
                        {% if forloop.last %}
                            <li class="active">{{l.name}}</li>
                        {%else%}
                            <li><a href="/{{ l.id }}{{ l.uri }}">{{l.name}}</a></li>

                        {% endif%}
                    {% endfor%}
                </ol>
            {%endif%}
        </div>


        <div id="user_points" class="col-md-3 ">
             {% if XML_NAV %}
                <div class="row">

                <form id="nav_form"   role="form" action="{{ root_id }}{{root}}" method = "POST">{% csrf_token %}


               <ul class="pager">
                     <li ><span class="nav_prev" > &larr; Anterior</span></li>
                    <li ><span class="nav_next">  Continuar &rarr;</span></li>
               </ul>

                </form>


                 </div>
            {% endif %}
        </div>
     </div>


            {% block content %}
            <!--

            {{content|safe}}

                -->
            {% endblock content %}
    {% if rating_totals %}
 <div class="col-md-6 col-md-offset-3">
               <div class="panel panel-default">
                    <div class="panel-body">

                        <p>Califica esta actividad: <span id="rating-info"> </span>

                            {% if rating_totals.rating__avg %}
                            ({{ rating_totals.rating__avg|floatformat:2 }}/5)
                            {% endif %}
                            {{ rating_totals.rating__count }} voto(s).
                        <span id="rating-message" class="label label-info"> Haz tu selección </span>


                        </p>
                  </div>
               </div>
</div>
{% endif %}

    </div>



      </div><!-- container -->
   </div> <!-- page -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- build:js(.) scripts/plugins.js -->

    <script src="{{ STATIC_URL }}app/scripts/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}app/scripts/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}app/scripts/jquery-sortable-lists.min.js"></script>
    <script src="{{ STATIC_URL }}app/scripts/mustache.min.js"></script>
    <script  type="text/javascript" src="{{MEDIA_URL}}js/jquery.raty.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>


<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="{{ STATIC_URL }}app/scripts/main.js"></script>

  <script type="text/javascript" charset="utf-8">


function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });



      Mustache.tags = ['[[', ']]'];

      {% if XML_NAV  %}

        in_path = true;
        XML_NAV = "{{XML_NAV|safe}}";

        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc);


        $( document ).ready(function() {

            var puntos_totales = 0;
            $xml.find("item[objective_measure!='None']").each(function() {
                var val =  this.getAttribute("objective_measure");
                if (isNaN(val)==false)
                {
                puntos_totales += Number(val);
                }
            });


            $("#user_points").html("("+ Math.floor(puntos_totales)+" puntos)");



            $(document).on("click",".nav_next",function( event ) {

                   var form =  $("#nav_form");
                   form.append( $('<input>').attr({ type: 'hidden',
                                                    name: 'nav_event',
                                                    value:'next'
                                                  }));

                  form.submit();



             });
/*

*/

            $(document).on("click",".nav_prev",function( event ) {
                   var form =  $("#nav_form");
                   form.append( $('<input>').attr({ type: 'hidden',
                                                    name: 'nav_event',
                                                    value:'prev'
                                                  }));

                  form.submit();


            });

        });


$(document).ready(function() {
  $('.previous').click(function() {
    $('.previous').hide(0);
    $('.next').hide(0);
  });
  $('.next').click(function() {
    $('.previous').hide(0);
    $('.next').hide(0);
  });
});

          {% else %}

          in_path = false;


    {% endif  %}
          {% if user.is_authenticated %}



$('#rating-info').raty({
    path: '{{MEDIA_URL}}images',
    score: 0,
    click: function(score, evt)
            {
            //alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);

             $.ajax(
                {
                    url: '/rate_object',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"uri": "{{ uri }}", "rating": score ,"user":"{{user.id}}"  }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        $("#rating-message").removeClass("label-info").addClass("label-success");
                        $("#rating-message").text("Gracias, tu calificación fué registrada");


                        },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);
                        }
                    });



            }

    });




  $('body').on('click', '.create-course', function(){

    $('#modalCreateCourse').modal();


  });

              $('body').on('click','#createCourseBtn',function (e) {

    $('#modalCreateCourse').modal('hide');

  });

        {% else %}

        {% endif %}


    </script>




  {% block scripts %}

  {% endblock scripts %}


  <div class="modal fade" id="modalCreateCourse">
  <div class="modal-dialog">
    <div class="modal-content">
       <form action="/course-builder/1" method="post">{% csrf_token %}
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Course</h4>
      </div>


      <div class="modal-body">

        <div class="form-group">
          <input type="text" class="form-control hidden" id="containerId" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="containerName">Display Name</label>
          <input type="text" name="course-name" class="form-control" id="containerName" placeholder="">
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label> <input id="containerIsVisible" type="checkbox"> Public </label>
          </div>

        </div>


      </div><!-- /.modal-body -->


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="createCourseBtn" type="submit" class="btn btn-primary">Create</button>
      </div>
           </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



  </body>
</html>
