{% extends "activitytree/base.html" %}



{% block content %}


    <div id="navlist" class = "row">


     </div>

    <div class="row">

         <form id="learning_activity_form"   role="form" action="{{uri}}" method = "POST">{% csrf_token %}


               <ul class="pager">
                     <li class="previous"><span class="nav_prev" > &larr; Anterior</span></li>
                    <li class="next"><span class="nav_next">  Continuar &rarr;</span></li>
               </ul>


        <!-- <div class="form-group">
            <label for="r10">Comentario:</label>
            <select id="exit" name="objective_measure" class="form-control" >
				<option value="70"> Ninguno </option>
				<option value="100">Si le entendí</option>
				<option value="50">Más o menos  </option>
				<option value="20"> Para nada </option>
	        </select>

        </div> -->
       </form>


    </div>

{% endblock content %}

{% block scripts %}

<script id="container_template" type="x-tmpl-mustache">
	<div class="col-xs-8 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<a href="[[uri]]">
					<h4><i class="[[icon]]"></i> [[name]] </h4>
				</a>
			</div>
		</div>
	</div>
</script>

<script type="text/javascript" charset="utf-8">

    $( document ).ready(function() {

        Mustache.tags = ['[[', ']]'];

        XML_NAV = "{{XML_NAV|safe}}";
        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc)
        $current = $xml.find("item[is_current|='True']");
        if ($current[0].getAttribute("is_container")=="True")
        {
            var container_template = $('#container_template').html();
            Mustache.parse(container_template);   // optional, speeds up future uses

            $current.children().each(function( index ) {
                var rendered ="";
                var uri_string = this.getAttribute("uri");

                if (uri_string.lastIndexOf("/test/", 0) === 0)
                {
                    rendered = Mustache.render(container_template, {name: this.getAttribute("identifier"),
                        uri:uri_string,
                        icon:"fa fa-coffee"});

                }
                else
                {
                    rendered = Mustache.render(container_template, {name: this.getAttribute("identifier"),
                        uri:uri_string,
                        icon:"fa fa-book"});
                }

                $("#navlist").append(rendered);

            });

        }

    });

</script>

{% endblock scripts %}