{% extends "activitytree/base.html" %}

  {% block style %}

.title-list{
      margin-bottom:0.4em;
      margin-top:0.4em;

      }
.course-list-card{
      padding-top:10px;
      padding-bottom:10px;

      }
  {% endblock style %}


{% block content %}


 <div class = "row">

     {{content|safe}}

 </div>



    <div class = "row">

        <div class="container">

            <div id="navlist"  class="list-group">



            </div>

        </div>
    </div>

{% endblock content %}




{% block scripts %}

<script id="container_template_old" type="x-tmpl-mustache">
<div class="col-sm-12">
    <div class="card">
        <div class="card-block course-list-card">
            <h5 class="card-title title-list">
             [[#progress_status]]
             <small>  <i class="fa fa-check-square-o fa-check"></i> </small>

             [[/progress_status]]
             [[^progress_status]]
                <small>   <i class="fa fa-square-o fa-check"></i> </small>
             [[/progress_status]]



            <a href="/[[path_id]][[uri]]">
             [[name]]  </a>
            </h5>

            <p class="card-text">[[description]]</p>
            <div id="rating-[[id]]" class="raty"> </div>
            <div class="list-group">
                    [[#children_activities]]
                                <a href=[[^disabled]] "/[[path_id]][[uri]]"[[/disabled]][[#disabled]]"#"[[/disabled]]  class="list-group-item [[#disabled]] disabled [[/disabled]]">
                                  <i class="[[icon]]"></i> [[heading]]
                                </a>
                    [[/children_activities]]
            </div>
    </div>
</div>
</script>


<script id="container_template" type="x-tmpl-mustache">

 <a href="/[[path_id]][[uri]]" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100  justify-content-between">

      <h5 class="mb-1 text-primary"> [[name]] </h5>
      <small class="text-muted">Folder</small>
    </div>
     <p class="mb-1 text-muted">[[description]]</p>

    [[#progress_status]]
           <small class="text-success">  <i class="fa fa-folder text-success"></i> Folder </small>
    [[/progress_status]]
    [[^progress_status]]
         <small>   <i class="fa fa-folder text-primary"></i> </small>
    [[/progress_status]]

  </a>
</script>


<script id="activity_template" type="x-tmpl-mustache">


 <a href="/[[path_id]][[uri]]" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100  justify-content-between">

      <h5 class="mb-1 text-primary"> [[name]] </h5>
      [[#show_objective_measure]]
          <small class="text-muted">[[objective_measure]] PUNTOS</small>
       [[/show_objective_measure]]
    </div>

     <p class="mb-1 text-muted">[[description]]</p>

     <small class="[[^progress_status]] text-muted [[/progress_status]] [[#progress_status]]  text-success     [[/progress_status]]           "><i class="[[icon]]"></i> [[activity_type]] </small>

  </a>
</script>


<script id="disabled_activity_template" type="x-tmpl-mustache">
 <a href="#" class="list-group-item disabled flex-column align-items-start">
    <div class="d-flex w-100  justify-content-between">

      <h5 class="mb-1 text-muted "> [[name]] </h5>
      [[#show_objective_measure]]
          <small class="text-muted">[[objective_measure]] PUNTOS</small>
       [[/show_objective_measure]]
    </div>

     <p class="mb-1 text-muted">[[description]]</p>

     <small class="text-muted"><i class="[[icon]]"></i> [[activity_type]] </small>

  </a>

</script>




<script id="activity_template_old" type="x-tmpl-mustache">
<div class="col-sm-12">
    <div class="card">
                   <div class="card-block course-list-card">


                          <h5 class="card-title title-list">
                            [[#progress_status]]
                                  <i class="fa fa-check-square-o fa-check"></i>

                            [[/progress_status]]
                            [[^progress_status]]
                                  <i class="fa fa-square-o fa-check"></i>
                            [[/progress_status]]

                           <a href="/[[path_id]][[uri]]" >[[name]]  </a>
                           </h5>

                           <p class="card-text title-list">
                             <div class="row">

                            <div class="col-md-3 offset-md-3">
                                  <small class="text-muted"><i class="[[icon]]"></i> [[activity_type]] </small>
                             </div>

                         [[#show_attempts]]
                            <div class="col-md-3 text-center">
                                   <small class="text-muted">Intentos: [[num_attempts]] </small>
                             </div>
                         [[/show_attempts]]
                          [[#show_objective_measure]]
                             <div class="col-md-3 text-center">
                                 <small class="text-muted">[[objective_measure]] PUNTOS</small>
                             </div>
                          [[/show_objective_measure]]

                     </div>


                          <p class="card-text">[[description]]</p>
                          <div id="rating-[[id]]" class="raty"> </div>

                    </div>

    </div>
</div>
</script>




<script type="text/javascript" charset="utf-8">


    function get_icon(uri_string)
    {

        if (uri_string.lastIndexOf("/test/", 0) === 0)
            return {icon:"fa fa-pencil",activity_type: "Quiz"} ;
        else if (uri_string.lastIndexOf("/survey/", 0) === 0)
            return {icon:"fa fa-pencil-square-o",activity_type: "Encuesta"} ;
        else if (uri_string.lastIndexOf("/activity/video/", 0) === 0)
            return {icon:"fa fa-video-camera",activity_type: "Video"} ;
        else if (uri_string.lastIndexOf("/activity/", 0) === 0)
            return {icon:"fa fa-book",activity_type: "Lectura"} ;
        else if (uri_string.lastIndexOf("/program/", 0) === 0)
            return {icon:"fa fa-coffee",activity_type: "Ejercicio en Consola"} ;

    }

    function get_children_activities( element)
    {
        var children = [];
        $(element).children().each(function (index) {

            if (this.getAttribute("pre_condition")!="hidden" && this.getAttribute("is_visible")=="True" ) {

                var uri_string = this.getAttribute("uri");

                var icon = {};

                if (this.getAttribute("is_container") == "True")
                    icon.icon =  "fa fa-folder-open";
                else
                    icon = get_icon(uri_string);

                if (this.getAttribute("progress_status")=="completed")
                    {
                    icon.icon = icon.icon + " fa fa-check";
                    }
                children[children.length] =  {
                    heading: this.getAttribute("name"),
                    uri:uri_string,
                    path_id: this.getAttribute("id"),
                    icon:icon.icon,
                    disabled:(this.getAttribute("pre_condition")=="disabled"),
                    progress_status:(this.getAttribute("progress_status")=="completed")
                    };
                }

        });


        return children;
    }

    $( document ).ready(function() {

        Mustache.tags = ['[[', ']]'];
        var container_template = $('#container_template').html();
        var activity_template = $('#activity_template').html();
        var disabled_activity_template = $('#disabled_activity_template').html();
        var disabled_container_template = $('#disabled_activity_template').html();
        Mustache.parse(container_template);   // optional, speeds up future uses
        Mustache.parse(activity_template);   // optional, speeds up future uses

        var $current = $xml.find("item[is_current|='True']");
        if ($current[0].getAttribute("is_container") == "True") {


            $current.children().each(function (index) {
                var rendered = "";
                var uri_string = this.getAttribute("uri");
                var recommended_value = this.getAttribute("recomended_value");
                if (recommended_value == "None" || recommended_value == "0")
                    recommended_value = 0;

                var template;
                if (this.getAttribute("pre_condition") != "hidden" && this.getAttribute("is_visible") == "True") {
                    if (this.getAttribute("is_container") == "True") {

                        if (this.getAttribute("pre_condition") == "disabled")
                            template = disabled_container_template;
                        else
                            template = container_template;

                        rendered = Mustache.render(template, {
                            name: this.getAttribute("name"),
                            uri: uri_string,
                            path_id:this.getAttribute("id"),
                            icon: "fa fa-folder-open",
                            image: this.getAttribute("image"),
                            description: this.getAttribute("description"),
                            activity_type: this.getAttribute("secondary_text"),
                            id: this.getAttribute("activity"),
                            rating: recommended_value,
                            children_activities: get_children_activities(this),
                            progress_status: (this.getAttribute("progress_status") == "completed")

                        });
                    }


                    else {
                        var activity_type = get_icon(uri_string);

                        if (this.getAttribute("pre_condition") == "disabled")
                            template = disabled_activity_template;
                        else
                            template = activity_template;


                        var show_attempts = !(uri_string.lastIndexOf("/activity/", 0) === 0);

                        var completed = this.getAttribute("progress_status") == "completed";
                        var has_objective_measure = this.getAttribute("objective_measure") != "None";


                        rendered = Mustache.render(template, {
                            name: this.getAttribute("name"),
                            uri: uri_string,
                            icon: activity_type.icon,
                            image: this.getAttribute("image"),
                            description: this.getAttribute("description"),
                            activity_type: activity_type.activity_type,
                            id: this.getAttribute("activity"),
                            path_id: this.getAttribute("id"),
                            rating: recommended_value,
                            num_attempts: this.getAttribute("num_attempts"),
                            attempt_limit: this.getAttribute("attempt_limit"),

                            progress_status: completed,
                            objective_measure: Math.floor(this.getAttribute("objective_measure")),
                            show_objective_measure: has_objective_measure,
                            show_attempts: show_attempts


                        });


                    }
                }

                if (this.getAttribute("is_visible") == "False"
                        && this.getAttribute("is_container") == "True"
                        && this.getAttribute("pre_condition") != "disabled") {

                    $(this).children().each(function (index) {
                        var rendered = "";
                        var uri_string = this.getAttribute("uri");
                        var recommended_value = this.getAttribute("recomended_value");
                        if (recommended_value == "None" || recommended_value == "0")
                            recommended_value = 0;

                        var template;
                        if (this.getAttribute("pre_condition") != "hidden" && this.getAttribute("is_visible") == "True") {
                            if (this.getAttribute("is_container") == "True") {

                                if (this.getAttribute("pre_condition") == "disabled")
                                    template = disabled_container_template;
                                else
                                    template = container_template;

                                rendered = Mustache.render(template, {
                                    name: this.getAttribute("name"),
                                    uri: uri_string,
                                    icon: "fa fa-folder-open",
                                    image: this.getAttribute("image"),
                                    description: this.getAttribute("description"),
                                    activity_type: activity_type.activity_type,
                                    id: this.getAttribute("activity"),
                                    path_id: this.getAttribute("id"),
                                    rating: recommended_value,
                                    children_activities: get_children_activities(this),
                                    progress_status: (this.getAttribute("progress_status") == "completed")

                                });
                            }


                            else {
                                var activity_type = get_icon(uri_string);

                                if (this.getAttribute("pre_condition") == "disabled")
                                    template = disabled_activity_template;
                                else
                                    template = activity_template;


                                var show_attempts = !(uri_string.lastIndexOf("/activity/", 0) === 0);

                                var is_satisfied = this.getAttribute("progress_status") == "completed";
                                var has_objective_measure = this.getAttribute("objective_measure") != "None";


                                rendered = Mustache.render(template, {
                                            name: this.getAttribute("name"),
                                            uri: uri_string,
                                            icon: activity_type.icon,
                                            image: this.getAttribute("image"),
                                            description: this.getAttribute("description"),
                                            activity_type: activity_type.activity_type,
                                            id: this.getAttribute("activity"),
                                            rating: recommended_value,
                                            num_attempts: this.getAttribute("num_attempts"),
                                            attempt_limit: this.getAttribute("attempt_limit"),
                                            path_id: this.getAttribute("id"),
                                            progress_status: is_satisfied,
                                            objective_measure: Math.floor(this.getAttribute("objective_measure")),
                                            show_objective_measure: has_objective_measure,
                                            show_attempts: show_attempts}
                                );
                            }
                         $("#navlist").append(rendered);
                        }
                    });
                }

                $("#navlist").append(rendered);
                if (recommended_value) {
                    $('#rating-' + this.getAttribute("activity")).raty({
                        path: '{{MEDIA_URL}}images',
                        score: recommended_value,
                        readOnly: true
                    });
                }


            });
        }
    });
</script>

{% endblock scripts %}