{% extends "activitytree/base.html" %}



{% block content %}


    <div id="navlist" class = "row">


     </div>

    <div class="row">

         <form id="learning_activity_form"   role="form" action="{{uri}}" method = "POST">{% csrf_token %}


               <ul class="pager">
                     <li class="previous"><span class="nav_prev" > &larr; Anterior</span></li>
                    <li class="next"><span class="nav_next">  Continuar &rarr;</span></li>
               </ul>


        <!-- <div class="form-group">
            <label for="r10">Comentario:</label>
            <select id="exit" name="objective_measure" class="form-control" >
				<option value="70"> Ninguno </option>
				<option value="100">Si le entendí</option>
				<option value="50">Más o menos  </option>
				<option value="20"> Para nada </option>
	        </select>

        </div> -->
       </form>


    </div>

{% endblock content %}

{% block scripts %}

<script id="container_template" type="x-tmpl-mustache">
	<div class="col-xs-12 col-md-4">
		<div class="thumbnail">
		   <a href="[[uri]]">
		       <img src="[[image]]" alt="...">
		   </a>

			<div class="caption">
			   <h4><small><i class="[[icon]]"></i> [[activity_type]]  </small></h4>
				<a href="[[uri]]" class="disabled">
					<h4>[[name]] </h4>
				</a>
				<p>[[description]]</p>				      <div class="modal-footer" style="text-align: left">
                         <div class="progress">
                             <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                  aria-valuemax="100" style="width: 70%;">
                                 <span class="sr-only">0% Complete</span>
                             </div>
                         </div>
                     </div>
                     <ul class="list-group">
                            <li class="list-group-item">
                            <span class="badge">14</span>
                            Actividades totales
                     </li>
                         <ul class="list-group">
                            <li class="list-group-item">
                            <span class="badge">0</span>
                            Actividades completas
                            </li>
                        </ul>

                     <div class="row">
                         <div class="col-md-4">
                           <i class="fa fa-check fa-2x"></i><br/>
                             <small>COMPLETO</small>
                         </div>
                         <div class="col-md-4">
                               <i class="fa fa-lock fa-2x"></i><br/>
                             <small>BLOQUEADO</small>
                         </div>

                     </div>
			</div>
		</div>
	</div>
</script>

<script id="activity_template" type="x-tmpl-mustache">
	<div class="col-xs-12 col-md-4">
		<div class="thumbnail">
		   <a href="[[uri]]">
		       <img src="[[image]]" alt="...">
		   </a>

			<div class="caption">
			   <h4><small><i class="[[icon]]"></i> [[activity_type]]  </small></h4>
				<a href="[[uri]]" class="disabled">
					<h4>[[name]] </h4>
				</a>
				<p>[[description]]</p>				      <div class="modal-footer" style="text-align: left">

                     </div>
                         <ul class="list-group">
                            <li class="list-group-item">
                            <span class="badge">0</span>
                            Intentos:
                            </li>
                        </ul>

                     <div class="row">
                         <div class="col-md-4">
                           <i class="fa fa-check fa-2x"></i><br/>
                             <small>COMPLETO</small>
                         </div>
                         <div class="col-md-4">
                               <i class="fa fa-lock fa-2x"></i><br/>
                             <small>BLOQUEADO</small>
                         </div>
                         <div class="col-md-4">
                              <i class="fa fa-puzzle-piece fa-2x"></i><br/>
                             <small>0/15</small>
                         </div>
                     </div>
			</div>
		</div>
	</div>
</script>


<script type="text/javascript" charset="utf-8">

    $( document ).ready(function() {

        Mustache.tags = ['[[', ']]'];

        XML_NAV = "{{XML_NAV|safe}}";
        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc)
        $current = $xml.find("item[is_current|='True']");
        if ($current[0].getAttribute("is_container")=="True")
        {
            var container_template = $('#container_template').html();
            var activity_template = $('#activity_template').html();

            Mustache.parse(container_template);   // optional, speeds up future uses
            Mustache.parse(activity_template);   // optional, speeds up future uses

            $current.children().each(function( index ) {
                var rendered ="";
                var uri_string = this.getAttribute("uri");

                if (this.getAttribute("is_container") =="True")
                {
                    rendered = Mustache.render(container_template, {name: this.getAttribute("heading"),
                            uri: uri_string,
                            icon: "fa fa-folder-open",
                            image:this.getAttribute("image"),
                            description:this.getAttribute("description"),
                            activity_type:this.getAttribute("secondary_text")
                    })
                }
                else {
                    if (uri_string.lastIndexOf("/test/", 0) === 0) {
                        rendered = Mustache.render(activity_template, {name: this.getAttribute("heading"),
                            uri: uri_string,
                            icon: "fa fa-pencil",
                            image:this.getAttribute("image"),
                            description:this.getAttribute("description"),
                            activity_type:"Quiz"
                        });

                    }
                    else if (uri_string.lastIndexOf("/survey/", 0) === 0) {
                        rendered = Mustache.render(activity_template, {name: this.getAttribute("heading"),
                            uri: uri_string,
                            icon: "fa fa-pencil-square-o",
                            image:this.getAttribute("image"),
                            description:this.getAttribute("description"),
                            activity_type:"Encuesta"});
                    }
                    else if (uri_string.lastIndexOf("/activity/video/", 0) === 0) {
                        rendered = Mustache.render(activity_template, {name: this.getAttribute("heading"),
                            uri: uri_string,
                            icon: "fa fa-video-camera",
                            image:this.getAttribute("image"),
                            description:this.getAttribute("description"),
                            activity_type:"Video"});
                    }
                    else if (uri_string.lastIndexOf("/activity/", 0) === 0) {
                        rendered = Mustache.render(activity_template, {name: this.getAttribute("heading"),
                            uri: uri_string,
                            icon: "fa fa-book",
                            image:this.getAttribute("image"),
                            description:this.getAttribute("description"),
                            activity_type:"Lectura"});
                    }
                    else if (uri_string.lastIndexOf("/program/", 0) === 0) {
                        rendered = Mustache.render(activity_template, {name: this.getAttribute("heading"),
                            uri: uri_string,
                            icon: "fa fa-coffee",
                            image:this.getAttribute("image"),
                            description:this.getAttribute("description"),
                            activity_type:"Ejercicio en Consola"});
                    }
                }
                $("#navlist").append(rendered);

            });

        }

    });

</script>

{% endblock scripts %}