{% extends "activitytree/base.html" %}


{% block style %}

/*
 * Editor
 */

    #editor1 {

        height: 340px;
        width: 200;


    }

 p.test_error, p.test_failure {
    color:#d9534f;
    }

 p.test_success{
    color:#5cb85c;
    }

  .alert{
    margin:10px;
    margin-bottom:0px;
    }


{% endblock style %}




{% block content %}

        <h3 id="course-title">  {{ course_name }}                 <small id="course-url"> {{ course_uri }}  </small>  </h3>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li><button id="newContainerBtn" type="button" class="btn btn-default navbar-btn">New Container</button></li>
            <li><button id="newActivityBtn" type="button" class="btn btn-default navbar-btn">New Activity</button></li>
            <li><button  id="saveChangesBtn" type="button" class="btn btn-default navbar-btn">Save</button></li>

          </ul>

           <ul class="nav navbar-nav navbar-right">
           <li> <button id="courseSettingsBtn" type="button"  class="btn btn-default navbar-btn"><i class="fa fa-cog"></i> </button></li>
           <li> <button id="courseCalendarBtn"  type="button" class="btn btn-default navbar-btn"><i class="fa fa-calendar"></i></button></li>
           <li> <button id="courseDeleteBtn"  type="button" class="btn btn-default navbar-btn"><i class="fa fa-trash-o"></i></button></li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <ul class="sTree2 listsClass" id="sTree2">



    </ul>

    <section>
      <p>Don't forget to <strong> Save </strong> changes.</p>
        </section>



{% endblock content %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js " type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-github.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>

<script id="activities_template" type="x-tmpl-mustache">
         <div class="panel panel-default container-fluid" style="width:500px">
            <div class="panel-heading row">
            <div class="col-xs-15 text-right">
                    <button type="button" value="[[id]]" onclick='copyUri("[[id]]","[[title]]")' data-toggle="" data-target="#"  data-href="[[id]]" class="btn btn-default clickable   editBtn"><i class="fa fa-plus clickable clipBtn"></i> </button>
            </div>
                <p style='line-height: 10px'>
                <a href="#" onclick='javascript:window.open("[[id]]", "_blank", "scrollbars=1,resizable=1,height=600,width=650");' class=""><i class="fa fa-[[icon]] fa-lg" style='vertical-align:middle'> [[title]] </i></a>
            </div>
             <div class="panel-body">

               [[#description]]
                    <b>Descripcion: [[description]]
               [[ /description ]]
               [[^description]]
                    <b>Sin descripcion</b>
               [[/description]]

            <p>
              <span class="label label-info"><a href="/search/?type=[[type]]" style="color:#FFFFFF">[[type]]</a></span>
              [[#lang]]
              <span class="label label-success"><a href="/search/?lang=[[lang]]" style="color:#FFFFFF">[[lang]]</a></span>
              [[/lang]]
              [[^lang]]
              [[/lang]]
              <span class="label label-default"><a href="/search/?level=[[level]]" style="color:#FFFFFF">[[level]]</a></span><br>
              [[#tags]]
              [[#.]]
              <span class="label label-info"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
              [[/tags]]
            </p>
            </div>
            </div>
</script>



<script id="container_template" type="x-tmpl-mustache">

        <li id="[[ container_id  ]]"  data-module="container">


          <div>
                  <i class="fa fa-folder"></i>  <span class="h5 container_name"> [[container_name]] </span>

                    <div class="btn-group navbar-right" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default  clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>

                    </div>

                  <div class="btn-group navbar-right" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default  clickable   containerPrecondition">Precondition</button>
                      <button type="button" class="btn btn-default  clickable   containerRollup">Rollup</button>


                    </div>

                    <div class="btn-group navbar-right" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default clickable   containerEditBtn"><i class="fa fa-cog clickable containerEditBtn"></i> </button>
                      <button type="button" class="btn btn-default clickable   containerFromUntil"><i class="fa fa-calendar  clickable  containerFromUnti"></i></button>

                    </div>
      </div>



 </li>

</script>


<script id="activity_template" type="x-tmpl-mustache">

        <li id="[[ activity_id  ]]"  data-module="activity" class="activity">
          <div>
            <i class="fa fa-file"></i> <span class="h5 container_name">[[activity_name]] </span>

          <div class="btn-group navbar-right" role="group" aria-label="..." >
            <button type="button" class="btn btn-default  clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>
          </div>

            <div class="btn-group navbar-right" role="group" aria-label="..." >
                <button type="button" class="btn btn-default  clickable   activityEditBtn">Activity</button>
                <button type="button" class="btn btn-default  clickable   containerPrecondition">Precondition</button>
          </div>

          <div class="btn-group navbar-right" role="group" aria-label="..." >
            <button type="button" class="btn btn-default clickable   containerSearch"><i class="fa fa-search  clickable  containerSearch"></i></button>
            <button type="button" class="btn btn-default clickable   containerEditBtn"><i class="fa fa-cog clickable containerEditBtn"></i> </button>
            <button type="button" class="btn btn-default clickable   containerFromUntil"><i class="fa fa-calendar  clickable  containerFromUnti"></i></button>
          </div>
        </div>
 </li>

</script>


<script id="rules_template" type="x-tmpl-mustache">

            <div class="inline" id="[[rule_id]]" container="[[container_id]]">
                <h5><span id="">[[#conditions]]IF <em>[[#user]] User [[/user]] [[^user]] [[rule_name]] [[/user]]</em> [[option]] <b>[[operator]]</b> [[value]] [[/conditions]]</span><span id="span-[[rule_id]]"></span>
                <button type="button" class="btn btn-danger deleteRuleBtn" style="float:right;margin-left:5px">Remove</button>
                <button type="button" class="btn btn-warning thenRuleBtn" style="float:right">Then</button></h5>

                [[#and]]<span id="and-[[rule_id]]"><br> <select id='condition-[[rule_id]]' class="conditionSelect">
                 <option value="and">And</option>
                 <option value="or">Or</option>
                 <option value="not">Not</option>
                 </select>
                 [[#user]] <b>User</b> [[/user]] [[option]] <b> [[operator]] </b> [[value]]
                <button type="button" class="btn btn-danger deleteAndBtn" style="float:right;margin-left:5px">Remove</button></span>[[/and]]
                <br>

                <div class="form-inline" id="then-[[rule_id]]" style="display:none">
                    <div>
                    <br>
                        <label for="precondition-[[rule_id]]"><em>Then</em> <b>Pre-Condition</b> is:  </label>
                        <select id="precondition-[[rule_id]]" class="form-control selectThen" style="width:25%">
                            <option value=''></option>
                            <option value="skip">Skip</option>
                            <option value="stopForwardTraversal">Stop Forward Traversal</option>
                            <option value="disabled">Disabled</option>
                            <option value="enabled">Enabled</option>
                        </select>
                        <label for="applyto-[[rule_id]]" style="margin-left:5px"><em>Apply</em> <b>to Activity:</b>  </label>
                        <select id="applyto-[[rule_id]]" class="form-control applyTo" style="width:25%">
                            <option value=''></option>
                        </select>
                    </div>
                </div><br>


</script>


<!-- endbuild -->

<script>


  function generateUUID() {
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
      var r = (d + Math.random() * 16) % 16 | 0;
      d = Math.floor(d / 16);
      return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
    });
    return uuid;
  }

</script>



<script type="text/javascript">
  $(function()
  {
      var editor;

      editor = ace.edit("editor1");
      editor.setTheme("ace/theme/chrome");
      editor.getSession().setMode('ace/mode/python');
      editor.session.setNewLineMode("windows");

    var options = {
      placeholderCss: {'background-color': '#ff8'},
      hintCss: {'background-color':'#bbf'},
      isAllowed: function(cEl, hint, target)
      {
        // Be carefull if you test some ul/ol elements here.
        // Sometimes ul/ols are dynamically generated and so they have not some attributes as natural ul/ols.
        // Be careful also if the hint is not visible. It has only display none so it is at the previouse place where it was before(excluding first moves before showing).
        if(hint.parents('li').first().data('module') === 'activity')
        {
          hint.css('background-color', '#ff9999');
          return false;
        }
        else
        {
          hint.css('background-color', '#99ff99');
          return true;
        }
      },
      opener: {
        active: true,
        close: './images/Remove2.png',
        open: './images/Add2.png',
        openerCss: {
          'display': 'inline-block',
          'width': '18px',
          'height': '18px',
          'float': 'left',
          'margin-left': '-35px',
          'margin-right': '5px',
          'background-position': 'center center',
          'background-repeat': 'no-repeat'
        },
        openerClass: ''
      },
      ignoreClass: 'clickable'
    };

    $('#sTree2, #sTree').sortableLists(options);


    var LearningActivity = function (uri, is_container)
    {
      this.name = "New Name";
      this.description = "";
      this.image =  "";
      this.uri =  uri;
      this.lom = null;
      this.pre_condition_rule  =  null;
      this.choice_exit = true;
      this.rollup_rule = "completed IF All completed";

      this.attempt_limit = 100;
      this.rollup_progress = true;
      this.available_from =  null;
      this.available_until = null;
      this.is_container = is_container;
      this.is_visible = true;
      this.rules = "";
    };





      learning_activities = [];
      rules_activities = [];

      //alert( {{ course_id }} );

      get_course();




     var course_root =  new LearningActivity( '/activity/'+'{{ course_id }}' ,true );
     learning_activities['{{ course_id }}']=course_root;




    // CREATE MODALS FROM TEMPLATES



    $('#saveChangesBtn').on('click', function(){
        var tree = tree_to_json( '#sTree2');
        console.log(tree);
        $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


        $.ajax(   {
                    url: '/post_course',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "post_course", "params": [tree],
                    "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                        alert('Changes are Saved');
                        get_course();
                        },
                    error: function(jqXHR, textStatus, errorThrown) {
                        }
                    });


    });

  function tree_to_json(id_selector){

       var order= 100;

       tree =  $(id_selector).sortableListsToHierarchy();



         function traverse(jsonObj) {
           if( typeof jsonObj == "object" ) {
              $.each(jsonObj, function(k,v) {

                if (typeof k == "number" && typeof v == "object")
                {
                  traverse(v);
                }
                if ( k == "id")
                {
                  jsonObj.learning_activity = learning_activities[v];
                  jsonObj.learning_activity.order_in_container = order++;

                }


                if ( k == "children" && typeof v == "object")
                {
                  traverse(v);

                }
              });
              }
              else
              {
                return;
                // jsonOb is a number or string
              }
           }

          traverse(tree);


         var course = [{
             "id": '{{ course_id }}',
             "order": 0,
             "children":tree,
             "learning_activity":learning_activities['{{ course_id }}'],
             "rules":rules_activities
            }];

          console.log(JSON.stringify(course));
          return JSON.stringify(course);



  }

function get_course() {


              //Wait.show();

              $.ajax(   {
                    url: '/get_course',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "get_course", "params": [{{ course_id }}],
                    "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                            console.log("c:",data);

                            // Clear Main Conatainer
                            $('#sTree2').empty();
                            // Empty Array, please we must only reference this list with this name

                           learning_activities = [];

                            traverse(data);
                            update_ruleselect();

                           // Wait.hide();




                        },
                    error: function(jqXHR, textStatus, errorThrown) {

                        Wait.hide();

                        }
                    });





     function traverse(jsonObj,parent_id) {


        if( typeof jsonObj == "object" ) {


          $.each(jsonObj, function(k,v) {

            if (typeof k == "number" && typeof v == "object")
            {
              traverse(v, parent_id);
            }
            if ( k == "learning_activity")
            {
              //Extract the learning activity id
              var activity_id = v.id;
              jsonObj.id = activity_id;

              learning_activities[activity_id]=v;

              if ('{{ course_id }}' == activity_id )
                {

                      $("#course-title").html(learning_activities[activity_id].name + '  <small>'+ learning_activities[activity_id].uri  + '</small>') ;

                }




              if (v.is_container == true){
                  var container_template = $('#container_template').html();
                  Mustache.parse(container_template);
                  rendered = Mustache.render(container_template, { container_id:activity_id, container_name:v.name});


                  if (parent_id == '{{ course_id }}') {
                      $("#sTree2").append(rendered);

                  }
                  else
                  {

                    if ($("#" +parent_id).children("ul").length)
                    {
                      $("#" +parent_id).children("ul").append(rendered);

                    }
                    else
                    {
                     $("#" +parent_id).append("<ul></ul>");
                     $("#" +parent_id).children("ul").append(rendered);

                    }

                  }




                  if (jsonObj.children.length )
                  {
                  console.log("Before:");
                  console.log(jsonObj.children);
                  jsonObj.children.sort( function(a,b ){
                              return a.learning_activity.order_in_container - b.learning_activity.order_in_container;
                          }

                  );
                  console.log("After:");
                  console.log(jsonObj.children);
                  traverse(jsonObj.children,jsonObj.id);

                  }


                }
                else{

                  var activity_template = $('#activity_template').html();
                  Mustache.parse(activity_template);
                  rendered = Mustache.render(activity_template, { activity_id:activity_id, activity_name: v.name});

                if (parent_id == '{{ course_id }}') {
                  $("#sTree2").append(rendered);

                }
                else
                {
                  console.log(parent_id);

                  if ($("#" +parent_id).children("ul").length)
                  {
                    $("#" +parent_id).children("ul").append(rendered);

                  }
                  else
                  {
                    $("#" +parent_id).append("<ul></ul>");
                    $("#" +parent_id).children("ul").append(rendered);

                  }

                }



              }





            }


          });
        }
        else
        {
          return;
          // jsonOb is a number or string
        }
      }

      //traverse(tree);



    }



    $('#newContainerBtn').on('click', function(){
      var container_id = 'new-'+ generateUUID();
      var container_template = $('#container_template').html();
      Mustache.parse(container_template);

      var container = new LearningActivity( '/activity/'+container_id ,true );
      learning_activities[container_id]=container;
      learning_activities[container_id].state = "Added";

      rendered = Mustache.render(container_template, { container_id:container_id, container_name:container.name});
      $("#sTree2").append(rendered);
    });




    $('#newActivityBtn').on('click', function(){

      var activity_template = $('#activity_template').html();
      Mustache.parse(activity_template);
      var activity_id = 'new-'+generateUUID();
      var activity = new LearningActivity( "/activity/"+activity_id, false );
      learning_activities[activity_id]=activity;
      learning_activities[activity_id].state = "Added";



      rendered = Mustache.render(activity_template, { activity_id:activity_id, activity_name:"Activity Name"});
      $("#sTree2").append(rendered);
    });
  });



    $('body').on('click', '.deleteBtn', function(){


        if ($(this).parentsUntil('li').parent().children("ul").length ) {
            alert("Container must be empty for deletion");

        }
        else
        {
            var activity_to_delete = $(this).parentsUntil('li').parent().attr("id");
            alert("Delete:" + activity_to_delete + learning_activities[activity_to_delete] );
            learning_activities[activity_to_delete].state ="Deleted";
            $( this).parentsUntil('li').parent().addClass("hidden");

        }
    });


  $('body').on('click', '.activityEditBtn', function(){

    var container_id  = $( this).parentsUntil('li').parent().attr("id");

    var learning_activity = learning_activities[container_id];

    $('#activityURI').val(container_id);
    $('#maxAttempts').val(learning_activity.attempt_limit);

    if (learning_activity.choice_exit)
      {

        $('#activityExitCb').prop("checked",true);

      }
      else{
        $('#activityExitCb').prop("checked",false);
      }



    $('#activityRollupProgressCb').val(learning_activity.secondary_text);



    $('#modalActivity').modal();

  });

  $('body').on('click','#saveActivityBtn',function (e) {
    var container_id  = $('#activityURI').val();


    learning_activities[container_id].attempt_limit = $('#maxAttempts').val();



    if ( $('#activityRollupProgressCb').prop("checked") == true)
    {
      learning_activities[container_id].rollup_progress = true;
    }
    else
    {
      learning_activities[container_id].rollup_progress = false;
    }

    if ( $('#activityExitCb').prop("checked") == true)
    {
      learning_activities[container_id].choice_exit = true;
    }
    else
    {
      learning_activities[container_id].choice_exit = false;
    }



    $('#modalActivity').modal('hide');


  });



    $('body').on('click', '.containerEditBtn', function(){

        var container_id  = $( this).parentsUntil('li').parent().attr("id");

        containerEdit(container_id);

    });



    $('body').on('click', '#courseSettingsBtn', function(){



        containerEdit('{{ course_id }}');

    });



    function containerEdit (container_id)
    {
      var learning_activity = learning_activities[container_id];

      if (learning_activity.is_container == true)
      {
        $("#modalContainer").find(".modal-title").text("Edit Container");
      }
      else{
        $("#modalContainer").find(".modal-title").text("Edit Activity");

      }

      $('#containerName').val(learning_activity.name);
      $('#containerDescription').val(learning_activity.description);
      $('#containerImage').val(learning_activity.image);
      $('#containerId').val(container_id);
      $('#changeURI').val(learning_activity.uri);


      $('#container_image').attr("src",learning_activity.uri);

      if (learning_activity.is_visible)
      {

        $('#containerIsVisible').prop("checked",true);

      }
      else{
        $('#containerIsVisible').prop("checked",false);
      }

      $('#modalContainer').modal();

    }

    $('body').on('click','#saveContainerEditBtn',function (e) {

      var container_id  = $('#containerId').val();
      learning_activities[container_id].name = $('#containerName').val();
      learning_activities[container_id].description=$('#containerDescription').val();
      learning_activities[container_id].image=$('#containerImage').val();
      learning_activities[container_id].uri =  $('#changeURI').val();


      if ( $('#containerIsVisible').prop("checked") == true)
      {
        learning_activities[container_id].is_visible = true;
      }
      else
      {
        learning_activities[container_id].is_visible = false;
      }

      if   ('{{ course_id }}' == container_id ) //is root container ?
      {
            $("#course-title").html(learning_activities[container_id].name + '  <small>'+ learning_activities[container_id].uri  + '</small>'        );
      }
      else
      {

      var escaped_container_id = "#" + container_id.replace( "/", "\\/" );

      $(escaped_container_id).find('.container_name').first().text(learning_activities[container_id].name);

      }
      update_ruleselect();
      $('#modalContainer').modal('hide');

    });




  $('body').on('click', '.containerFromUntil', function(){


    var container_id  = $( this).parentsUntil('li').parent().attr("id");
    var learning_activity = learning_activities[container_id];


    $('#available-from').val(learning_activity.available_from);
    $('#available-until').val(learning_activity.available_until);
    $('#FromUntilURI').val(container_id);


    $('#available-from').datepicker({
      autoclose: true
    });
    $('#available-until').datepicker({
      autoclose: true
    });

    if (learning_activity.is_container == true)
    {
      $("#modalFromUntil").find(".modal-title").text("Edit Container");
    }
    else{
      $("#modalFromUntil").find(".modal-title").text("Edit Activity");

    }


    $('#modalFromUntil').modal();


  });


  $('body').on('click','#saveFromUntilBtn',function (e) {

    var container_id  = $('#FromUntilURI').val();
    learning_activities[container_id].available_from = $('#containerName').val();
    learning_activities[container_id].available_until =  $('#containerSecondaryText').val();

    $('#modalFromUntil').modal('hide');


  });


  $('body').on('click', '.containerPrecondition', function(){

    var container_id  = $( this).parentsUntil('li').parent().attr("id");
    var learning_activity = learning_activities[container_id];
    //$('#containerPrecondition').val(learning_activity.pre_condition_rule );
    $('#PreconditionURI').val(container_id);
    var editor = ace.edit("editor1");

    if (learning_activity.pre_condition_rule == null || learning_activity.pre_condition_rule == ""){
        editor.setValue("");
    }
    else{

        console.log(learning_activity.pre_condition_rule);

        editor.setValue(learning_activity.pre_condition_rule);
    }


    if (learning_activity.is_container == true)
    {
      $("#modalPrecondition").find(".modal-title").text("Edit Container");
    }
    else{
      $("#modalPrecondition").find(".modal-title").text("Edit Activity");

    }


    $('#modalPrecondition').modal();

  });


  $('body').on('click','#savePreconditionBtn',function (e) {
      var container_id  = $('#PreconditionURI').val();
      var editor = ace.edit("editor1");

      //learning_activities[container_id].pre_condition_rule = editor.getValue();
      console.log(learning_activities[container_id]);
      $('#modalPrecondition').modal('hide');


  });


  $('body').on('click', '.containerRollup', function(){


    var container_id  = $( this).parentsUntil('li').parent().attr("id");
    var learning_activity = learning_activities[container_id];
    $('#containerRollupRule').val(learning_activity.rollup_rule );
    $('#rollupURI').val(container_id);

    if (learning_activity.is_container == true)
    {
      $("#modalRollup").find(".modal-title").text("Edit Container");
    }
    else{
      $("#modalRollup").find(".modal-title").text("Edit Activity");

    }

    if (learning_activity.rollup_progress)
    {

      $('#rollupProgressCb').prop("checked",true);

    }
    else{

      $('#rollupProgressCb').prop("checked",false);
    }


    $('#modalRollup').modal()


  });


  $('body').on('click','#saveRollupBtn',function (e) {

    var container_id  = $('#rollupURI').val();
    learning_activities[container_id].rollup_rule = $('#containerRollupRule').val();

    if ( $('#rollupProgressCb').prop("checked") == true)
    {
      learning_activities[container_id].rollup_progress = true;
    }
    else
    {
      learning_activities[container_id].rollup_progress = false;
    }
        $('#modalRollup').modal('hide');


  });

  $('body').on('click', '#courseDeleteBtn', function(){

    $('#modalDeleteCourse').modal();


  });

  $('body').on('click', ".containerSearch", function(){
      container_id  = $( this).parentsUntil('li').parent().attr("id");
      $("#modalSearch").modal()
  });

//rule builder modal options
  $(document).ready(function(){
      $(window).load(function() {
          contador=0;
          rules_activities = [];
          rule_history = [];
          var index = learning_activities.map(function(e) { return e.order_in_container; }).indexOf(0);
          var rules = learning_activities[index].rules;
          if (rules == ''){
              console.log('No rules');
          }
          else{
              $("#rulebuilder-footer").show();
              rules_activities = JSON.parse(learning_activities[index].rules);
              Mustache.tags = ['[[', ']]'];
              var rules_template = $('#rules_template').html();
              Mustache.parse(rules_template);
              $.each(rules_activities, function (index, value) {
                  contador = parseInt(value.name.substr(value.name.length - 1)) + 1;
                  rendered = Mustache.render(rules_template, {
                      rule_id: value.name,
                      rule_name: value.act_name,
                      conditions: value.if,
                      and: value.then,
                      user: value.user,
                      container_id: value.applyto
                  });
                  $("#rules-body").append(rendered);
                  $.each(learning_activities, function (i, v) {
                      if (typeof v === 'undefined' || v.root_id == null) return;
                      $("#applyto-"+value.name).append($("<option></option>")
                              .attr("value", v.id)
                              .attr("uri", v.uri)
                              .text(v.name));
                  });
                  $("#applyto-"+value.name+" option[value="+value.applyto+"]").prop("selected","selected");
                  $("#precondition-"+value.name+" option[value="+value.precondition+"]").prop("selected", "selected");
              })
          }

      });
  });

  $("body").on('click','#usertab', function(){
      $("#userdiv").slideToggle('fast',function(){
      })
  });

  $("body").on('click','#activitytab', function(){
      $("#activitydiv").slideToggle('fast',function(){
      })
  });

  $("body").on('click','#contexttab', function(){
      $("#contextdiv").slideToggle('fast',function(){
      })
  });

  $("body").on('click', '.submit-Btn' ,function(){
      $("#rulebuilder-footer").show();
      var btntype = $(this).attr('id').split('-')[0];
      var name = ($('#activity-select option:selected').html()).replace(/\s/g, "_");
      name = name.replace(/\-/g,"_");
      var act_name = $('#activity-select option:selected').html();
      var uri = ($('#activity-select option:selected').attr('uri'));
      var activity_id=$("#activity-select").val();
      if (btntype == 'activity'){
          var option = $('#activity-options').val();
          var operator = $("#activity-operators").val();
          var value = $("#activity-txt").val();
          $("#"+btntype+"-txt").val('');
      }
      else if (btntype == 'user'){
          var user = true;
          option = $('#user-options').val();
          operator = $("#user-operators").val();
          value = $("#user-txt").val();
          $("#"+btntype+"-txt").val('');
      }
      else if (btntype == 'context'){
          var context = true;
          option = $('#context-options').val();
          operator = $("#context-operators").val();
          value = $("#context-txt").val();
          $("#"+btntype+"-txt").val('');
      }

      Mustache.tags = ['[[', ']]'];
      var rules_template = $('#rules_template').html();
      Mustache.parse(rules_template);
      var rules={'name':name+contador,'uri':uri, 'act_name':act_name, 'id': activity_id, 'applyto': activity_id , 'if':'','operator':'','then':''};
      var condition = {'option':option,'operator':operator,'value':value};

      if (rule_history.length == 0){
          if (user == true){
              condition['user']='true'
          }
          else if (context == true){
              condition['context'] = 'true'
          }
          rules['if'] = condition;
          rules_activities.push(rules);
          rendered = Mustache.render(rules_template, {
              rule_id: rules['name'],
              rule_name: rules['act_name'],
              conditions: rules['if'],
              user: rules['user'],
              container_id: rules['applyto']
          });
          $("#rules-body").append(rendered);
          rule_history.push(name);
          $.each(learning_activities, function (index, value) {
                  if (typeof value === 'undefined' || value.root_id == null) return;
                  $("#applyto-"+name+contador).append($("<option></option>")
                          .attr("value", value.id)
                          .attr("uri", value.uri)
                          .text(value.name));
              })
      }
      else if (rule_history.length == 1){
          if (rule_history[rule_history.length-1] == name){
              var index = rules_activities.length;
              if (user == true){
              condition['user']='true'
              }
              else if (context == true){
                  condition['context'] = 'true'
              }
              rules_activities[index-1].then = condition;
              $("#"+rules_activities[index-1].name).remove();
              rendered = Mustache.render(rules_template, {
                  rule_id: rules_activities[index-1].name,
                  rule_name: rules_activities[index-1].act_name,
                  conditions: rules_activities[index-1].if,
                  and: rules_activities[index-1].then,
                  user: rules_activities[index-1].user,
                  container_id: rules_activities[index-1].applyto
              });
              $("#rules-body").append(rendered);
              rule_history = [];
              $.each(learning_activities, function (index, value) {
                  if (typeof value === 'undefined' || value.root_id == null) return;
                  $("#applyto-"+name+contador).append($("<option></option>")
                          .attr("value", value.id)
                          .attr("uri", value.uri)
                          .text(value.name));
              });
              contador=contador+1;
          }
          else{
              contador=contador+1;
              if (user == true){
                  condition['user']='true'
              }
              else if (context == true){
                  condition['context'] = 'true'
              }
              rules['if'] = condition;
              rules['name'] = name + contador;
              rules_activities.push(rules);
              rendered = Mustache.render(rules_template, {
                  rule_id: rules['name'],
                  rule_name: rules['act_name'],
                  conditions: rules['if'],
                  user: rules['user']
              });
              $("#rules-body").append(rendered);
              rule_history.shift();
              rule_history.push(name);
              $.each(learning_activities, function (index, value) {
                  if (typeof value === 'undefined' || value.root_id == null) return;
                  $("#applyto-"+name+contador).append($("<option></option>")
                          .attr("value", value.id)
                          .attr("uri", value.uri)
                          .text(value.name));
              })
          }
      }

  });

  $('body').on('click', '.deleteRuleBtn', function(){
      var activity_to_delete = $(this).parentsUntil('div').parent().attr("id");
      var container = $(this).parentsUntil('div').parent().attr("container");
      var index = learning_activities.map(function(e) { return e.id; }).indexOf(parseInt(container));
      learning_activities[index].pre_condition_rule = "";
      $("#"+activity_to_delete).remove();
      rules_activities = $.grep(rules_activities,
                   function(o,i) { return o.name === activity_to_delete; },
                   true);
    });

  $('body').on('click', '.deleteAndBtn', function(){
      var id = $(this).parentsUntil('div').parent().attr("id");
      $("#and-"+id).remove();
      var index = rules_activities.map(function(e) { return e.name; }).indexOf(id);
      rules_activities[index].then = '';
      rules_activities[index].operator = 'and';
    });

  $('body').on('click', '.thenRuleBtn', function(){
      var activity_to_delete = $(this).parentsUntil('div').parent().attr("id");
      $("#then-"+activity_to_delete).slideToggle('fast', function(){
      });
    });

  $('body').on('change', '.selectThen', function(){
      var id = $(this).attr('id').split('-')[1];
      var value = $("option:selected", this).html();
      var val = $(this).val();
      var index = rules_activities.map(function(e) { return e.name; }).indexOf(id);
      rules_activities[index].precondition = val;
      if ($("#and-"+id).length > 0){
          $('#and-'+id).append("<em> Then </em>" + value);
      }
      else{
          $("#span-"+id).empty();
          $('#span-'+id).append("<em> Then </em>" + value);
      }
      $("#then+"+id).slideToggle('fast', function(){
      });
  });

  $('body').on('change', '.conditionSelect', function(){
      var id = $(this).attr('id').split('-')[1];
      var val = $(this).val();
      var index = rules_activities.map(function(e) { return e.name; }).indexOf(id);
      rules_activities[index].operator = val;
  });

  $('body').on('change', '.applyTo', function(){
      var id = $(this).attr('id').split('-')[1];
      var val = $(this).val();
      var index = rules_activities.map(function(e) { return e.name; }).indexOf(id);
      rules_activities[index].applyto = val;
  });

  $('body').on('click',"#save-rules",function(){
      rule_builder();
      var index = learning_activities.map(function(e) { return e.order_in_container; }).indexOf(0);
      learning_activities[index].rules = JSON.stringify(rules_activities);
      //learning_activities[index].rules = rules_activities;
  });

  function update_ruleselect(){
      $("body #activity-select").empty();
      if (learning_activities.length != 0) {
              $.each(learning_activities, function (index, value) {
                  if (typeof value === 'undefined' || value.root_id == null) return;
                  $("body #activity-select").append($("<option></option>")
                          .attr("value", value.id)
                          .attr("uri", value.uri)
                          .text(value.name));
              })
          }
  }

  function rule_builder(){
      $.each(learning_activities, function (index, value) {
          if (typeof value === 'undefined' || value.root_id == null) return;
            value.pre_condition_rule = ''
      });

      $.each(rules_activities, function(index, value){
          var activity_id = value.id;
          var activity_uri = value.uri;

          /*if (value.if != '') {
              rule = "if get_attr('" + activity_uri + "','" + value.if.option + "') "+value.if.operator+" '" + value.if.value + "': \n";
              if (value.precondition != ''){
                  rule = rule + "    activity['pre_condition'] = '"+value.precondition+"'"
              }
          }
         */
          if (value.applyto){
              learning_activities[value.applyto].pre_condition_rule = JSON.stringify(value);
          }
          else{
              learning_activities[activity_id].pre_condition_rule = JSON.stringify(value);
          }

      })
  }


//
  //change action for search textbox, determines if the input is a tag or just a title search
  $("body").on('change', "#txtname", function(){
      $("#data").empty();
      var query = {};
      var name = $(this).val();
      var exp_tags = /S*#(?:\[[^\]]+\]|\S+)/;
      if (exp_tags.test(name)){
          var texto = name.split(/\s+/g);
          tags = [];
          title = [];
          for(var i=0;i<texto.length;i++){
              if(texto[i].match(exp_tags)){
                  tags.push(texto[i].replace('#',''))
              }
              else{
                  title.push(texto[i])
              }
          }
          title = title.join(" ");
          if (title != "" && tags.length != 0){
              query['title'] = {'title': {'$regex': title, '$options': 'i'}};
              query['tags'] = {'tags': {'$all': tags}};
          }
          else if (tags.length != 0 && title == ""){
              query['tags'] = {'tags': {'$all': tags}};
              delete query['title']
          }
          else if (tags.length == 0 && title != ""){
              query['title'] = {'title': {'$regex': title, '$options': 'i'}};
              delete query['tags']
          }
          else{
              delete query['title'];
              delete query['tags']
          }
          buscar(query)
      }
      else {
          query['title'] = {'title': {'$regex': $("#txtname").val(), '$options': 'i'}};
          delete query['tags'];
          buscar(query)
      }

  });

  $("body").on("hidden.bs.modal", '#modalSearch' ,function(){
            $("#txtname").val('');
            $("#data").empty()
        });

  //ajax function that sends query to server and display results to user
  function buscar(tipo){
        $.ajax({
        type: 'POST',
        url: '/search_prueba',
        data: JSON.stringify(tipo),
        success: function (data) {
            var obj = jQuery.parseJSON( data );
            if (obj == "null" || obj[0].count == 0){
                $("#data").append('<h3 style="color:lightgray">No hay actividades</h3><br>');
                count = 0
            }
            else{
                Mustache.tags = ['[[', ']]'];
                var activities_template = $('#activities_template').html();
                Mustache.parse(activities_template);
                $.each(obj, function( index, value ) {
                if (value.count){
                        var count = value.count
                    }
                    else{
                        rendered = Mustache.render(activities_template, {
                            title: value.title,
                            id: value._id,
                            icon:value.icon,
                            description: value.description,
                            lang:value.lang,
                            level:value.level,
                            type:value.type,
                            tags:value.tags});
                        $("#data").append(rendered);
                    }

            });

            $('#data').val(data);
            }

        },
        error: function(data) {
            console.log("Error");
        }
    });
    }

    function copyUri(id,title){
        learning_activities[container_id].name = title;
        learning_activities[container_id].uri = id;
        containerEdit(container_id);
        $("#modalSearch").modal('hide')

    }


</script>


<div class="modal fade" id="modalContainer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control hidden" id="containerId" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="changeURI">URL</label>
          <input type="text" class="form-control" id="changeURI" placeholder="" required pattern="https?://.+" >
        </div>

        <div class="form-group">
          <label for="containerName">Display Name</label>
          <input type="text" class="form-control" id="containerName" placeholder="Container Name">
        </div>


        <div class="form-group">
          <label for="containerDescription">Description</label>
          <textarea class="form-control" id="containerDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="containerImage">Image URL</label>
          <input type="url" class="form-control" id="containerImage" placeholder="" required pattern="https?://.+">

        </div>
        <div class="row">

          <img id="container_image" src="http://img.src.ca/2014/07/03/635x357/140703_pg6ew_mlarge_obession_performance_sn635.jpg" alt="..." class="img-rounded fixed-small center-block">

        </div>





        <div class="form-group">
          <div class="checkbox">
            <label> <input id="containerIsVisible" type="checkbox"> Visible </label>
          </div>
        </div>

      </div><!-- /.modal-body -->


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveContainerEditBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-lg" id="modalPrecondition">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">

        <div class="form-group">

          <input type="url" class="form-control hidden" id="PreconditionURI" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
            <label for="editor1">Precondition Rule</label>
            <div class="myeditor" id="editor1">

            </div>
        </div>


      </div><!-- /.modal-body -->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="savePreconditionBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalFromUntil">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">

        <div class="form-group">

          <input type="url" class="form-control hidden" id="FromUntilURI" placeholder="" required pattern="https?://.+" disabled>
        </div>


        <div class="form-group">
          <label for="available-from">Available from</label>
          <div id ="available-from" class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>




        <div class="form-group">
          <label for="available-until">Available until</label>
          <div id ="available-until" class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>

      </div><!-- /.modal-body -->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveFromUntilBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalRollup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">

          <input type="url" class="form-control hidden" id="rollupURI" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="containerRollupRule">Rollup Rule</label>
          <textarea class="form-control" id="containerRollupRule" rows="3"></textarea>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label> <input id="rollupProgressCb" type="checkbox"> Rollup Progress </label>
          </div>
        </div>

      </div><!-- /.modal-body -->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveRollupBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalActivity">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">

          <input type="url" class="form-control hidden" id="activityURI" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="maxAttempts">Attempt Limit</label>
          <input type="url" class="form-control" id="maxAttempts" placeholder="" required pattern="https?://.+" >
        </div>


        <div class="form-group">
          <div class="checkbox">
            <label> <input id="activityRollupProgressCb" type="checkbox"> Rollup Progress </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label> <input id="activityExitCb" type="checkbox"> Choice Exit   </label>
          </div>
        </div>


      </div><!-- /.modal-body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveActivityBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade" id="modalDeleteCourse">
  <div class="modal-dialog">
    <div class="modal-content">
       <form action="/delete_course/{{ course_id }}" method="post">{% csrf_token %}
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Course</h4>
      </div>


      <div class="modal-body">
          <h4>Please confirm, all data will be deleted!</h4>



      </div><!-- /.modal-body -->


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="createCourseBtn" type="submit" class="btn btn-danger">Delete</button>
      </div>
           </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalSearch">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search Activity</h4>
      </div>
       <div class="container" style="width: 70%">
           <br>
           <form id="formSearch" onsubmit="return false">
           <div class="input-group">
               <input type="text" class="form-control" placeholder="Search by Title or #Tag" id="txtname">
               <div class="input-group-btn">
                   <button class="btn btn-default" type="submit" style="background-color: #4285F4"><i class="fa fa-search" style="color: white"></i></button>
               </div>
           </div>
           </form>
           <br>
       </div>
        <div id="data" align="center">

        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


    <div class="modal fade" id="modal-rulebuilder">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Rule Builder</h4>
                </div>
                <div id="rulebuilder" align="center">
                        <div class="well well-sm" style="border: hidden">
                            <a class="panel-title" id="activitytab">Activity<span class="caret"></span></a>
                            <div id="activitydiv"><br>
                                <label for="activity-select">Activity</label>
                                <select id="activity-select" class="form-control" style="width:20%">

                                </select><br>
                                <div class="form-inline">
                                    <select class="form-control" id="activity-options" style="width:20%">
                                        <option value="num_attempts">Attempts</option>
                                        <option value="progress_status">Progress</option>
                                        <option value="objective_measure">Objective Measure</option>
                                    </select>

                                    <select class="form-control" id="activity-operators" style="width:20%">
                                        <option value="==">Equals</option>
                                        <option value=">">More than</option>
                                        <option value="<">Less than</option>
                                        <option value="!=">Different than</option>
                                    </select>

                                    <input type="text" class="form-control" id="activity-txt" placeholder="Value" style="width:20%">

                                    <input type="button" id="activity-submit" class="form-control btn-primary submit-Btn" value="Add Rule">
                                </div>
                            </div><br>
                        </div>
                    <div class="well well-sm">
                            <a class="panel-title" id="usertab">User<span class="caret"></span></a>
                            <div id="userdiv" style="display:none"><br>
                                <div class="form-inline">
                                    <select class="form-control" id="user-options" style="width:20%">
                                        <option value="level">Level</option>
                                        <option value="points">Points</option>
                                        <option value="experience">Experience</option>
                                        <option value="tag">Tag</option>
                                    </select>

                                    <select class="form-control" id="user-operators" style="width:20%">
                                        <option value="==">Equals</option>
                                        <option value=">">More than</option>
                                        <option value="<">Less than</option>
                                        <option value="!=">Different than</option>
                                    </select>

                                    <input type="text" class="form-control" id="user-txt" placeholder="Value" style="width:20%">

                                    <input type="button" id="user-submit" class="form-control btn-primary submit-Btn" value="Add Rule">
                                </div>
                            </div><br>
                    </div>

                    <div class="well well-sm" style="border: hidden">
                            <a class="panel-title" id="contexttab">Context<span class="caret"></span></a>
                            <div id="contextdiv" style="display:none"><br>
                                <div class="form-inline">
                                    <select class="form-control" id="context-options" style="width:20%">
                                        <option value="device">Device</option>
                                        <option value="place">Place</option>
                                        <option value="time">Time</option>
                                        <option value="dayof">Day of Week</option>
                                    </select>

                                    <select class="form-control" id="context-operators" style="width:20%">
                                        <option value="==">Equals</option>
                                        <option value=">">More than</option>
                                        <option value="<">Less than</option>
                                        <option value="!=">Different than</option>
                                    </select>

                                    <input type="text" class="form-control" id="context-txt" placeholder="Value" style="width:20%">

                                    <input type="button" id="context-submit" class="form-control btn-primary submit-Btn" value="Add Rule">
                                </div>
                            </div><br>
                    </div>
                    <div id="rules-display" class="panel panel-default" style="width:90%">
                        <div class="panel-heading">Rules</div>
                        <div id="rules-body" class="panel-body">

                        </div>
                    </div>
                    <div class="modal-footer" id="rulebuilder-footer" style="display: none">
                        <input type="button" class="btn btn-primary" id="save-rules" value="Save Rules">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


{% endblock scripts %}












