{% extends "activitytree/base.html" %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      <!-- Example row of columns -->


        <h3>Cursos</h3>
    <p class="lead">
   Piensa en los cursos como una secuencia de recursos educativos. Estos pueden ser muy cortos como una lección o clase,
   también pueden ser una secuencia de ejercicios cómo una práctica o simplemente un reto. ¿Qué esperas?
        <a href="/instructor/"> crea el tuyo.</a>
  </p>

    <div class="row">
        <div class="col-md-12 m-t-2 ">
         <div class="card-columns">

                {% for c in courses %}

                <div class="card">
                    <a class="card-link" href="/course_info/{{c.root.id }}">

                       {% if c.root.image %}
                           <img class="card-img-top center-block img-fluid" src="{{ c.root.image }}" alt="Card image cap">
                      {% endif %}
                    </a>

                      <div class="card-block">
                       <a class="card-link" href="/course_info/{{c.root.id }}">
                           <h5 class="card-title">{{c.root.name}}</h5>
                       </a>
                        <p class="card-text">{{ c.short_description}}</p>
                        <ul class="course-listing-bar">
                             <li><small> Autor:   <a href="#"  class="card-link">  {{ c.root.authorlearningactivity_set.all.0.user.get_full_name }} </a></small></li>
                         </ul>

                        <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>
</div>
                      </div>
                </div>
            {% endfor %}
            </div>

</div>
    </div>






    </div> <!-- /container -->
{% endblock content %}



{% block scripts %}

  <script type="text/javascript" charset="utf-8">


</script>





{% endblock scripts %}