{% extends "activitytree/base.html" %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      <!-- Example row of columns -->


        <h3>Cursos</h3>
      <div class="row">
        <div class="col-md-3">
        <div class="card">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Todos</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Javascript</li>
                <li class="list-group-item">Java</li>
              </ul>
        </div>

        </div>

        <div class="col-md-9">

        <div class="card-deck-wrapper">
         <div class="card-columns">

                {% for c in courses %}
                <a class="card-link" href="/{{c.root.id }}{{c.root.uri }}">
                <div class="card">
                   {% if c.root.image %}
                       <img class="card-img-top center-block img-fluid" src="{{ c.root.image }}" alt="Card image cap">
                  {% endif %}
                  <div class="card-block">
                    <h5 class="card-title">{{c.root.name}}</h5>

                    <p class="card-text">{{ c.short_description|safe }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>

                </div>
                <div class="card">
                   {% if c.root.image %}
                       <img class="card-img-top center-block img-fluid" src="{{ c.root.image }}" alt="Card image cap">
                  {% endif %}
                  <div class="card-block">
                    <h4 class="card-title">{{c.root.name}}</h4>

                    <p class="card-text">
                        <ul class="course-listing-bar">
                          <li> <i class="fa fa-pencil"></i>   <a href="#"  class="card-link"> {{ c.root.authorlearningactivity_set.all.0.user.get_full_name }} </a></li>


                        </ul>
                  </p>
                        {% if user.is_authenticated %}
                           <a class="card-link" href="/{{c.root.id }}{{c.root.uri }}?nav=continue" role="button"> Ir al curso &raquo;</a>
                        {% else %}
                           <a class="card-link" href="/{{c.root.id }}{{c.root.uri }}" role="button">Regístrate &raquo;</a>
                        {% endif %}


                  </div>
                </div></a>
                <div class="card">
                 <h5 class="card-header">Curso</h5>

                  <div class="card-block">
                    <h4 class="card-title">{{c.root.name}}</h4>
                    <p class="card-text">Sección para una pequeña introducción al curso.</p>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>



            {% endfor %}
            </div>
         </div>

        </div>

      </div>

      </div>

    <row>

    <h3>Clases </h3>
    <div class="col-md-3">
        <div class="card">
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Ejercicios</li>
    <li class="list-group-item">Videos</li>
    <li class="list-group-item">Lecturas</li>
    <li class="list-group-item">Questionarios</li>
  </ul>
</div>
        </div>

        <div class="col-md-9">

     <div class="card-deck-wrapper">
         <div id='activities' class="card-columns">

         </div>
     </div>
     </div>

    </row>









      <hr>

      <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
           </a>
            <br />El contenido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> y
            otras licencias abiertas.</p>
      </footer>
    </div> <!-- /container -->
{% endblock content %}



{% block scripts %}

  <script type="text/javascript" charset="utf-8">

         $(document).ready(function() {







        $.get( '/get_activities',  function (data) {

            Mustache.tags = ['[[', ']]'];
            var activities_template = $('#activities_template').html();
            Mustache.parse(activities_template);
            var obj = jQuery.parseJSON( data );


            $.each(obj, function( index, value ) {

                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    uri: value._id,
                    icon:value.icon,
                    description: value.description,
                    lang:value.lang,
                    level:value.level,
                    type:value.type,
                    tags:value.tags});

                $("#activities").append(rendered);

            });





            });

 });

</script>

<script id="activities_template" type="x-tmpl-mustache">


<div class="card card-block">
   <p class="card-text"><small class="text-muted">Video</small>
                 [[#lang]]
              <span class="label label-success"><a href="/search/?lang=[[lang]]" style="color:#FFFFFF">[[lang]]</a></span>
              [[/lang]]
              [[^lang]]
              [[/lang]]
   </p>
  <h6 class="card-title"> <a class="media-heading" href="[[uri]]" role="button"><i class="fa fa-[[icon]]"></i> [[title]] &raquo;</a> </h6>
  <p class="card-text"> [[description]]</p>
  <p>
            {% comment %}
              [[#type]]
              <span class="label label-info"><a href="/search/?type=[[type]]" style="color:#FFFFFF">[[type]]</a></span>
              [[/type]]
              [[^type]]
              [[/type]]
            {% endcomment %}
              [[#lang]]
              <span class="label label-success"><a href="/search/?lang=[[lang]]" style="color:#FFFFFF">[[lang]]</a></span>
              [[/lang]]
              [[^lang]]
              [[/lang]]

              [[#level]]
              <span class="label label-default"><a href="/search/?level=[[level]]" style="color:#FFFFFF">[[level]]</a></span>
              [[/level]]
              [[^level]]
              [[/level]]

              [[#tags]]
              [[#.]]
              <span class="label label-info"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
              [[/tags]]
  </p>

</div>


</script>



{% endblock scripts %}