{% extends "activitytree/base.html" %}



{% block content %}

        <h3 id="course-title">  Display Name                 <small id="course-url"> /activity/{{ course_id }}  </small>  </h3>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li><button id="newContainerBtn" type="button" class="btn btn-default navbar-btn">New Container</button></li>
            <li><button id="newActivityBtn" type="button" class="btn btn-default navbar-btn">New Activity</button></li>
            <li><button  id="saveChangesBtn" type="button" class="btn btn-default navbar-btn">Save</button></li>
          </ul>

           <ul class="nav navbar-nav navbar-right">
           <li> <button id="courseSettingsBtn" type="button"  class="btn btn-default navbar-btn"><i class="fa fa-cog"></i> </button></li>
           <li> <button id="courseCalendarBtn"  type="button" class="btn btn-default navbar-btn"><i class="fa fa-calendar"></i></button></li>
           <li> <button id="courseDeleteBtn"  type="button" class="btn btn-default navbar-btn"><i class="fa fa-trash-o"></i></button></li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <ul class="sTree2 listsClass" id="sTree2">



    </ul>

    <section>
      <p><strong>JQuery sortable lists</strong> also supports export methods. Look at the console log to see the result of buttons below.</p>
      <span id="toArrBtn" class="btn">To array</span>
      <span id="toHierBtn" class="btn">To hierarchy</span>
      <span id="toStrBtn" class="btn">To string</span>
    </section>



{% endblock content %}

{% block scripts %}


<script id="container_template" type="x-tmpl-mustache">

        <li id="[[ container_id  ]]"  data-module="container">


          <div>
                  <i class="fa fa-folder"></i>  <span class="h5 container_name"> [[container_name]] </span>

                    <div class="btn-group navbar-right" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default  clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>

                    </div>

                  <div class="btn-group navbar-right" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default  clickable   containerPrecondition">Precondition</button>
                      <button type="button" class="btn btn-default  clickable   containerRollup">Rollup</button>


                    </div>

                    <div class="btn-group navbar-right" role="group" aria-label="..." >
                      <button type="button" class="btn btn-default clickable   containerEditBtn"><i class="fa fa-cog clickable containerEditBtn"></i> </button>
                      <button type="button" class="btn btn-default clickable   containerFromUntil"><i class="fa fa-calendar  clickable  containerFromUnti"></i></button>

                    </div>
      </div>



 </li>

</script>


<script id="activity_template" type="x-tmpl-mustache">

        <li id="[[ activity_id  ]]"  data-module="activity" class="activity">
          <div>
            <i class="fa fa-file"></i> <span class="h5 container_name">[[activity_name]] </span>

          <div class="btn-group navbar-right" role="group" aria-label="..." >
            <button type="button" class="btn btn-default  clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>
          </div>

            <div class="btn-group navbar-right" role="group" aria-label="..." >
                <button type="button" class="btn btn-default  clickable   activityEditBtn">Activity</button>
                <button type="button" class="btn btn-default  clickable   containerPrecondition">Precondition</button>
          </div>

          <div class="btn-group navbar-right" role="group" aria-label="..." >
            <button type="button" class="btn btn-default clickable   containerEditBtn"><i class="fa fa-cog clickable containerEditBtn"></i> </button>
            <button type="button" class="btn btn-default clickable   containerFromUntil"><i class="fa fa-calendar  clickable  containerFromUnti"></i></button>
          </div>
        </div>
 </li>

</script>




<!-- endbuild -->

<script>


  function generateUUID() {
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
      var r = (d + Math.random() * 16) % 16 | 0;
      d = Math.floor(d / 16);
      return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
    });
    return uuid;
  }

</script>



<script type="text/javascript">
  $(function()
  {
    var options = {
      placeholderCss: {'background-color': '#ff8'},
      hintCss: {'background-color':'#bbf'},
      isAllowed: function(cEl, hint, target)
      {
        // Be carefull if you test some ul/ol elements here.
        // Sometimes ul/ols are dynamically generated and so they have not some attributes as natural ul/ols.
        // Be careful also if the hint is not visible. It has only display none so it is at the previouse place where it was before(excluding first moves before showing).
        if(hint.parents('li').first().data('module') === 'activity')
        {
          hint.css('background-color', '#ff9999');
          return false;
        }
        else
        {
          hint.css('background-color', '#99ff99');
          return true;
        }
      },
      opener: {
        active: true,
        close: './images/Remove2.png',
        open: './images/Add2.png',
        openerCss: {
          'display': 'inline-block',
          'width': '18px',
          'height': '18px',
          'float': 'left',
          'margin-left': '-35px',
          'margin-right': '5px',
          'background-position': 'center center',
          'background-repeat': 'no-repeat'
        },
        openerClass: ''
      },
      ignoreClass: 'clickable'
    };

    $('#sTree2, #sTree').sortableLists(options);


    var LearningActivity = function (uri, is_container)
    {
      this.name = "Container Name";
      this.heading = "";
      this.secondary_text = "";
      this.description = "";
      this.image =  "";
      this.slug = "";
      this.uri =  uri;
      this.lom = null;
      this.pre_condition_rule  =  null;
      this.choice_exit = true;
      this.rollup_rule = "completed IF All completed";

      this.attempt_limit = 100;
      this.rollup_progress = true;
      this.available_from =  null;
      this.available_until = null;
      this.is_container = is_container;
      this.is_visible = true;
    };






     learning_activities = [];

     var course_root =  new LearningActivity( '/activity/'+'{{ course_id }}' ,true );
     learning_activities['{{ course_id }}']=course_root;




    // CREATE MODALS FROM TEMPLATES



    $('#toArrBtn').on('click', function(){
        var tree = tree_to_json( '#sTree2');
        $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


        $.ajax(   {
                    url: '/post_course',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "post_course", "params": [tree],
                    "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                            console.log("Success");
                        },
                    error: function(jqXHR, textStatus, errorThrown) {
                        }
                    });




    });
    $('#toHierBtn').on('click', function()
    {

         tree =  $('#sTree2').sortableListsToHierarchy();



         function traverse(jsonObj) {
           if( typeof jsonObj == "object" ) {
              $.each(jsonObj, function(k,v) {

                if (typeof k == "number" && typeof v == "object")
                {
                  traverse(v);
                }
                if ( k == "id")
                {
                  jsonObj.learning_activity = learning_activities[v];

                }

                if ( k == "children" && typeof v == "object")
                {
                  traverse(v);

                }
              });
              }
              else
              {
                return;
                // jsonOb is a number or string
              }
           }

          traverse(tree);



            console.log(JSON.stringify(tree));







    });


  function tree_to_json(id_selector){

       tree =  $(id_selector).sortableListsToHierarchy();



         function traverse(jsonObj) {
           if( typeof jsonObj == "object" ) {
              $.each(jsonObj, function(k,v) {

                if (typeof k == "number" && typeof v == "object")
                {
                  traverse(v);
                }
                if ( k == "id")
                {
                  jsonObj.learning_activity = learning_activities[v];

                }

                if ( k == "children" && typeof v == "object")
                {
                  traverse(v);

                }
              });
              }
              else
              {
                return;
                // jsonOb is a number or string
              }
           }

          traverse(tree);





          return JSON.stringify(tree);



  }

    $('#toStrBtn').on('click', function() {

              $.ajax(   {
                    url: '/get_course',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "get_course", "params": [31],
                    "id": 1 }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {
                            console.log(data);

                            // var tree = JSON.parse(data);

                            traverse(data);






                        },
                    error: function(jqXHR, textStatus, errorThrown) {
                        }
                    });





     function traverse(jsonObj,parent_id) {


        if( typeof jsonObj == "object" ) {


          $.each(jsonObj, function(k,v) {

            if (typeof k == "number" && typeof v == "object")
            {
              traverse(v, parent_id);
            }
            if ( k == "learning_activity")
            {
              var activity_id = generateUUID();
              jsonObj.id = activity_id;

              learning_activities[activity_id]=v;


              if (v.is_container == true){
                  var container_template = $('#container_template').html();
                  Mustache.parse(container_template);
                  rendered = Mustache.render(container_template, { container_id:activity_id, container_name:v.name});


                  if (parent_id === undefined) {
                      $("#sTree2").append(rendered);

                  }
                  else
                  {
                    console.log(parent_id);

                    if ($("#" +parent_id).children("ul").length)
                    {
                      $("#" +parent_id).children("ul").append(rendered);

                    }
                    else
                    {
                     $("#" +parent_id).append("<ul></ul>");
                     $("#" +parent_id).children("ul").append(rendered);

                    }

                  }




                  if (jsonObj.children.length )
                  {

                  traverse(jsonObj.children,jsonObj.id);

                  }


                }
                else{

                  var activity_template = $('#activity_template').html();
                  Mustache.parse(activity_template);
                  rendered = Mustache.render(activity_template, { activity_id:activity_id, activity_name: v.name});

                if (parent_id === undefined) {
                  $("#sTree2").append(rendered);

                }
                else
                {
                  console.log(parent_id);

                  if ($("#" +parent_id).children("ul").length)
                  {
                    $("#" +parent_id).children("ul").append(rendered);

                  }
                  else
                  {
                    $("#" +parent_id).append("<ul></ul>");
                    $("#" +parent_id).children("ul").append(rendered);

                  }

                }



              }





            }


          });
        }
        else
        {
          return;
          // jsonOb is a number or string
        }
      }

      //traverse(tree);



    });



    $('#newContainerBtn').on('click', function(){
      var container_id = generateUUID();
      var container_template = $('#container_template').html();
      Mustache.parse(container_template);

      var container = new LearningActivity( '/activity/'+container_id ,true );
      learning_activities[container_id]=container;

      rendered = Mustache.render(container_template, { container_id:container_id, container_name:container.name});
      $("#sTree2").append(rendered);
    });




    $('#newActivityBtn').on('click', function(){

      var activity_template = $('#activity_template').html();
      Mustache.parse(activity_template);
      var activity_id = generateUUID();
      var activity = new LearningActivity( "/activity/"+activity_id, false );
      learning_activities[activity_id]=activity;

      rendered = Mustache.render(activity_template, { activity_id:activity_id, activity_name:"Activity Name"});
      $("#sTree2").append(rendered);
    });
  });



    $('body').on('click', '.deleteBtn', function(){
      $( this).parentsUntil('li').parent().remove();
    });


  $('body').on('click', '.activityEditBtn', function(){

    var container_id  = $( this).parentsUntil('li').parent().attr("id");

    var learning_activity = learning_activities[container_id];

    $('#activityURI').val(container_id);
    $('#maxAttempts').val(learning_activity.attempt_limit);

    $('#activityRollupProgressCb').val(learning_activity.secondary_text);
    $('#activityExitCb').val(learning_activity.heading);
    $('#modalActivity').modal();

  });

  $('body').on('click','#saveActivityBtn',function (e) {
    var container_id  = $('#activityURI').val();


    learning_activities[container_id].attempt_limit = $('#maxAttempts').val();



    if ( $('#activityRollupProgressCb').prop("checked") == true)
    {
      learning_activities[container_id].is_visible = true;
    }
    else
    {
      learning_activities[container_id].is_visible = false;
    }

    if ( $('#activityExitCb').prop("checked") == true)
    {
      learning_activities[container_id].choice_exit = true;
    }
    else
    {
      learning_activities[container_id].choice_exit = false;
    }



    $('#modalActivity').modal('hide');


  });



    $('body').on('click', '.containerEditBtn', function(){

        var container_id  = $( this).parentsUntil('li').parent().attr("id");

        containerEdit(container_id);

    });



    $('body').on('click', '#courseSettingsBtn', function(){



        containerEdit('{{ course_id }}');

    });



    function containerEdit (container_id)
    {
      var learning_activity = learning_activities[container_id];

      if (learning_activity.is_container == true)
      {
        $("#modalContainer").find(".modal-title").text("Edit Container");
      }
      else{
        $("#modalContainer").find(".modal-title").text("Edit Activity");

      }

      $('#containerName').val(learning_activity.name);
      $('#containerSecondaryText').val(learning_activity.secondary_text);
      $('#containerHeading').val(learning_activity.heading);
      $('#containerDescription').val(learning_activity.description);
      $('#containerImage').val(learning_activity.image);
      $('#containerSlug').val(learning_activity.slug);
      $('#containerId').val(container_id);
      $('#changeURI').val(learning_activity.uri);


      $('#container_image').attr("src",learning_activity.uri);

      if (learning_activity.is_visible)
      {

        $('#containerIsVisible').prop("checked",true);

      }
      else{
        $('#containerIsVisible').prop("checked",false);
      }

      $('#modalContainer').modal();

    }

    $('body').on('click','#saveContainerEditBtn',function (e) {

      var container_id  = $('#containerId').val();
      learning_activities[container_id].name = $('#containerName').val();
      learning_activities[container_id].secondary_text =  $('#containerSecondaryText').val();
      learning_activities[container_id].heading = $('#containerHeading').val();
      learning_activities[container_id].description=$('#containerDescription').val();
      learning_activities[container_id].image=$('#containerImage').val();
      learning_activities[container_id].slug=$('#containerSlug').val();
      learning_activities[container_id].uri =  $('#changeURI').val();


      if ( $('#containerIsVisible').prop("checked") == true)
      {
        learning_activities[container_id].is_visible = true;
      }
      else
      {
        learning_activities[container_id].is_visible = false;
      }

      if   ('{{ course_id }}' == container_id ) //is root container ?
      {
            $("#course-title").html(learning_activities[container_id].name + '  <small>'+ learning_activities[container_id].uri  + '</small>'        );
      }
      else
      {

      var escaped_container_id = "#" + container_id.replace( "/", "\\/" );

      $(escaped_container_id).find('.container_name').first().text(learning_activities[container_id].name);

      }


      $('#modalContainer').modal('hide');

    });






  $('body').on('click', '.containerFromUntil', function(){


    var container_id  = $( this).parentsUntil('li').parent().attr("id");
    var learning_activity = learning_activities[container_id];


    $('#available-from').val(learning_activity.available_from);
    $('#available-until').val(learning_activity.available_until);
    $('#FromUntilURI').val(container_id);


    $('#available-from').datepicker({
      autoclose: true
    });
    $('#available-until').datepicker({
      autoclose: true
    });

    if (learning_activity.is_container == true)
    {
      $("#modalFromUntil").find(".modal-title").text("Edit Container");
    }
    else{
      $("#modalFromUntil").find(".modal-title").text("Edit Activity");

    }


    $('#modalFromUntil').modal();


  });


  $('body').on('click','#saveFromUntilBtn',function (e) {

    var container_id  = $('#FromUntilURI').val();
    learning_activities[container_id].available_from = $('#containerName').val();
    learning_activities[container_id].available_until =  $('#containerSecondaryText').val();

    $('#modalFromUntil').modal('hide');


  });


  $('body').on('click', '.containerPrecondition', function(){

    var container_id  = $( this).parentsUntil('li').parent().attr("id");
    var learning_activity = learning_activities[container_id];
    $('#containerPrecondition').val(learning_activity.pre_condition_rule );
    $('#PreconditionURI').val(container_id);


    if (learning_activity.is_container == true)
    {
      $("#modalPrecondition").find(".modal-title").text("Edit Container");
    }
    else{
      $("#modalPrecondition").find(".modal-title").text("Edit Activity");

    }


    $('#modalPrecondition').modal();

  });


  $('body').on('click','#savePreconditionBtn',function (e) {
    var container_id  = $('#PreconditionURI').val();
    learning_activities[container_id].pre_condition_rule = $('#containerPrecondition').val();

    $('#modalPrecondition').modal('hide');


  });


  $('body').on('click', '.containerRollup', function(){


    var container_id  = $( this).parentsUntil('li').parent().attr("id");
    var learning_activity = learning_activities[container_id];
    $('#containerRollupRule').val(learning_activity.rollup_rule );
    $('#rollupURI').val(container_id);

    if (learning_activity.is_container == true)
    {
      $("#modalRollup").find(".modal-title").text("Edit Container");
    }
    else{
      $("#modalRollup").find(".modal-title").text("Edit Activity");

    }

    if (learning_activity.rollup_progress)
    {

      $('#rollupProgressCb').prop("checked",true);

    }
    else{

      $('#rollupProgressCb').prop("checked",false);
    }


    $('#modalRollup').modal()


  });


  $('body').on('click','#saveRollupBtn',function (e) {

    var container_id  = $('#rollupURI').val();
    learning_activities[container_id].rollup_rule = $('#containerRollupRule').val();

    if ( $('#rollupProgressCb').prop("checked") == true)
    {
      learning_activities[container_id].rollup_progress = true;
    }
    else
    {
      learning_activities[container_id].rollup_progress = false;
    }
        $('#modalRollup').modal('hide');


  });


</script>


<div class="modal fade" id="modalContainer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control hidden" id="containerId" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="changeURI">URL</label>
          <input type="text" class="form-control" id="changeURI" placeholder="" required pattern="https?://.+" >
        </div>

        <div class="form-group">
          <label for="containerName">Display Name</label>
          <input type="text" class="form-control" id="containerName" placeholder="Container Name">
        </div>
        <div class="form-group">
          <label for="containerSlug">Slug</label>
          <input type="url" class="form-control" id="containerSlug" placeholder="" required pattern="https?://.+">
        </div>

        <div class="form-group">
          <label for="containerHeading">Header</label>
          <input type="url" class="form-control" id="containerHeading" placeholder="" required pattern="https?://.+">
        </div>
        <div class="form-group">
          <label for="containerSecondaryText">Secondary Text</label>
          <input type="url" class="form-control" id="containerSecondaryText" placeholder="" required pattern="https?://.+">
        </div>
        <div class="form-group">
          <label for="containerDescription">Description</label>
          <textarea class="form-control" id="containerDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="containerImage">Image URL</label>
          <input type="url" class="form-control" id="containerImage" placeholder="" required pattern="https?://.+">

        </div>
        <div class="row">

          <img id="container_image" src="http://img.src.ca/2014/07/03/635x357/140703_pg6ew_mlarge_obession_performance_sn635.jpg" alt="..." class="img-rounded fixed-small center-block">

        </div>





        <div class="form-group">
          <div class="checkbox">
            <label> <input id="containerIsVisible" type="checkbox"> Visible </label>
          </div>
        </div>

      </div><!-- /.modal-body -->


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveContainerEditBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalPrecondition">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">

        <div class="form-group">

          <input type="url" class="form-control hidden" id="PreconditionURI" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="containerPrecondition">Precondition Rule</label>
          <textarea class="form-control" id="containerPrecondition" rows="3"></textarea>
        </div>


      </div><!-- /.modal-body -->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="savePreconditionBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalFromUntil">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">

        <div class="form-group">

          <input type="url" class="form-control hidden" id="FromUntilURI" placeholder="" required pattern="https?://.+" disabled>
        </div>


        <div class="form-group">
          <label for="available-from">Available from</label>
          <div id ="available-from" class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>




        <div class="form-group">
          <label for="available-until">Available until</label>
          <div id ="available-until" class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>

      </div><!-- /.modal-body -->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveFromUntilBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalRollup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Container</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">

          <input type="url" class="form-control hidden" id="rollupURI" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="containerRollupRule">Rollup Rule</label>
          <textarea class="form-control" id="containerRollupRule" rows="3"></textarea>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label> <input id="rollupProgressCb" type="checkbox"> Rollup Progress </label>
          </div>
        </div>

      </div><!-- /.modal-body -->



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveRollupBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalActivity">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">

          <input type="url" class="form-control hidden" id="activityURI" placeholder="" required pattern="https?://.+" disabled>
        </div>

        <div class="form-group">
          <label for="maxAttempts">Attempt Limit</label>
          <input type="url" class="form-control" id="maxAttempts" placeholder="" required pattern="https?://.+" >
        </div>


        <div class="form-group">
          <div class="checkbox">
            <label> <input id="activityRollupProgressCb" type="checkbox"> Rollup Progress </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label> <input id="activityExitCb" type="checkbox"> Choice Exit   </label>
          </div>
        </div>


      </div><!-- /.modal-body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveActivityBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




{% endblock scripts %}












