{% extends "activitytree/base.html" %}



{% block content %}


<div class="row">
<div class="col-md-4">

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title"> Mi Avance </h3></div>

        <div id="progress" class="list-group">




        </div>



  </div>


    </div>

{% endblock content %}

{% block scripts %}

<script id="progress_template" type="x-tmpl-mustache">
 <a href="[[uri]]" class="list-group-item ">
                <div class="row">
                    <div class="col-md-8">
                        <p class="list-group-item-text"><i class="fa [[icon]]"></i>
                         [[heading]]
                         </p>
                    </div>
                    <div class="col-md-4">
                        <div class="progress [[progress_type]]">
                            <div class="progress-bar" role="progressbar" aria-valuenow="[[progress]]" aria-valuemin="0"
                                 aria-valuemax="100" style="width: [[progress]]%;">[[progress]]%
                            </div>
                        </div>

                    </div>
                </div>
            </a>

</script>



<script type="text/javascript" charset="utf-8">



    function get_children_activities( element)
    {
        var children = [];
        $(element).children().each(function (index) {

            var uri_string = this.getAttribute("uri");
            var icon = get_icon(uri_string);
            if (this.getAttribute("objective_status")=="satisfied")
                {
                    icon.icon = "fa fa-check"
                }
            children[children.length] =  {
                heading: this.getAttribute("heading"),
                uri:uri_string,
                icon:icon.icon,
                disabled:(this.getAttribute("pre_condition")=="disabled"),
                objective_status:(this.getAttribute("objective_status")=="satisfied")
            };

        });

        return children;
    }

    $( document ).ready(function() {

        Mustache.tags = ['[[', ']]'];

        XML_NAV = "{{XML_NAV|safe}}";
        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc)
        $root  = $xml.children();
        if ($root[0].getAttribute("is_container")=="True") {
            var progress_template = $('#progress_template').html();
            Mustache.parse(progress_template);   // optional, speeds up future uses

            $root.children().each(function (index) {
                var rendered = "";
                var uri_string = this.getAttribute("uri");
                var icon;

                //Only top-level containers
                if (this.getAttribute("is_container") == "True")
                {

                     if (this.getAttribute("pre_condition")=="disabled")
                       icon =  "fa fa-folder-lock";
                     else
                       icon  = "fa fa-folder-open";

                    rendered = Mustache.render(template, {
                        heading: this.getAttribute("heading"),
                        uri: this.getAttribute("uri"),
                        icon: icon


                    });
                }

                $("#progress").append(rendered);



            });

        }

    });

</script>

{% endblock scripts %}