{% extends "activitytree/base.html" %}



{% block content %}
<div class="row"><h3>Dashboard</h3>
</div>

<div class="row">
 <div class="col-md-4">

    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title"> Avance </h3></div>

        <div id="progress" class="list-group">




        </div>



  </div>

</div>
<div class="col-md-8">

<div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"> Detalle </h3></div>

        <div id="activity_detail" class="list-group">
     <div class="list-group-item">
<div class="row">
                    <div class="col-md-4">
                        Actividad
                    </div>

                    <div class="col-md-1">
                       Pre

                    </div>
                    <div class="col-md-2 text-center">

                       Completo

                    </div>
                      <div class="col-md-1">
                       Pts.

                    </div>
                    <div class="col-md-2 text-left">

                       Intentos

                    </div>
                    <div class="col-md-1">

                       Visitado hace

                    </div>

                </div>



        </div>


</div>
  </div>





  </div>

</div>

{% endblock content %}

{% block scripts %}

<script id="progress_template" type="x-tmpl-mustache">
 <div class="list-group-item [[item_class]] ">
                <div class="row">
                    <div class="col-md-8">
                        <a href="/[[root_id]][[uri]]">
                        <p class="list-group-item-text"><i class="fa [[icon]]"></i>
                         [[heading]]
                         </p>
                         </a>
                    </div>
                    <div class="col-md-4">
                        <div class="progress">
                            <div class="progress-bar [[progress_type]]" role="progressbar" aria-valuenow="[[progress]]" aria-valuemin="2em"
                                 aria-valuemax="100" style="width: [[progress]]%;">[[progress]]%
                            </div>
                        </div>

                    </div>
                </div>
            </div>

</script>

<script id="activity_template" type="x-tmpl-mustache">
 <div class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                    <a href="/[[path_id]][[uri]]">
                        <p class="list-group-item-text"><i class="fa [[icon]]"></i>
                         [[name]]
                         </p>
                    </a>
                    </div>

                    <div class="col-md-1">
                       [[pre_condition]]

                    </div>

                    [[#progress_status]]
                         <div class="col-md-2 text-center">
                           <i class="fa fa-check"></i><br/>



                         </div>
                     [[/progress_status]]
                     [[^progress_status]]
                        <div class="col-md-2">

                         </div>
                     [[/progress_status]]



                      <div class="col-md-1">
                       [[objective_measure]]

                    </div>
                    <div class="col-md-2">

                       [[num_attempts ]]

                    </div>
                    <div class="col-md-2">

                       [[last_visited ]]

                    </div>

                </div>

   </div>

</script>


<script type="text/javascript" charset="utf-8">

    function get_icon(uri_string)
    {

        if (uri_string.lastIndexOf("/test/", 0) === 0)
            return {icon:"fa fa-pencil",activity_type: "Quiz"} ;
        else if (uri_string.lastIndexOf("/survey/", 0) === 0)
            return {icon:"fa fa-pencil-square-o",activity_type: "Encuesta"} ;
        else if (uri_string.lastIndexOf("/activity/video/", 0) === 0)
            return {icon:"fa fa-video-camera",activity_type: "Video"} ;
        else if (uri_string.lastIndexOf("/activity/", 0) === 0)
            return {icon:"fa fa-book",activity_type: "Lectura"} ;
        else if (uri_string.lastIndexOf("/program/", 0) === 0)
            return {icon:"fa fa-coffee",activity_type: "Ejercicio en Consola"} ;

    }

    function get_children_activities( element)
    {
        var children = [];
        $(element).children().each(function (index) {

            var uri_string = this.getAttribute("uri");
            var icon = get_icon(uri_string);
            if (this.getAttribute("progress_status")=="completed")
                {
                    icon.icon = "fa fa-check"
                }
            children[children.length] =  {
                heading: this.getAttribute("name"),
                uri:uri_string,
                icon:icon.icon,
                disabled:(this.getAttribute("pre_condition")=="disabled"),
                progress_status:(this.getAttribute("progress_status")=="completed")
            };

        });

        return children;
    }

    function get_percentage(element)
       {
           var percentage = 0.0;
           if (element.getAttribute("progress_status")=="completed")
           {
               percentage = 100.00
           }
           else {

               var d = $(element).find("item[progress_status~='completed']").length/ $(element).find("item").length;
               percentage = Math.round(d*100);

           }
           return percentage;
       }

    function prettyDate(now, time){
            var date = new Date(time || ""),
                diff = (((new Date(now)).getTime() - date.getTime()) / 1000),
                day_diff = Math.floor(diff / 86400);

            if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
                return;

              return day_diff == 0 && (
                  diff < 60 && "nada" ||
                  diff < 120 && "un minuto" ||
                  diff < 3600 && Math.floor( diff / 60 ) + " mins."
                    ||
                  diff < 7200 && "1 hora" ||
                  diff < 86400 && Math.floor( diff / 3600 ) +
                    " hrs.") ||
                day_diff == 1 && "ayer" ||
                day_diff < 7 && day_diff + " dias" ||
                day_diff < 31 && Math.ceil( day_diff / 7 ) +
                  " semanas";
    }

    $( document ).ready(function() {

        Mustache.tags = ['[[', ']]'];

        XML_NAV = "{{XML_NAV|safe}}";
        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc)
        $root  = $xml.children();


        if ($root[0].getAttribute("is_container")=="True") {
            var progress_template = $('#progress_template').html();
            Mustache.parse(progress_template);   // optional, speeds up future uses

            $root.children().each(function (index) {
                var rendered = "";
                var uri_string = this.getAttribute("uri");
                var icon;
                var item_class;
                var progress_type="";

                //Only top-level containers
                if (this.getAttribute("is_container") == "True")
                {

                     if (this.getAttribute("pre_condition")=="disabled")
                     {
                       icon =  "fa fa-lock";
                       item_class = "disabled";
                     }
                     else
                     {
                       icon  = "fa fa-folder-open";
                     }
                    var percentage = get_percentage(this);

                    if (percentage > 90)
                    {
                        progress_type="progress-bar-success";
                    }
                    else if (percentage <= 20){
                        progress_type="progress-bar-danger";
                    }



                    rendered = Mustache.render(progress_template, {
                        heading: this.getAttribute("name"),
                        uri: this.getAttribute("uri"),
                        icon: icon,
                        item_class:item_class,
                        progress:percentage,
                        progress_type:progress_type,
                        root_id:this.getAttribute("root_id")


                    });
                }

                $("#progress").append(rendered);



            });

        }

        var activity_template = $('#activity_template').html();
        Mustache.parse(activity_template);   // optional, speeds up future uses

         $xml.find('item').each(function (index) {

             var uri_string = this.getAttribute("uri");

             var activity_type = get_icon(uri_string);

             if (this.getAttribute("is_container")=='True')
                activity_type.icon = "fa fa-folder";

             var completed = (this.getAttribute("progress_status")=='completed');

             var root_id = this.getAttribute("root_id")=='None' && this.getAttribute("id") ||  this.getAttribute("root_id");


             var objective_measure =  !isNaN(Math.floor(this.getAttribute("objective_measure")))
                                    && Math.floor(this.getAttribute("objective_measure")) ||  "";

             var last_visited_ISO = this.getAttribute("last_visited").replace(" ","T");

             var last_visited = prettyDate(Date(),last_visited_ISO);

             var num_attempts = this.getAttribute("num_attempts") > 0 && this.getAttribute("num_attempts") || "";

             var data = {
                            icon: activity_type.icon,
                            is_container:this.getAttribute("is_container"),
                            name: this.getAttribute("name"),
                            description:this.getAttribute("description"),
                            uri: uri_string,
                            root_id:root_id,
                            pre_condition:this.getAttribute("pre_condition"),
                            progress_status: completed,

                            image: this.getAttribute("image"),

                            activity_type: activity_type.activity_type,
                            id: this.getAttribute("activity"),
                            path_id: this.getAttribute("id"),

                            num_attempts: num_attempts,
                            attempt_limit: this.getAttribute("attempt_limit"),
                            last_visited:last_visited,
                            objective_measure: objective_measure

                        };




             var  rendered = Mustache.render(activity_template, data) || "";

              $("#activity_detail").append(rendered);
         });


    });





</script>

{% endblock scripts %}