
{% extends "activitytree/../base.html" %}

{% block content %}
<div class="container">



 <!--Instructor Header BEGIN -->

<div class="row instructor-tab">

      <!--Instructor TABS -->

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Mis Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/activitybuilder">Actividades</a>
          </li>
        </ul>
</div>
       <!--Instructor Menu -->

            <div class="row instructor-tab" >
                <nav class="navbar navbar-light bg-faded">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"> <button class="btn btn-primary active create-course">Nuevo Curso</button></li>
                    </ul>
                </nav>
           </div>




 <!--Instructor Header END -->

     {% for c in courses %}
      <div class="row">


            <div class="col-md-8">
               <h4> <a href="/course-builder/{{c.id }}" class="page-header">{{c.name}} </a></h4>
                <p> {{ c.course.short_description|safe }} </p>

            </div>

            <div class="col-md-4">
                <p>
                    <span class="label label-info">curso</span>
                </p>
            </div>
      </div>
  {% endfor %}

      <hr>

      <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
           </a>
            <br />El contenido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> y
            otras licencias abiertas.</p>
      </footer>
    </div> <!-- /container -->
{% endblock content %}

{% block scripts %}
    <script>

        $('body').on('click', '.create-course', function(){

        $('#modalCreateCourse').modal();


  });

    $('body').on('click','#createCourseBtn',function (e) {

    $('#modalCreateCourse').modal('hide');

  });




    </script>


<div class="modal fade" id="modalCreateCourse">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/course-builder/" method="post">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Course</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control hidden" id="containerId" placeholder="" required pattern="https?://.+" disabled>
                    </div>
                    <div class="form-group">
                        <label for="courseURI">Course URI</label>
                        <input type="text" name="course_uri" class="form-control" id="courseURI" placeholder="">
                        <label for="courseName">Display Name</label>
                        <input type="text" name="course_name" class="form-control" id="courseName" placeholder="">
                        <label for="courseDesc">Description</label>
                        <input type="text" name="course_short_description" class="form-control" id="courseDesc" placeholder="">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label> <input id="containerIsVisible" type="checkbox"> Public </label>
                        </div>
                    </div>
                </div><!-- /.modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="createCourseBtn" type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                Confirm <i class="fa fa-upload"></i>
            </div>
            <div class="modal-body">
                Activity already exists. Update?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="acceptEditBtn">Submit</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>




{% endblock scripts %}
