
{% extends "activitytree/base.html" %}

{% block content %}





 <!--Instructor Header BEGIN -->

        <div class="row instructor-tab">
          <div class="col-md-10 col-md-offset-1">
              <!--Instructor TABS -->

                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Mis Cursos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/activitybuilder">Mis Actividades</a>
                  </li>
                </ul>
           </div>
        </div>
         <!--Instructor Menu -->

            <div class="row instructor-tab" >
             <div class="col-md-10 col-md-offset-1">
                <nav class="navbar navbar-light bg-faded">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"> <button id="createCourseBtn" class="btn btn-primary active">Crear un nuevo curso</button></li>
                    </ul>
                </nav>
              </div>
           </div>




 <!--Instructor Header END -->

     {% for c in courses %}
      <div class="row">


            <div class="col-md-8  col-md-offset-2">
               <h4> <a href="/course-builder/{{c.id }}" class="page-header">{{c.name}} </a></h4>
                <p> {{ c.course.short_description|safe }} </p>
            </div>

      </div>
  {% endfor %}





{% endblock content %}

{% block scripts %}
    <script>
// Create course validation



    $('body').on('click','#createCourseBtn',function (e) {

    var course_uri = document.getElementById('courseURI');
        course_uri.oninvalid = function(event) {
           event.target.setCustomValidity('El identificador no debe contener espacios. Solo letras, números y los caracteres: _  -');

        }
     course_uri.oninput = function(event) {
           event.target.setCustomValidity('');

        }




    var course_name = document.getElementById('courseName');
        course_name.oninput = function(event) {
            event.target.setCustomValidity('Un curso debe tener Nombre');
        }
        course_name.oninput = function(event) {
           event.target.setCustomValidity('');

        }


    $('#modalCreateCourse').modal('show');


  });




    </script>


<div class="modal fade" id="modalCreateCourse">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/course-builder/" method="post">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear un nuevo curso</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="courseURI">Identificador del curso</label>
                        <input type="text" name="course_uri" class="form-control" id="courseURI" placeholder="nombre-del-curso" required pattern="[A-Za-z0-9._-]+">
                        <small class="form-text text-muted"> Debes incluir un identificador del curso, éste
                         será parte de la dirección con la que los usarios accederán al curso. Solo debe incluir números, letras y guiones. No espacios.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="courseName">Nombre</label>
                        <input type="text" name="course_name" class="form-control" id="courseName" required placeholder="">
                        <small class="form-text text-muted"> Este es el nombre que se utilizará para anunciar al curso, puede contener espacios y otros
                            caracteres.</small>
                    </div>
                     <div class="form-group">
                        <label for="courseDesc">Descripción</label>
                        <textarea class="form-control" id="courseDesc" name="course_short_description" placeholder="" rows="3"></textarea>
                        <small class="form-text text-muted"> Agrega una breve descripción del material. Aparecera cuando se muestre al curso en los listados.</small>
                     </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label> <input id="containerIsVisible" type="checkbox"> Privado </label>

                        </div>
                        <small class="form-text text-muted"> Selecciona la opción <strong>Privado</strong> cuando deses limitar quien puede inscribirse al
                             curso. No aparecerá en el listado de cursos.</small>
                    </div>
                </div><!-- /.modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="submitCourseBtn" type="submit" class="btn btn-primary">Crear curso</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock scripts %}
