__author__ = 'mario'
{% extends "activitytree/base.html" %}
{% load gravatar %}


{% block content %}



<row>

           <div class="col-sm-3">

                <img src="{% gravatar_url user.email 150 %}"  class="text-center" alt="Generic placeholder thumbnail">
            <h4 class="text-lowercase text-left">{{ user.first_name }} {{ user.last_name }}</h4>
           <p class="text-lowercase text-left">  <span class="text-muted">{{ user.email }}</span></p>

               <hr/>
               <h4 class="text-left">Cambia tu foto de perfil:</h4>
               <a class="btn btn-default btn-block" href="http://gravatar.com" role="button"><i class="fa fa-camera"></i>
Gravatar.com</a>
               <form>




                    <h4 class="text-left">Tus cuentas:</h4>

                   {% if user.userprofile.facebook_uid  %}

    <a id="unlink-login-facebook-btn" href="/facebook/get_login" class="btn btn-block btn-default">
        <i class="fa fa-facebook"></i> Desactivar</a>
                    {% else %}
    <a id="link-login-facebook-btn" href="/facebook/get_login" class="btn btn-block btn-default">
        <i class="fa fa-facebook"></i> Activar</a>

                    {% endif %}

                 {% if user.userprofile.google_uid  %}

               <a id="unlink-loginGoogle" class="btn btn-block btn-default"><i class="fa fa-google-plus"></i>
       Desactivar </a>
                    {% else %}
                 <a id="link-loginGoogle" class="btn btn-block btn-default"><i class="fa fa-google-plus"></i>
       Activar </a>
               {% endif %}

               <hr/>
 <a  href="/password_change/" class="btn btn-block btn-danger"> Cambiar contraseña</a>
</form>
            </div>

            <div class="col-sm-9">


            <form>
  <div class="form-group">
  <label for="username">Usuario</label>
    <input type="email" class="form-control" id="username" placeholder="{{ user.username }}">
  </div>
  <div class="form-group">
  <label for="username">Nombre</label>
    <input type="email" class="form-control" id="first_name" placeholder="{{  user.first_name }}">
  </div>
    <div class="form-group">
  <label for="username">Apellido</label>
    <input type="email" class="form-control" id="last_name" placeholder="{{  user.last_name }}">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Correo electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="{{ user.email }}">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>







        </div>
</row>





{% endblock content %}

{% block scripts %}

<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
<script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');


                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });



    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '95891402620-36t537m45mim9todkv6vno7k6lqbpqvp.apps.googleusercontent.com',
          'scope': 'profile email'
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
    $( document ).ready(function() {
    $('#link-loginGoogle').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(function(authResult) {
        if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    //$('#signinButton').attr('style', 'display: none');
    alert("auth");
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/GoogleLink',
      contentType: 'application/json',
      success: function(result) {
        // Handle or verify the server response.
          if (!result.success)
          {
              if (result.error == 'AuthAlreadyAssociated')
              {
                $('#login_form').prepend("<div class='alert alert-danger alert-dismissable'>" +
                 "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
                 "<p>El correo electrónico de tu cuenta está ligado a un perfil existente. Si es tuyo ingresa con la otra cuenta.</p>  " +
                 "<p>Si no recuerdas la cuenta puedes <a href='/password_reset/'> restablecer tu perfil. </a> Ya en tu perfil puedes asociar de nuevo otras cuentas.</p>"
                  +"</div>");
              }
              else if(result.error == 'ProfileNotFound')
              {
                   $('#login_form').prepend("<p>Inténtalo de nuevo, el usuario y contraseña no coinciden.</p>");
              }


          }
          else
          {
             alert("Success");
          }



      },
      processData: false,
      dataType: "json",
      data: JSON.stringify({code:authResult['code']}),
      error: function(jqXHR, textStatus, errorThrown) {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);
                        }

    });
    }
        else {
    // There was an error.
  }



        });

    });

     });
  </script>

{% endblock scripts %}