{% extends "activitytree/base.html" %}
{% load tz %}
{% load gravatar %}

{% block content %}



<row>

           <div class="col-sm-5">
           <h3>Perfil básico</h3>
           <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2">
                          <img src="{% gravatar_url user.email 150 %}"  class="text-center" alt="Generic placeholder thumbnail">
            <h4 class="text-lowercase text-left">{{ user.first_name }} {{ user.last_name }}</h4>
            <p class="text-lowercase text-left">  <span class="text-muted">{{ user.email }}</span></p>

              <a   href="http://gravatar.com" class="btn btn-block btn-secondary"> <i class="fa fa-camera"></i> Cambia tu foto  </a>
            </div>


           </div>


    <hr/>



    {% comment %}
    Posibles excepciones

    {% endcomment %}



<form  id="login_form">
  <div class="form-group">
  <label for="username">Usuario</label>
  <input type="text" class="form-control" id="username" name="username"
           value="{{ user.username }}" placeholder="Usuario" readonly>

  </div>
  <div class="form-group">
  <label for="username">Nombre</label>
    <input type="text" class="form-control" id="first_name" name="first_name"
           value="{{  user.first_name }}" placeholder="Nombre">
  </div>
    <div class="form-group">
  <label for="username">Apellido</label>
    <input type="text" class="form-control" id="last_name" name="last_name"
           value="{{  user.last_name }}" placeholder="Apellido">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Correo electrónico</label>
  <input type="text" class="form-control" id="exampleInputEmail1" name="email"
           value="{{ user.email }}"  readonly>
  </div>


  <button id="form-submit" type="submit" class="btn btn-primary"> Actualizar nombre</button>

   <hr>
<div class="alert alert-info" role="alert">
      <strong>Versión de Prueba:</strong> Por el momento no es posible modificar el correo ni el nombre de usuario de una cuenta.
      La foto del perfil solo la puedes cambiar en Gravatar o usar Facebook o GPlus.




  </div>

</form>



            </div>

    <div class="col-sm-6">
{% comment %}
Mensajes de error
{% endcomment %}



        <h3> Configuración avanzada </h3>
        <p class="lead">
            Esta información le permite a los autores hacer cursos a tu medida.
        </p>

        <div class="card ">
          <div class="card-header">  Zona Horaria  </div>
               <div class="card-block ">
                  <p class="card-text">
                    Si guardas tu zona horaria permitirás a los autores ofrecerte recursos didácticos de acuerdo
                    a tu horario y día de la semana.
                  </p>



                     <h4 id="saved-time-zone" class="text-success">

                    </h4>

                    <p class="card-text"><small class="text-muted"> Esta es la zona horaria guardada actualmente en
                        tu perfil. No te preocupes si no se imprime tu ciudad exactamente, es solo la zona horaria.</small></p>
                    <h4 id="current-time-zone" class="text-muted">

                    </h4>
                    <p class="card-text"><small class="text-muted"> Esta es la zona horaria que reporta tu navegador.
                      Si deseas actualizar tu perfil presiona Guardar.  </small></p>
                <a id="timezone-save" class="btn btn-primary">Guardar</a> <a id="timezone-delete"  class="btn btn-secondary">No utilizar</a>
           </div>
      </div>

    <div class="card ">
           <div class="card-header">  Estilo de aprendizaje  </div>
           <div class="card-block ">
           <form id="learning-style-form" onsubmit="return false">
           <div class="form-group row">
           <label for="example-number-input" class="col-xs-2 col-form-label">Visual</label>
           <div class="col-xs-4">
           <input class="form-control ls" type="number" value="0" id="ls-visual" max="25" min="0">
           </div>
           <div class="col-xs-6">
           <progress id="ps-visual" class="progress progress-success ls-bar" value="0" max="25"></progress>
           </div>
           </div>

            <div class="form-group row">
                  <label for="example-number-input" class="col-xs-2 col-form-label">Verbal</label>
                  <div class="col-xs-4">
                    <input class="form-control ls" type="number" value="0" id="ls-verbal" max="25" min="0">
                  </div>
                  <div class="col-xs-6">
                    <progress id="ps-verbal" class="progress progress-success ls-bar" value="0" max="25">Aural</progress>
                  </div>
            </div>
            <div class="form-group row">
                  <label for="example-number-input" class="col-xs-2 col-form-label">Aural</label>
                  <div class="col-xs-4">
                    <input class="form-control ls" type="number" value="0" id="ls-aural" max="25" min="0">
                  </div>
                  <div class="col-xs-6">
                    <progress id="ps-aural" class="progress progress-success ls-bar" value="0" max="25">Aural</progress>
                  </div>
            </div>
            <div class="form-group row">
                  <label for="example-number-input" class="col-xs-2 col-form-label">Lógico</label>
                  <div class="col-xs-4">
                    <input class="form-control ls" type="number" value="0" id="ls-logical" max="25" min="0">
                  </div>
                  <div class="col-xs-6">
                    <progress id="ps-logical" class="progress progress-success ls-bar" value="0" max="25"></progress>
                  </div>
            </div>
            <div class="form-group row">
                  <label for="example-number-input" class="col-xs-2 col-form-label">Físico</label>
                  <div class="col-xs-4">
                    <input class="form-control ls" type="number" value="0" id="ls-physical" max="25" min="0">
                  </div>
                  <div class="col-xs-6">
                    <progress id="ps-physical" class="progress progress-success ls-bar" value="0" max="25"></progress>
                  </div>
            </div>
            <div class="form-group row">
                  <label for="example-number-input" class="col-xs-2 col-form-label">Social</label>
                  <div class="col-xs-4">
                    <input class="form-control ls" type="number" value="0" id="ls-social" max="25" min="0">
                  </div>
                  <div class="col-xs-6">
                    <progress id="ps-social" class="progress progress-success ls-bar" value="0" max="25"></progress>
                  </div>
            </div>
            <div class="form-group row">
                  <label for="example-number-input" class="col-xs-2 col-form-label">Solitario</label>
                  <div class="col-xs-4">
                    <input class="form-control ls" type="number" value="0" id="ls-solitary" max="25" min="0">
                  </div>
                  <div class="col-xs-6">
                    <progress id="ps-solitary" class="progress progress-success ls-bar" value="0" max="25"></progress>
                  </div>
            </div>

            <button  type="submit" class="btn btn-primary">Guardar</button>
             <button id="learning-style-delete"  class="btn btn-secondary">No utilizar</button>

            </form>

           </div>
           </div>

           <div class="card ">
                <div class="card-header">  Experiencia en programación </div>
                <div class="card-block">

                   <div class="form-group row">
                        <label for="example-number-input" class="col-xs-6 col-form-label">¿Como te consideras en programación?</label>
                        <div class="col-xs-6">
                         <select id="experience-list" class="form-control form-control">
                                <option value="0">no utilizar</option>
                                <option value="1">principiante</option>
                                <option value="2">intermedio</option>
                                <option value="3">avanzado</option>
                                <option value="4">experto</option>

                        </select>
                        </div>

                    </div>

               </div>

           </div>
   </div>


</row>





{% endblock content %}

{% block scripts %}
 <script src="{{ STATIC_URL }}app/scripts/jstz.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>


<script>

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
               // crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');


                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '{{ GOOGLE_APP_ID }}',
          'scope': 'profile email'
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }



//
// When READY
//
 $( document ).ready(function() {



     var timezone = jstz.determine();
     console.log(timezone.name()) ;
     $("#current-time-zone").empty();
     $("#current-time-zone").html(timezone.name());



      $.ajaxSetup({
                //crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');


                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

     $.get( '/me/profile/tz', function(data) {

         if (data.result == 'found')
         {
              if (data.tz !== null )
              {
                 $('#saved-time-zone').html(data.tz);
              }

             if (data.experience !== null )
              {
                 $('#experience-list').val(data.experience);
              }


         }
         else
          {
              $('#saved-time-zone').html("Sin información");

          }


      }).error(function (data ){
          $('#saved-time-zone').html("Error al recuperar la información");
     });

     $.get( '/me/profile/learning_style', function(data) {

          if (data.result == 'found') {
              $.each(data, function (key, value) {

                  $('#ls-' + key).val(value);
                  $('#ps-' + key).val(value);


              });
            }
            }).error(function (data) {
                  alert("Error al recuperar la información");
              });

    $('body').on('submit','#learning-style-form',function (e) {

                  e.preventDefault();
                  var data = {};

                  $(".ls").each(function () {
                    data[$( this ).attr("id").substring(3)]= $( this ).val();
                    });


                  data['method']= 'upsert';
                  console.log(JSON.stringify(data));

                  $.post('/me/profile/learning_style', JSON.stringify(data),

                      function (data) {

                           $(".ls").each(function () {
                             console.log("ps-" + $( this ).attr("id").substring(3));
                            $( "#ps-" + $( this ).attr("id").substring(3)).val(  $( this ).val()  );
                             });


                      });

            });


             $("#learning-style-delete").on("click", function (event) {
                  $.post('/me/profile/learning_style', JSON.stringify({method: 'delete'}),

                          function (data) {
                               $(".ls").each(function () {
                            $( this ).val(0);
                    });
                                $(".ls-bar").each(function () {
                            $( this ).val(0);
                    });
                          });
              });



              $("#timezone-save").on("click", function (event) {
                  $.post('/me/profile/tz', JSON.stringify({tz: timezone.name(), method: 'upsert'}),

                          function (data) {
                              $("#saved-time-zone").html(data.tz);
                          }
                  );
              });

              $('body').on("change","#experience-list", function (event) {

                             console.log($("#experience-list").val());

                  $.post('/me/profile/experience', JSON.stringify({experience: $("#experience-list").val(), method: 'upsert'}),

                          function (data) {
                             console.log(data);
                          }
                  );
              });

              $("#timezone-delete").on("click", function (event) {
                  $.post('/me/profile/tz', JSON.stringify({method: 'delete'}),

                          function (data) {
                              $("#saved-time-zone").html("Sin información");
                          });
              });


              $.getScript('//connect.facebook.net/en_US/sdk.js', function () {

                  FB.init({
                      appId: '{ {{FACEBOOK_APP_ID}} }',
                      version: 'v2.3' // or v2.0, v2.1, v2.0
                  });

                  $('#loginbutton,#feedbutton').removeAttr('disabled');
                  FB.getLoginStatus(function (response) {
                      if (response.status === 'connected') {
                          // the user is logged in and has authenticated your
                          // app, and response.authResponse supplies
                          // the user's ID, a valid access token, a signed
                          // request, and the time the access token
                          // and signed request each expire
                          var uid = response.authResponse.userID;
                          var accessToken = response.authResponse.accessToken;
                          alert('connected');
                      }
                      else if (response.status === 'not_authorized') {
                          // the user is logged in to Facebook,
                          // but has not authenticated your app
                          alert('not_authorized');

                      } else {

                          console.log('not_logged');
                          // the user isn't logged in to Facebook.
                      }
                      console.log('unknown');
                  });

              });


              $("#login_form").on("submit", function (event) {
                  event.preventDefault();

                  $.ajaxSetup({
                      //crossDomain: false, // obviates need for sameOrigin test
                      beforeSend: function (xhr, settings) {
                          if (!csrfSafeMethod(settings.type)) {
                              var csrftoken = getCookie('csrftoken');


                              xhr.setRequestHeader("X-CSRFToken", csrftoken);
                          }
                      }
                  });

                  $.post('/me', $("#login_form").serialize(),
                          function (data) {
                              console.log("succsess update");

                          }
                  );

              });

              $('#unlink-login-facebook').click(function () {

              });

              $('#link-loginGoogle').click(function () {
                  // signInCallback defined in step 6.
                  auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(function (authResult) {
                      if (authResult['code']) {

                          // Hide the sign-in button now that the user is authorized, for example:
                          //$('#signinButton').attr('style', 'display: none');

                          // Send the code to the server
                          $.ajax({
                              type: 'POST',
                              url: '/GoogleLink',
                              contentType: 'application/json',
                              success: function (result) {
                                  // Handle or verify the server response.
                                  if (!result.success) {   //alert("Error: "+result.error)
                                      if (result.error == 'AuthAlreadyAssociated') {
                                          $('#link-accounts-form').prepend("<div class='alert alert-danger alert-dismissable'>" +
                                                  "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
                                                  "<p>El correo electrónico de esa cuenta ya está ligado a un perfil existente. Si es tuyo ingresa con la otra cuenta.</p>  " +
                                                  "<p>Si no recuerdas la cuenta puedes <a href='/password_reset/'> restablecer tu contraseña. </a> Ya en tu perfil, puedes conectar o desconectar otras cuentas.</p>"
                                                  + "</div>");
                                      }

                                      if (result.error == 'IntegrityError') {
                                          $('#link-accounts-form').prepend("<div class='alert alert-danger alert-dismissable'>" +
                                                  "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
                                                  "<p>El correo electrónico de tu cuenta está ligado a un perfil existente. Si es tuyo ingresa con la otra cuenta.</p>  " +
                                                  "<p>Si no recuerdas la cuenta puedes <a href='/password_reset/'> restablecer tu perfil. </a> Ya en tu perfil puedes asociar de nuevo otras cuentas.</p>"
                                                  + "</div>");
                                      }
                                      if (result.error == 'ProfileNotFound') {
                                          $('#link-accounts-form').prepend("<p>Inténtalo de nuevo, el usuario y contraseña no coinciden.</p>");
                                      }

                                      if (result.error == 'DifferentEMAIL') {
                                          $('#link-accounts-form').prepend("<div class='alert alert-danger alert-dismissable'>" +
                                                  "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" +
                                                  "<p>El correo de la cuenta que desas enlazar debe coincidir con el correo de la cuenta actual.</p></div>");


                                      }


                                  }
                                  else {

                                      window.location.href = '/me';
                                  }


                              },
                              processData: false,
                              dataType: "json",
                              data: JSON.stringify({code: authResult['code']}),
                              error: function (jqXHR, textStatus, errorThrown) {
                                  alert("Error:" + textStatus + " " + errorThrown + " " + jqXHR.responseText);
                              }

                          });
                      }
                      else {
                          // There was an error.
                      }


                  });

              })

          });

  </script>

{% endblock scripts %}