{% extends "activitytree/base.html" %}
{% load tz %}
{% load gravatar %}

{% block content %}



<row>

           <div class="col-sm-5">
           <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2">
                          <img src="{% gravatar_url user.email 150 %}"  class="text-center" alt="Generic placeholder thumbnail">
            <h4 class="text-lowercase text-left">{{ user.first_name }} {{ user.last_name }}</h4>
            <p class="text-lowercase text-left">  <span class="text-muted">{{ user.email }}</span></p>

              <a   href="http://gravatar.com" class="btn btn-block btn-secondary"> <i class="fa fa-camera"></i> Cambia tu foto  </a>


 <hr/>

                {% if not user.email %}
            <div class="alert alert-danger" role="alert">
                Debes tener un correo registrado para poder recuperar la contraseña y para establecer tu
                 foto de perfil en Gravatar.
              </div>

                {% endif %}

            </div>


           </div>













            </div>

    <div class="col-sm-6">

<h3>Perfil básico</h3>

<form  id="login_form">
  <div class="form-group">
  <label for="username">Usuario</label>
  <input type="text" class="form-control" id="username" name="username"
           value="{{ user.username }}" placeholder="Usuario" readonly>

  </div>
  <div class="form-group">
  <label for="username">Nombre</label>
    <input type="text" class="form-control" id="first_name" name="first_name"
           value="{{  user.first_name }}" placeholder="Nombre">
  </div>
    <div class="form-group">
  <label for="username">Apellido</label>
    <input type="text" class="form-control" id="last_name" name="last_name"
           value="{{  user.last_name }}" placeholder="Apellido">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Correo electrónico</label>
  <input type="text" class="form-control" id="exampleInputEmail1" name="email"
           value="{{ user.email }}">
  </div>


  <button id="form-submit" type="submit" class="btn btn-primary"> Actualizar Perfil</button>




</form>
<hr/>

                  <h3> Configuración avanzada </h3>
        <p class="lead">
            Esta información le permite a los autores hacer cursos a tu medida.
        </p>

        <div class="card ">
          <div class="card-header">  Zona Horaria  </div>
               <div class="card-block ">
                  <p class="card-text">
                    Si guardas tu zona horaria permitirás a los autores ofrecerte recursos didácticos de acuerdo
                    a tu horario y día de la semana.
                  </p>



                     <h4 id="saved-time-zone" class="text-success">

                    </h4>

                    <p class="card-text"><small class="text-muted"> Esta es la zona horaria guardada actualmente en
                        tu perfil. No te preocupes si no se imprime tu ciudad exactamente, es solo la zona horaria.</small></p>
                    <h4 id="current-time-zone" class="text-muted">

                    </h4>
                    <p class="card-text"><small class="text-muted"> Esta es la zona horaria que reporta tu navegador.
                      Si deseas actualizar tu perfil presiona Guardar.  </small></p>
                <a id="timezone-save" class="btn btn-primary">Guardar</a> <a id="timezone-delete"  class="btn btn-secondary">No utilizar</a>
           </div>
      </div>


   </div>


</row>





{% endblock content %}

{% block scripts %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>



<script>

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
               // crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');


                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });




//
// When READY
//
 $( document ).ready(function() {



     var timezone = jstz.determine();
     console.log(timezone.name()) ;
     $("#current-time-zone").empty();
     $("#current-time-zone").html(timezone.name());



      $.ajaxSetup({
                //crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');


                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

     $.get( '/me/profile/tz/', function(data) {

         if (data.result == 'found')
         {
              if (data.tz !== null )
              {
                 $('#saved-time-zone').html(data.tz);
              }

             if (data.experience !== null )
              {
                 $('#experience-list').val(data.experience);
              }


         }
         else
          {
              $('#saved-time-zone').html("Sin información");

          }


      }).error(function (data ){
          $('#saved-time-zone').html("Error al recuperar la información");
     });




              $("#timezone-save").on("click", function (event) {
                  $.post('/me/profile/tz/', JSON.stringify({tz: timezone.name(), method: 'upsert'}),

                          function (data) {
                              $("#saved-time-zone").html(data.tz);
                          }
                  );
              });


              $("#timezone-delete").on("click", function (event) {
                  $.post('/me/profile/tz/', JSON.stringify({method: 'delete'}),

                          function (data) {
                              $("#saved-time-zone").html("Sin información");
                          });
              });


              $("#login_form").on("submit", function (event) {
                  event.preventDefault();

                  $.ajaxSetup({
                      //crossDomain: false, // obviates need for sameOrigin test
                      beforeSend: function (xhr, settings) {
                          if (!csrfSafeMethod(settings.type)) {
                              var csrftoken = getCookie('csrftoken');


                              xhr.setRequestHeader("X-CSRFToken", csrftoken);
                          }
                      }
                  });

                  $.post('/me/', $("#login_form").serialize(),
                          function (data) {
                              console.log("succsess update");

                          }
                  );

              });



          });

  </script>

{% endblock scripts %}