

<form id="html">
<div class="container" id="mstacheHtml">
     <h2> Ingresar informacion de actividad {{ course_id }}</h2>
     <div class="form-group">
         <input type="hidden" name="course_id" value="{{ course_id }}">
         <label for="activityName">Nombre de Actividad</label>
         <input type="text" class="form-control" id="activityName" name="activityName" placeholder="Activity Name" required="true" width="50">
         <label for="activityTitle">Titulo de Actividad</label>
         <input type="text" class="form-control" id="activityTitle" placeholder="Titulo de actividad">
         <label for="activityDescription">Descripcion de la actividad</label>
         <input type="text" class="form-control" id="activityDescription" name="activityDescription" placeholder="Ingrese la descripcion"><br>

         <label for="datepicker">Fecha inicial</label>
         <input type="text" id="datepicker">
         <label for="finalDate">Fecha final</label>
         <input type="text" id="finalDate"><br>
         <div class="form-group" align="center"><br>

         </div>
     </div>
</div>
</form>

<div class="container" id="mstacheVideo" style="width: 80%">
     <h2> Ingresar informacion de actividad video {{ course_id }}</h2>
     <div class="form-group">
         <input type="hidden" name="course_id" value="{{ course_id }}">
         <label for="activityName">Nombre de Actividad</label>
         <input type="text" class="form-control" id="activityNameV" name="activityName" placeholder="Activity Name" required="true">
         <label for="activityTitle">Titulo de Actividad</label>
         <input type="text" class="form-control" id="activityTitle" placeholder="Titulo de actividad">
         <label for="activityDescription">Descripcion de la actividad</label>
         <input type="text" class="form-control" id="activityDescription" rows="3" name="activityDescription" placeholder="Ingrese la descripcion">

         </div>
     </div>
</div>

