
{% extends "activitytree/base.html" %}

{% block content %}
<div class="container">
      <!-- Example row of columns -->

        <h4>Mis cursos</h4>


     {% for c in courses %}
      <div class="row">


            <div class="col-md-8">
                <a href="/course-builder/{{c.id }}" class="page-header"> <h4>{{c.name}}</h4></a>
                <p> {{ c.course.short_description|safe }} </p>

            </div>

            <div class="col-md-4">
                <p>
                    <span class="label label-info">mini-curso</span>
                </p>
            </div>
      </div>
  {% endfor %}

      <hr>

      <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
           </a>
            <br />El contenido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> y
            otras licencias abiertas.</p>
      </footer>
    </div> <!-- /container -->
{% endblock content %}