{% extends "activitytree/base.html" %}


{% block content %}
<div class="container">





    <div class = "row">

        <div class="container">

            <div id="navlist"  class="list-group">


            {% if courses %}

                {% for c in courses %}
                   <a href="/{{c.learning_activity.id}}{{c.learning_activity.uri}}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100  justify-content-between">

                            <h5 class="mb-1 text-primary"> {{c.learning_activity.name}} </h5>
                             <small> {{ c.progress_status }} </small>

                        </div>

                        <p class="mb-1 text-muted">{{ c.learning_activity.course.short_description|safe }}</p>

                         <small> Última visita: {{ c.last_visited }} </small>
                    </a>

                {% endfor %}
            {% else %}

                            <h5 class="mb-1"> No tienes cursos registrados todavía. </h5>


                            <p>
                                <a href="/courses" class="btn btn-primary my-2">Busca algún curso</a>

                            </p>




            {% endif %}
            </div>

        </div>
    </div>


    </div> <!-- /container -->
{% endblock content %}







