{% extends "activitytree/base.html" %}


{% block style %}

/*
 * Editor
 */

    #editor {

        height: 540px;

    }

 p.test_error, p.test_failure {
    color:#d9534f;
    }

 p.test_success{
    color:#5cb85c;
    }

  .alert{
    margin:10px;
    margin-bottom:0px;
    }


{% endblock style %}


{% block content %}



<div class="row">

<div class="col-md-5">
                <!-- Nav tabs -->
        <ul id="main_tab" class="nav nav-tabs">
          <li class="active"><a href="#instrucciones" data-toggle="tab">Actividad</a></li>
          <li><a href="#results" data-toggle="tab">Consola</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="instrucciones">
                <div id="info_panel" class="panel panel-info">

                    <div id="info_panel_body" class="panel-body">
                       {{ program_quiz.instructions|safe }}
                    </div>
                </div>

          </div>
          <div class="tab-pane" id="results">
             <div id="result_panel" class="panel panel-info">
                <div id="result_panel_heading"  class="panel-heading"> </div>

                    <div id="result_panel_body" class="panel-body">

                    </div>
             </div>

          </div>
        </div>

</div>
    <div class="col-md-7">

        <div class="panel panel-default">
            <div class="panel-heading">
            <h5 style="display: inline;" class="panel-title">{{program_quiz.title}}</h5>

            </div>
            <div id="editor_alert">

                </div>

            <div class="panel-body">{% csrf_token %}
                <div id="editor">{{program_quiz.initial_code}}</div>
            </div>

         <div class="panel-footer">

  <button type="button" id="sendButton"  data-complete-text="finished!" data-loading-text="Trabajando..."  class="btn btn-primary btn-sm" autocomplete="off">Ejecuta el código</button>
          <button type="button" id="resetButton" class="btn btn-default btn-sm "> Reinicia el código</button>



             <span id="num_attempts" class="text-info pull-right">  </span>




       </div>



             </div>

        </div>
    </div>





</div>



 <!-- Keyboard & Mouse Dynamics
 <button onclick="report()">Reporte Keystrokes</button>
 <div id="report"></div>
 -->

{% endblock content %}

{% block scripts %}

    <script id="success_template" type="x-tmpl-mustache">
        <div class='alert alert-success alert-dismissible' role='alert'>
          <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span></button>
                <p>
                       <strong>!Felicidades!</strong> Tu código pasó todas las pruebas.</p>
               [[#in_path]]
                <p>
                    <button class='btn btn-success btn-sm nav_next ' type='button'> Continuar al siguiente ejercicio</button>
                </p>
                [[/in_path]]
        </div>
    </script>


    <script type="text/javascript" charset="utf-8">
	/* Keyboard & Mouse Dynamics*/

var keypresses = []; //Keyboard
var mousepresses =[]; //Mouse clicks
var mouse = []; //Mouse movement

var mousePos = []; //Auxiliary

$(document).keyup(function(evt) {
    keypresses.push(
	{"timestamp": new Date().getTime(),
         "keycode": evt.which,
	 "type": "keyup"});
});

$(document).keydown(function(evt) {
    keypresses.push(
	{"timestamp": new Date().getTime(),
         "keycode":evt.which,
	 "type": "keydown"});
});

$(document).mouseup(function(evt) {
    mousepresses.push(
	{"timestamp": new Date().getTime(),
         "mousecode": evt.which,
	 "type": "mouseup"});
});

$(document).mousedown(function(evt) {
    mousepresses.push(
	{"timestamp": new Date().getTime(),
         "mousecode":evt.which,
	 "type": "mousedown"});
});

$(document).ready(function() {
    function handleMouseMove(event) {
	event = event || window.event; // IE-ism
	mousePos = {
            x: event.clientX,
            y: event.clientY
	};
    }
    window.onmousemove = handleMouseMove;

    function getMousePosition() {
	if(mouse.length > 0 && mouse[mouse.length-1].position.x == mousePos.x && mouse[mouse.length-1].position.y == mousePos.y) {
	    //Nothing
	} else {
	    mouse.push(
	{timestamp: new Date().getTime(),
	 position: mousePos});
	}
    }
    setInterval(getMousePosition, 100);
});


    </script>




    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var original_code = editor.getValue();
            task_id = 0;
            number_of_tries = 0;

            {% if XML_NAV %}
            var num_attempts = $xml.find("item[is_current='True']").attr('num_attempts');
            var attempt_limit = $xml.find("item[is_current='True']").attr('attempt_limit');

            $('#num_attempts').html("intentos: " + num_attempts );

            {% endif %}

            Mustache.tags = ['[[', ']]'];
            success_template = $('#success_template').html();
            Mustache.parse(success_template);



            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }





            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }



     $("#sendButton").on("click", function (){

         var $btn = $(this).button('loading');

         var code = editor.getValue();




           $.ajax(
                {
                    url: '/execute_queue',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({"jsonrpc": "2.0", "method": "{{ activity_uri }}", "params": [code],
             {% if uri_id %}
                    "id": {{ uri_id }} ,
             {% endif %}
                    "keypresses": keypresses, "mousepresses": mousepresses, "mousemovement": mouse }),
                    dataType: "json",
                    success: function(data, textStatus, jqXHR) {


                            task_id =data.id;
                            number_of_tries=0;

                        $("#result_panel").removeClass("panel-danger").removeClass("panel-success").addClass("panel-info");
                        $("#result_panel_body").html("");
                        $("#result_panel_heading").html("Esperando resultados...");
                        poll();

                        },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert ("Error:" + textStatus+" "+errorThrown+" "+jqXHR.responseText);
                        }
                    });
     });

  $("#resetButton").on("click", function (){



         editor.setValue(original_code);


     });




    function poll(){
        $.ajax({ url: '/get_result',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({"jsonrpc": "2.0", "method": "_execute", "params": ["{{ activity_uri }}"], "id": task_id }),
            success: function(data){
            //Update your dashboard gauge
            number_of_tries++;

              $("#result_panel_body").html("");

                    if (data.outcome != -1)
                    {






                        var result = data.result;
                        if (result.result == "Failure")
                        {
                          $("#result_panel").removeClass("panel-info").removeClass("panel-success").addClass("panel-danger");
                          $("#result_panel_heading").html("No pasó las pruebas");


                       }
                        else if (result.result == "ProcessError")
                        {
                          $("#result_panel").removeClass("panel-info").removeClass("panel-success").addClass("panel-danger");
                          $("#result_panel_heading").html("Error al procesar las pruebas");
                        }

                        else if (result.result == "Success")
                        {
                           $("#result_panel").removeClass("panel-info").removeClass("panel-danger").addClass("panel-success");
                           $("#result_panel_heading").html("Pruebas exitosas");
                           $("#editor_alert").html( Mustache.render(success_template,
                                   {
                                       in_path:in_path

                                   }

                           ));
                        }

                          for (var i=0; i<result.errors.length; ++i)
                            $( "#result_panel_body").append("<p class='test_error'>"+ result.errors[i]+"</p>" );
                          for (var i=0; i<result.failures.length; ++i)
                            $( "#result_panel_body").append("<p class='test_failure'>Falló la prueba: "+ result.failures[i]+"</p>" );
                          for (var i=0; i<result.successes.length; ++i)
                            $( "#result_panel_body").append("<p class='test_success'>Pasó la prueba: "+ result.successes[i]+"</p>" );

                        if (typeof result.stdout != 'undefined'  &&  result.stdout != "\n" )
                        {
                          $( "#result_panel_body").append("<p> Se imprimió en la consola:</p>" );
                          $("<pre></pre>").text(result.stdout).appendTo("#result_panel_body");
                         // $( "#result_panel_body").append("<code>"+ result.stdout +"</code>" );
                        }
                        //for (var i=0; i<info_list.length; i++){
                        // $('<p>'+ info_list[i]+'<p/>', {class:"p"}).appendTo("#result_panel_body");
                        //}
                        $("#sendButton").button('reset');

                        {% if XML_NAV %}

                         num_attempts++;
                         $('#num_attempts').html("intentos: " + num_attempts );


                        {% endif %}



                    }
                    else
                    {

                    }
            $('#main_tab a[href="#results"]').tab('show')
            console.log(data.outcome);

            }, dataType: "json",

            complete: function (jqXHR,textStatus ){
               var data = $.parseJSON(jqXHR.responseText);
               console.log(data.outcome);
               console.log(data);
               if (data.outcome == -1)
               {
                   if (number_of_tries < 150)
                   {
                       poll();
                   }

                   else
                   {
                        $("#sendButton").button('reset');

                        $("#result_panel_body").html("");
                        $("#result_panel").removeClass("panel-info").removeClass("panel-success").addClass("panel-danger");
                        $('<p>'+ 'TIME OUT'+'<p/>', {class:"p"}).appendTo("#result_panel_body");

                   }
               }
            },
            timeout: 5000 });
    };

  });

</script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js " type="text/javascript" charset="utf-8"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-github.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/snippets/{{ program_quiz.lang }}.js" type="text/javascript" charset="utf-8"></script>


    {% comment  %}
      <script src="{{ MEDIA_URL }}js/ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ MEDIA_URL }}js/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
      <script src="{{ MEDIA_URL }}js/mode-{{ program_quiz.lang }}.js" type="text/javascript" charset="utf-8"></script>

   {% endcomment %}
   <script type="text/javascript" charset="utf-8">
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/{{ program_quiz.lang }}");

   </script>




{% endblock scripts %}
