{% extends 'activitytree/base.html' %}



{% block style %}

/*
 * Editor
 */

    #editor1 {

        height: 400px;
        width: 200;

    }

    #editor2{

        height: 400px;
        width: 200;

    }

    #editor3{
        height: 400px;
        width: 200;
    }

    #editorhtml{
        height: 400px;
        width: 200;
    }

 p.test_error, p.test_failure {
    color:#d9534f;
    }

 p.test_success{
    color:#5cb85c;
    }

  .alert{
    margin:10px;
    margin-bottom:0px;
    }


{% endblock style %}



{% block content %}

<div class="container" style="width: 100%">
  {% if d %}
       {{ title }}
  {% endif %}
  <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Detail</a> </li>
      <li><a href="#correct" data-toggle="tab">Correct Code</a></li>
      <li><a href="#initial" data-toggle="tab">Initial Code</a></li>
      <li><a href="#test" data-toggle="tab">Unit Test</a></li>
      <li id="htmlli" class="disabled"><a href="#htmltab" id="htmla" data-toggle="">HTML</a></li>
  </ul>
  <br>

    <div class="tab-content" style="width: 100%">
        <div class="tab-pane fade in active" id="info">
            <div class="container-fluid" style="float: left; width: 45%">
            <form id="formaProg" class="form-group" onsubmit="return false">
                <label for="displayprog">Display Name</label>
                <input type="text" id="displayprog" name="title" class="form-control">
                <label for="idprog">ID</label>
                <input type="text" readonly="readonly" class="form-control" id="idprog" name="_id">
                <label for="descriptionprog">Description</label>
                <input type="text" class="form-control" id="descriptionprog" name="description">
                <label for="rightsprog">Rights</label>
                <input type="hidden" name="type" value="prog">
                <input type="hidden" name="author" value="{{ user.email }}">
                <input type="text" class="form-control" id="rightsprog" name="rights">
                <label for="externalprog">External URL</label>
                <input type="text" class="form-control" id="externalprog" name="external_url">
                <label for="publisherprog">Publisher</label>
                <input type="text" class="form-control" id="publisherprog" name="publisher">
                <label for="tagsprog">Tags</label>
                <input class="form-control" id="tagsprog" name="tags"><br>
                <label for="iconprog">Icon</label>
                <select id="iconprog" name="icon" >
                    <option value="coffee">Coffee</option>
                    <option value="file">File</option>
                    <option value="youtube-play">Youtube</option>
                    <option value="puzzle-piece">Puzzle</option>
                </select>
                <label for="levelprog">Level</label>
                <select id="levelprog" name="level">
                    <option value="principiante">Principiante</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                </select><br>
                <div class="form-group" align="center">
                    <input type="submit" class="btn btn-primary" id="submitProg" value="Save">
                    <input type="button" class="btn btn-default" id="cancelProg" value="Cancel">
                </div>
            </div>
            <div class="" style="margin-left: 50%; height: 50%">
                <label for="editor1">Advanced Help</label>
                <tinytext name="content" id="html"></tinytext>
            </div>
            </form>
        </div>


        <div class="tab-pane fade" id="htmltab">
            <div style="width: 100%" >
            <label for="editorhtml">HTML Code</label>
            <div class="myeditor" id="editorhtml" style="border:3px solid lightgrey">
HTML Content
            </div>
            </div><br>
            <div class=" col-lg-10 col-lg-offset-3"  style="width:50%;margin-left: 25%">
                <div class="panel panel-info">
                    <div class="panel-heading" align="center">
                        <h4> Info </h4>
                    </div>
                    <div class="panel-body" align="left">
                      <p>Escribir codigo HTML para lenguajes como Jquery
                          y Javascript.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="test" >
            <div style="width: 100%" >
            <label for="editor1">Unit Test</label>
            <div class="myeditor" id="editor1" style="border:3px solid lightgrey">
function foo(items) {
Unit test;
return x;}
            </div>
            </div><br>
            <div class=" col-lg-10 col-lg-offset-3"  style="width:50%;margin-left: 25%">
                <div class="panel panel-info">
                    <div class="panel-heading" align="center">
                        <h4> Info </h4>
                    </div>
                    <div class="panel-body" align="left">
                      <p>Una prueba unitaria es una forma de comprobar el correcto
                          funcionamiento de un módulo de código.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="initial" >
            <div style="width: 100%">
                    <label for="editor3">Initial Code</label>
                    <div class="myeditor" id="editor3" style="border:3px solid lightgrey">
function foo(items){
Initial code;
}
                    </div>
                </div><br>

            <div class=" col-lg-10 col-lg-offset-3"  style="width:50%;margin-left: 25%">
                <div class="panel panel-info">
                    <div class="panel-heading" align="center">
                        <h4> Info </h4>
                    </div>
                    <div class="panel-body" align="left">
                      <p>Este es el codigo que el usuario tendra
                      que corregir o completar en el curso.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="correct" >
            <div style="width: 100%">
            <label for="editor2">Correct Code</label>
                <div class="myeditor" id="editor2" style="border:3px solid lightgrey">
function foo(items) {
Correct code;
return x;}
                </div><br>

                <div class="container">
                    <div style="float:left;width: 35%">
                        <form id="formadetailp" onsubmit="return false">
                            <label for="txtLang">Choose programming language:</label>
                            <select id="txtLang" name="lang" class="form-control">
                                <option value="python">Python</option>
                                <option value="javascript">Javascript</option>
                                <option value="csharp">Csharp</option>
                                <option value="java">Java</option>
                                <option value="jquery">Jquery</option>
                            </select>
                            <input type="button" id="probarProg" class="btn btn-primary" value="Test">
                    </div>
                    <div style="margin-left: 40%; width: 50%">
                        <label for="txtInstrucciones">Instructions: </label>
                        <textarea class="form-control" id="txtInstrucciones" name="instructions" rows="3" ></textarea>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

<div id="confirmProg" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" align="center">
            Confirm <i class="fa fa-upload"></i>
        </div>
        <div class="modal-body">
            Upload Activity?
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="acceptBtn">Submit</button>
            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        </div>
    </div>
</div>
</div>


{% endblock %}


{% block scripts %}

    <script>
    //if updating an existing program activity, loads parameter from url and sends it to get_activity function
    $(document).ready(function(){
        var url = getParameterByName('id');
        if (url != null){
            var type = 'prog';
            $("#tagsprog").tagit("removeAll");
            get_activity(url,type);
        }
        else {
            console.log(url)
        }
    });


    $(function(){
        //when user inputs title for activity, a id is generated and then checks if id already exists on db
        $('#displayprog').on('change', function(){
            var id = '/program/' + this.value.replace(/ /g, '_');
            check(id);
            $('#idprog').val(id);
        });

        //initializes all ace editors on page
        var editor;
        $('.myeditor').each(function(){
            editor = ace.edit(this.id);
            editor.setTheme("ace/theme/dawn");
            editor.getSession().setMode('ace/mode/python');
            editor.setShowPrintMargin(false);
        });

        //if submit button is clicked, checks if certain key values where input, if true, confirmation message is displayed
        $('#submitProg').click(function(e){
            var val = check_ifempty(e);
            if (val == true){
                $("#confirmProg").modal();
            }
            else {

            }
        });

        //if user confirms submission of activity, submitProg function is loaded
        $('#acceptBtn').click(function(e){
            submitProg()
        });

        //if user cancels submission of activity, forms are reset
        $('#cancelProg').click(function(){
            $('#formaProg')[0].reset();
            $('#formadetailp')[0].reset();
            tinyMCE.activeEditor.setContent('');
            window.location.href = "http://localhost:8000/build_program";

        });

        //when txtLang is changed, this changes the session of every editor and html tab is enabled or disabled depending on value
        $('#txtLang').on('change', function(){
            var lang = this.value;
            $('body .myeditor').each(function(){
                editor = ace.edit(this.id);
                editor.setTheme("ace/theme/chrome");
                editor.getSession().setMode('ace/mode/'+ lang);
            });
            if (lang == 'jquery' || lang == 'javascript'){
                $('body li[id=htmlli]').removeClass('disabled');
                $('body li[id=htmlli]').addClass('enabled');
                $('body a[id=htmla]').attr('data-toggle','tab')
            }
            else{
                $('body li[id=htmlli]').removeClass('enabled');
                $('body li[id=htmlli]').addClass('disabled');
                $('body a[id=htmla]').attr('data-toggle','')
            }
        });

        $('#probarProg').click(function(){
            test_prog()
        });

        //goes back to first value of editor if clicked
        $('#borrarProg').click(function(){
            var editor = ace.edit("editor1");
            editor.setValue(codigo);
        });



    });

    //loads parameter from url if user is updating an existing program activity
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
}

//load activity to be updated or modified
    function get_activity(id,type){
        $.ajax({
            type: 'get',
            url: '/get_id',
            data: { _id: id,
                    user: '{{ user.email }}',
                    type: type},
            success: function (data){
                var obj = jQuery.parseJSON(data);
                if (jQuery.isEmptyObject(obj)){
                    alert("No puedes modificar esta actividad");
                    window.location.href = "http://localhost:8000/activitybuilder";
                }
                else{
                    load_progdata(obj)
                }

            },
            error: function(data){
                console.log(data)
            }
    });
}

    //if activity is going to be updated, loads data to controls
    function load_progdata(obj){
        var editor = ace.edit("editor1");
        var editor2 = ace.edit("editor2");
        var editor3 = ace.edit("editor3");
        var editorhtml = ace.edit("editorhtml");
        $.each(obj[0], function(key, value){
            $('#formaProg [name='+key+']').val(value);
            if (key == 'unit_test'){
                editor.setValue(value,1)
            }
            else if (key == "correct_code"){
                editor2.setValue(value,1)
            }
            else if (key == "initial_code"){
                editor3.setValue(value,1)
            }
            else if (key == "html_code"){
                editorhtml.setValue(value,1)
            }
            else if (key == 'tags'){
                $('#tagsprog').val("");
                for (var i=0; i < value.length ; i++){
                    $("#tagsprog").tagit("createTag", value[i]);
                }
            }
            else if (key == 'content'){
                tinyMCE.get('html').setContent(value)
            }
            else if (key == 'instructions'){
                $('#txtInstrucciones').val(value)
            }
            $('#formadetailp [name='+key+']').val(value);
            if (key == 'lang' && (value=='jquery' || value=='javascript')){
                $('body li[id=htmlli]').removeClass('disabled');
                $('body li[id=htmlli]').addClass('enabled');
                $('body a[id=htmla]').attr('data-toggle','tab')
            }

    });
    }

    //validates that title control isn't empty
    function check_ifempty(e){
        var isValid = true;
        if ($.trim($('#displayprog').val()) == ''){
            isValid = false;
            $('#displayprog').css({
                "border": "1px solid red",
                "background": "#FFCECE"
                    });
            }
        else {
            $('#displayprog').css({
                "border": "",
                "background": ""
                    });
        }

            if (isValid == false){
                e.preventDefault();
                return false;
                }
            else {
                return true
        }
    }

//gets data from all forms and send it to server
    function submitProg(){
        tinyMCE.triggerSave();
        var main= $('#formaProg').serializeArray();
        var detail = $('#formadetailp').serializeArray();
        var data = main.concat(detail);
        var obj = progData();
        var html = {
            name: "content",
            value: tinyMCE.get('html').getContent()
        };
        data.push(html);
        data.push(obj.obj1,obj.obj2,obj.obj3,obj.obj4);
        data=indexdata(data);
        $.ajax({
            type: 'post',
            url: '/upload_activity',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (info) {
                info = jQuery.parseJSON(info);
                if (info.updatedExisting == true){
                    alert("Actividad modificada");
                    $('#formaProg')[0].reset();
                    $('#formadetailp')[0].reset();
                    window.location.href = "/activitybuilder";
                }
                else if (info.updatedExisting == false){
                    alert("Actividad agregada");
                    $('#formaProg')[0].reset();
                    $('#formadetailp')[0].reset();
                    window.location.href = "/activitybuilder";
                }
                else if (info.message == "Duplicated"){
                    alert("Duplicated Entry");
                    $('#formaProg')[0].reset();
                    $('#formadetailp')[0].reset();
                    window.location.href = "/build_program";
                }
            },
            error: function(info) {

                alert("Error. La actividad no se agrego")

            }
        });

    }

    //gets data from ace editors and stores it in objects for json conversion
    function progData(){
        var editor = ace.edit("editor1");
        var editor2 = ace.edit("editor2");
        var editor3 = ace.edit("editor3");
        var editorhtml = ace.edit("editorhtml");
        var obj1={
            'name': 'correct_code',
            'value': editor2.getValue()
        };
        var obj2={
              'name': 'initial_code',
            'value': editor3.getValue()
        };
        var obj3={
            'name': 'unit_test',
            'value': editor.getValue()
        };
        var obj4={
            'name': 'html_code',
            'value': editorhtml.getValue()
        };

        return {obj1:obj1,obj2:obj2,obj3:obj3,obj4:obj4}

    }


    function test_prog(){
        var data=[];
        var obj = progData();
        var lang = {
            'name': 'lang',
            'value': $("#txtLang").val()
        };
        data.push(obj.obj1,obj.obj3,lang);
        data = indexdata(data);
        $.ajax({
            type: 'post',
            url: '/test_program',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (info) {
                task_id =info.id;
            },
            error: function(info) {
                alert("Error. La actividad no se agrego")
            }
        });
    }

    function poll(){
        $.ajax({ url: '/get_result',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({"jsonrpc": "2.0", "method": "_execute", "id": task_id }),
            success: function(data){

                if (data.outcome != -1)
                {
                    var result = data.result;
                    if (result.result == "Failure")
                    {
                        console.log("No pasó las pruebas");
                    }
                    else if (result.result == "ProcessError")
                    {
                        console.log("Error al procesar las pruebas");
                    }

                    else if (result.result == "Success")
                    {
                        console.log("Pruebas exitosas");
                    }
                }
                else
                {

                }
            console.log(data.outcome);
            }, dataType: "json",

            complete: function (jqXHR,textStatus ){
               var data = $.parseJSON(jqXHR.responseText);
               console.log(data.outcome);
               console.log(data);
               if (data.outcome == -1)
               {
                   if (number_of_tries < 150)
                   {

                   }

                   else
                   {

                   }
               }
            },
            timeout: 5000,
            error: function(jqXHR, textStatus, errorThrown) {
                alert ("Lo sentimos, hubo un error al recibir el resultado de la ejecución. El error fué (en lenguaje informático): " +errorThrown);
            },
            fail: function(xhr, textStatus, errorThrown) {
                alert ("Lo sentimos, hubo un error al recibir el resultado de la ejecución. El error fué (en lenguaje informático): " +errorThrown);
            }

        });
    }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js " type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-github.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>


{% endblock %}