{% extends 'activitytree/base.html' %}

{% block content %}
<h3>Haz un quiz</h3>
    <nav class="nav navbar-default " style="align-content: center " >
        <button type="button" id="btn2" class="btn btn-default navbar-btn">Upload Quiz</button>
    </nav>



<div class="container-fluid" id="wth" align="center">
    <div class="container-fluid">
        <form id="formaQuiz" style="align-content: center" onsubmit="return false" >
            <div class="col-lg-6 col-md-offset-3 " align="center">
            <label for="txtPregunta">Ingresar pregunta: </label>
            <input type="text" class="form-control input-sm" placeholder="Pregunta" id="txtPregunta">
            <div id="respuestas" class="col-md-8 col-md-offset-2" >
                <label for="resp1" >Respuesta 1: </label> <input type="checkbox" name="checkboxes" id="0">
                <input type="text" id="resp1" class="form-control" placeholder="Respuesta 1" >
                <label for="resp2">Respuesta 2: </label> <input type="checkbox" name="checkboxes" id="1">
                <input type="text" id="resp2" class="form-control" placeholder="Respuesta 2">
                <label for="resp3">Respuesta 3: </label> <input type="checkbox" name="checkboxes" id="2">
                <input type="text" id="resp3" class="form-control" placeholder="Respuesta 3">
                <input type="submit" class="btn btn-default" id="endQuestion" value="Agregar Pregunta">
            </div>
            </div>

        </form><br>
    </div>
</div>
<div class="container-fluid">
<div class="col-md-6 col-md-offset-3" id="preguntas" align="center">

</div>
</div>
 <div class="modal fade" id="modalUpload">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Subir Quiz</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" align="center">
            <label for="idQuiz">Ingresar ID:</label>
            <input type="text" class="form-control" id="idQuiz" required="required">
            <label for="titleQuiz">Ingresar titulo de quiz:</label>
            <input type="text" class="form-control" id="titleQuiz" required="required">
        </div>
        <div class="modal-footer">
            <div class="form-group" align="center">
            <button type="submit" id="subirQuiz"  class="btn btn-primary">Subir</button>
            <button type="button" id="CancelQuiz" class="btn btn-default">Cancelar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script id="quiz-template" type="x-tmpl-mustache">
    <li id="[[ind]]">
     <div class="panel panel-default">
        <div class="panel-heading">
        <div class="btn-group navbar-right" role="group" aria-label="..." >
            <button type="button" class="btn btn-default  clickable  deleteBtn"><i class="fa fa-trash-o clickable"></i></button>
          </div>
            <div class='controls form-inline'>
                <a role="button"><h4>[[question]]</h4></span>
            </div>
            </div>
             <div class="panel-body">
               [[option1]]<br>
               [[option2]]<br>
               [[option3]]<br>
            </div>
     </div>
</script>


<script>
    $(function () {
        $('#txtPregunta').on('change', function(){
            $('#respuestas').css('display', 'block');
        });

        $('#endQuestion').click(function(e){
            check(e)
        });

        $('#btn2').click(function(){
            $('#modalUpload').modal()
        });

        $('#subirQuiz').click(function(){
            subirQuiz()
        });

        $('body').on('click', '.deleteBtn', function() {
            var id = $(this).parentsUntil('li').parent().attr("id");
            cola.push(id);
            $(this).parentsUntil('li').parent().addClass("hidden");
        })
    });
cola=[];
function check(e){
    var isValid = true;
            $('#formaQuiz input[type="text"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });

            var check = $('input:checkbox').is(':checked');

            console.log(check);
            if (check == false){
                isValid = false;
                alert("Elija al menos una respuesta correcta")
            }
            else {

            }


            if (isValid == false){
                e.preventDefault();
                return false;
                }
            else {
                getval();
                return false
        }
}

function getval(){
    var pregunta = $('#txtPregunta').val();
    var respuesta = showSelectedValues();
    var opciones = [];
    $('#respuestas input[type="text"]').each(function(index){
        var valor=this.value;
        opciones[index]=valor;
    });
    addQuestion(opciones,respuesta,pregunta)


}

function showSelectedValues()
    {
        opciones=[0,0,0];
        $("input[name=checkboxes]:checked").map(function(n){
            opciones[this.id] = 1;
      });
        console.log(opciones);
        return opciones;
    }

function addQuestion(opciones,respuesta,pregunta){
    question = {};
    question['question'] = pregunta;
    question['options'] = opciones;
    question['answer'] = respuesta;
    $('#formaQuiz')[0].reset();
    showQuestion(question);
    endQuestion()

}

c=0;
function showQuestion(obj){

    console.log(obj, c);
    Mustache.tags = ['[[', ']]'];
    var quiz_template = $('#quiz-template').html();
    Mustache.parse(quiz_template);
    rendered = Mustache.render(quiz_template, {
        question: obj.question,
        option1: obj.options[0],
        option2: obj.options[1],
        option3: obj.options[2],
        ind: c
    });
    $("#preguntas").append(rendered);
    c=c+1;
}

quiz={};
quiz['questions'] = [];

function endQuestion(){
    //var ind = "Pregunta " + Object.keys(quiz['questions']).length ;
    var ind = Object.keys(quiz['questions']).length ;
    quiz['questions'][ind] = question;

}

function subirQuiz(){
    quiz['title'] = $('#titleQuiz').val();
    quiz['_id'] = $('#idQuiz').val();
    quiz['author'] = '{{ user.email }}';
    quiz['type'] = 'quiz';
    valor=JSON.stringify(quiz);
    console.log(valor);
    if (cola.isEmptyObject){
        console.log("vacia")
    }
    else{
        for (i=0;i<cola.length;i++){
            delQuestion(cola[i])
            }
        }
    $.ajax({
        type: 'post',
        url: '/prueba',
        contentType: "application/json",
        data: JSON.stringify(quiz),
        success: function (data) {
            alert("Actividad agregada");
            $("#modalUpload").modal('hide');
            console.log(data);
        },
        error: function(data) {
            if (data){
                if (data.name == 'errmsg' && data.code== 11000){
                    alert("Error. Intente otro nombre para su actividad");
                }
                return alert("Error. La actividad no se agrego")
            }
        }
    });

}

function delQuestion(id){
    delete quiz['questions'][id];
}

</script>


{% endblock %}