{% extends 'activitytree/base.html' %}

{% block style %}

    #editor1 {

        height: 500px;
        width: ;

    }

 p.test_error, p.test_failure {
    color:#d9534f;
    }

 p.test_success{
    color:#5cb85c;
    }

  .alert{
    margin:10px;
    margin-bottom:0px;
    }

{% endblock %}

{% block content %}

<div class="container-fluid" align="center">
    <div class="container-fluid">
        <form id="formaQuiz" style="width: 100%;height: 100%;align-content: center" onsubmit="return false" >
        <div class="form-group" style="width: 100%; height: 100%">
            <!-- <tiny class="form-control" name="content" id="quiz"> </tiny> -->
            <div class="" style="width: 23%;float: left">
             <div class="panel panel-info">
                 <div class="panel-heading">
                     <h4> Instrucciones </h4>
                 </div>
                 <div class="panel-body" align="left">
                      <p>1.- Preguntas de opcion multiple, empezar respuestas con [ ]
                      Marcar respuestas correctas [x]</p>
                      <p>2.- Preguntas de opcion unica, empezar respuestas con ()
                      Marcar respuesta correcta (x)</p>
                     <p>3.- Preguntas directas, encerrar respuestas en signos = =</p>
                     <p>4.- Se puede incluir una pista en cada pregunta.
                     La pista se encierra entre doble {  }</p>
                 </div>
             </div>
            </div>

            <div class="myeditor" id="editor1" align="left" style="width: 75%;border:1px solid black">
Pregunta de opcion multiple encerrada entre > < con Enter entre respuestas
Marcar respuesta correcta con (x)
Ejemplo
>> Equipos que han sido campeones del mundo <<
[x] Brasil
[]Mexico
[x]Argentina
{ { Hints entre llaves } }
Pregunta de solo una respuesta ()
>> Presidente actual de Mexico <<
(x) Enrique pena Nieto
() George Bush
() Fidel Castro
Pregunta de texto directa
>>Pais de Norte America<<
=USA=
=usa=
=Estados Unidos de Norteamerica=
            </div>
        </div>
            <button type="button" id="preview" class="btn btn-primary">Preview</button>
        </form><br>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3" id="preguntas1" align="center">

    </div>
</div>

 <div class="modal fade" id="modalquiz">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Quiz</h4>
      </div>
      <div class="modal-body">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#quiz1" data-toggle="tab">Quiz</a></li>
              <li><a href="#info" data-toggle="tab">Detail</a> </li>
          </ul><br>

          <div class="tab-content" style="width: 100%">
              <div class="tab-pane fade in active" id="quiz1">
                  <div class="form-group" align="center">
                      <div id="preguntas"  style="align-items: center">

                      </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="info">
                  <div class="container-fluid">
                      <form id="formadetailq" class="form-group" onsubmit="return false">
                          <label for="displayquiz">Display Name</label>
                          <input type="text" id="displayquiz" name="title" class="form-control">
                          <label for="idquiz">ID</label>
                          <input type="text" readonly="readonly" class="form-control" id="idquiz" name="_id">
                          <label for="descriptionquiz">Description</label>
                          <input type="text" class="form-control" id="descriptionquiz" name="description">
                          <label for="rightsquiz">Rights</label>
                          <input type="hidden" name="type" value="quiz">
                          <input type="hidden" name="author" value="{{ user.email }}">
                          <input type="text" class="form-control" id="rightsquiz" name="rights">
                          <label for="externalquiz">External URL</label>
                          <input type="text" class="form-control" id="externalquiz" name="external_url">
                          <label for="publisherquiz">Publisher</label>
                          <input type="text" class="form-control" id="publisherquiz" name="publisher">
                          <label for="tagsquiz">Tags</label>
                          <input class="form-control" id="tagsquiz" name="tags">
                          <label for="satisfy">Satisfy at least</label>
                          <input type="text" class="form-control" id="satisfy" name="satisfied_at_least"><br>
                          <label for="iconquiz">Icon</label>
                          <select id="iconquiz" name="icon" >
                              <option value="coffee">Coffee</option>
                              <option value="file">File</option>
                              <option value="youtube-play">Youtube</option>
                              <option value="puzzle-piece">Puzzle</option>
                          </select>
                          <label for="levelquiz">Level</label>
                          <select id="levelquiz" name="level">
                              <option value="principiante">Principiante</option>
                              <option value="intermedio">Intermedio</option>
                              <option value="avanzado">Avanzado</option>
                          </select><br>
                  </div>
                  </form>
              </div>
          </div>

        <div class="modal-footer">
            <div class="form-group" align="center">
            <button type="button" class="btn btn-primary" id="submitquiz">Submit</button>
            <button type="button" data-dismiss="modal" id="CancelQuiz" class="btn btn-default">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>tinymce.init({ selector:'tiny', height:"400", width: "500", entities: "", entity_encoding: "raw" });</script>


<script>
$(document).ready(function(){
    var url = getParameterByName('id');
    if (url != null){
        var type = 'quiz';
        $("#tagsquiz").tagit("removeAll");
        get_activity(url,type);
    }
    else {
        console.log(url)
    }

});

$(function(){

    var editor = ace.edit('editor1');
    editor.setTheme("ace/theme/dawn");
    editor.getSession().setMode('ace/mode/text');
    editor.renderer.setShowGutter(false);
    editor.setShowPrintMargin(false);

    $('#preview').click(function(){
        //valor = tinyMCE.activeEditor.getContent();
        valor = editor.getValue();
        var quiz = analize(valor);
        console.log(quiz);
        var cont = 0;
        $.each(quiz,function(index,value){
            if (value.type == "multi"){
                value.question = value.question.replace(/[>\<]/g,'');
                preview_quiz(value,cont,0);
                cont++
            }
            else if (value.type == "radio"){
                value.question = value.question.replace(/[>\<]/g,'');
                preview_quiz(value,cont,1);
                cont++
            }
            else if (value.type == "str"){
                value.question = value.question.replace(/[>\<]/g,'');
                preview_quiz(value,cont,1);
                cont++
            }
            $('#modalquiz').modal();
        });

    });


    $('#submitquiz').click(function(e){

        //get_value();
        var verificar = verify_checkbox(e);
        if (verificar == false){
            alert("Seleccione respuestas correctas")
        }
        else{
            if ($.trim($('#displayquiz').val()) == ''){
                $('#displayquiz').css({
                "border": "1px solid red",
                "background": "#FFCECE"
                    });
                alert("Ingresar nombre de Actividad")
            }
            else {
                $('#displayquiz').css({
                "border": "",
                "background": ""
                    });
                submit_quiz();
            }
            //alert("ok")
        }

    });

    $(".modal").on("hidden.bs.modal", function(){
            $('#preguntas').empty()
        });

    $("#displayquiz").on('change', function(){
        var id = '/test/' + this.value.replace(/ /g, '_');
        check(id);
        $('#idquiz').val(id);
    });


});


function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}


function get_activity(id,type){
    $.ajax({
        type: 'get',
        url: '/get_id',
        data: { _id: id,
            user: '{{ user.email }}',
            type: type},
        success: function (data){
            var obj = jQuery.parseJSON( data );
            if (jQuery.isEmptyObject(obj)){
                alert("No puedes modificar esta actividad");
                window.location.href = "http://localhost:8000/activitybuilder";
            }
            else{
                load_quizdata(obj)
            }
        },
        error: function(data){
            console.log(data)
        }
    });
}


function load_quizdata(obj){
    console.log(obj);
    $.each(obj[0], function(key, value){
        $('#formadetailq [name='+key+']').val(value);
        if (key == 'content'){
            //tinyMCE.get('quiz').setContent(value);
            var editor = ace.edit('editor1');
            editor.setValue(value,1)
        }
        else if (key == 'tags'){
            $('#tagsquiz').val("");
            for (var i=0; i < value.length ; i++){
                $("#tagsquiz").tagit("createTag", value[i]);
            }
        }
        $('#formadetailq [name='+key+']').val(value);
    });
    }

function analize(valor){

    exp_radio = /^\s*\(.?\)/;
    exp_answer = /\[.?]/;
    exp_question = /\s*>>(.*?)<</;
    exp_correct = /^\s*\[x\]/;
    exp_radio_correct = /^\s*\(x\)/;
    exp_hint = /{*{(.*?)}}/;
    exp_text = /\=.*?=/;

    dic = [];

    //texto = valor.replace(/<\/?[^>]+(>|$)/g, "/\n/g");
    //texto = texto.replace(/&gt;/g, '>');
    //texto = texto.replace(/&lt;/g, '<');
    //texto = texto.replace(/\/g/g, '');
    //texto = texto.replace(/\//g, '');
    //texto = texto.split(/\n/g);
    //texto = texto.filter(Boolean);
    texto = valor.split(/\n/g);
    texto = texto.filter(Boolean);

    lista = [];
    correct = [];
    answers = [];
    n = 0;
    for (var i=0;i<texto.length;i++) {
        if (exp_question.test(texto[i])) {
            var match = texto[i].match(exp_question);
            obj= {
                question: match[0],
                options: '',
                answer: '',
                type:'',
                interaction:'',
                hint:'',
                id:'',
                answer_text:''
            };
            dic.push(obj);
            lista=[];
            answers=[];
            correct=[];
            n=0;
        }
        else if (exp_answer.test(texto[i])) {
            if (texto[i].match(exp_correct)){
                var match = texto[i].split(exp_answer)[1];
                lista.push(match);
                correct.push(match);
                answers[n] = 1;
                obj['options'] = lista;
                obj['type'] = "multi";
                obj['interaction']="choiceInteraction";
                obj['id']= i;
                obj['answer_text'] = correct;
                obj['answer'] = answers;
                n = n+1;
            }
            else {
                n=n+1;
                var match = texto[i].split(exp_answer)[1];
                lista.push(match);
                obj['options'] = lista;
                obj['type'] = "multi";
                obj['interaction']="choiceInteraction";
                obj['id']= i;
                answers.push(0);
                obj['answer'] = answers
            }

        }
        else if (exp_radio.test(texto[i])){
            if (texto[i].match(exp_radio_correct)){
                var match = texto[i].split(exp_radio)[1];
                lista.push(match);
                correct[0]=match;
                obj['answer_text'] = correct;
                obj['options'] = lista;
                obj['type'] = "radio";
                obj['interaction'] = "simpleChoice";
                obj['id']= i;
                answers[n] = 1;
                n = n + 1;
                obj['answer'] = answers
            }
            else{
                n=n+1;
                var match = texto[i].split(exp_radio)[1];
                lista.push(match);
                obj['options'] = lista;
                obj['type'] = "radio";
                obj['interaction'] = "simpleChoice";
                obj['id']= i;
                answers.push(0);
                obj['answer'] = answers
            }
        }
        else if (exp_text.test(texto[i])){
            var match = texto[i].split("=")[1];
            correct.push(match);
            //answers.push(match);
            obj['answer'] = correct;
            obj['answer_text'] = correct;
            //obj['options'] = correct;
            obj['type'] = "str";
            obj['interaction'] = "textEntryInteraction";
            obj['id'] = i;
        }
        else if (exp_hint.test(texto[i])){
            var match = texto[i].split(exp_hint)[1];
            obj['hint'] = match;
        }


    }

    $('#preguntas').empty();
    return dic;


}


function preview_quiz(obj,cont,flag){

    var container = $('#preguntas');
    if (flag == 1){
        $('<br>').appendTo(container);
        $('<label /> ', {text: obj.question}).appendTo(container);
        $('<br>').appendTo(container);
        for (var i = 0; i < obj.answer_text.length ; i++) {
            $('<i class="fa fa-check-circle"></i>').appendTo(container);
            $('<label />', {'for': 'cb' + i, text: obj.answer_text[i]}).appendTo(container);
            $('<br>').appendTo(container);
        }


    }
    else if (flag == 0){
        $('<br>').appendTo(container);
        $('<label /> ', {text: obj.question}).appendTo(container);
        $('<br>').appendTo(container);

        for (var i = 0; i < obj.answer_text.length ; i++) {
            $('<i class="fa fa-check-square-o"></i>').appendTo(container);
            $('<label />', {'for': 'cb' + i, text: obj.answer_text[i]}).appendTo(container);
            $('<br>').appendTo(container);

        }

    }
}

function verify_checkbox(){
    var flag = true;
    for (var i=0;i < dic.length;i++){
        if (dic[i].answer_text.length == 0){
            flag = false
        }
    }
    return flag

}


function submit_quiz(){
    var detail = $('#formadetailq').serializeArray();
    var questions = {
        name: 'questions',
        value: dic
    };
    detail.push(questions);
    var content = {
            name: 'content',
            value: valor
        };
    detail.push(content);
    var data = indexdata(detail);
    $.ajax({
        type: 'post',
        url: '/upload_activity',
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (info) {
            if (info == 'Duplicate'){
                $.ajax({
                    type: 'post',
                    url: '/update_activity',
                    contentType: "application/json",
                    data: JSON.stringify(data),

                    success: function(info){
                        var info = jQuery.parseJSON(info);
                            if (info.updatedExisting == false){
                                alert("No puedes modificar la actividad");
                                window.location.href = "http://localhost:8000/activitybuilder";
                            }
                            else{
                                alert("Actividad modificada");
                                $('#formaQuiz')[0].reset();
                                $('#formadetailq')[0].reset();
                                window.location.href = "http://localhost:8000/activitybuilder";
                            }
                    },
                    error: function(info){
                        alert("Error")
                    }
                });
            }
            else{
                alert("Actividad agregada");
                $('#formadetailq')[0].reset();
                $("#modalquiz").modal('hide');
                window.location.href = "http://localhost:8000/activitybuilder";
            }
        },
        error: function(info) {

            alert("Error. La actividad no se agrego")

        }
    });
}

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js " type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-github.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}