{% extends 'activitytree/base.html' %}

{% block style %}

    #editor1 {

        height:300px;
        width: ;

    }

      #ace_content_editor {
      height: 200px;
      width: ;
    }

 p.test_error, p.test_failure {
    color:#d9534f;
    }

 p.test_success{
    color:#5cb85c;
    }

  .alert{
    margin:10px;
    margin-bottom:0px;
    }

{% endblock %}

{% block content %}
<div class="container ">
 <div class = "row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">


        <ul class="nav nav-tabs">
              <li class="nav-item"> <a class="nav-link active" href="#preview-tab"  data-toggle="tab">Quiz</a></li>
              <li class="nav-item"> <a class="nav-link " href="#info-tab"  data-toggle="tab">Detalle</a></li>
        </ul>

          <div class="tab-content">
              <div class="tab-pane show active" id="preview-tab">
                    <div class="myeditor" id="ace_content_editor" name="content">

                    </div>
                    <div class="myeditor" id="editor1" name="">

                    </div>
              </div>
              <div class="tab-pane fade" id="info-tab">

                      <form id="formadetailq" class="form-group" onsubmit="return false">
                        <div class="form-group">
                           <label for="idquiz">ID</label>
                           <input type="text" readonly="readonly" class="form-control" id="idquiz" name="_id">
                           <small class="form-text text-muted"> Este es el identificador interno del material didáctico. Se asigna automáticamente. </small>
                        </div>
                        <div class="form-group">
                            <label for="displayquiz">Nombre</label>
                            <input type="text" id="displayquiz" name="title" class="form-control" placeholder="Nombre del material didáctico">
                        </div>
                        <div class="form-group">
                            <label for="tagsquiz">Hashtags</label>
                            <input class="form-control" id="tagsquiz" name="tags">
                            <small id="tagsHelp" class="form-text text-muted">Los #tags nos ayudan a clasificar el material, agrega varios. Ejemplos:
                                        #java #arreglos #avanzado, #apache-hadoop #big-data. Se crean con la tecla tab. </small>
                        </div>
                        <div class="form-group">
                            <label for="satisfy">Mínimo número de aciertos</label>
                            <input type="number" min="1" class="form-control" id="satisfy" name="satisfied_at_least">
                            <small class="form-text text-muted">Número mínimo de aciertos para aprobar el examen. Si no se indica
                            ningún valor deberán contestarse todas las preguntas correctamente.</small>
                        </div>
                        <div class="form-group">
                            <label for="rightsquiz">Licencia</label>
                            <input type="text" class="form-control" id="rightsquiz" name="rights">
                            <small class="form-text text-muted"> Especifica el tipo de licencia del material. En caso de que estés utilizando algún material
                                            que no hayas hecho tu, debes indicar la Licencia original. Te sugerimos una licencia que permite a otros utilizar libremente
                                            tu apotación para hacer nuevos trabajos. Puedes elegir como tu propia licencia en:
                                                <a href="https://creativecommons.org/choose/">https://creativecommons.org/choose/</a> </small>
                        </div>
                        <div class="form-group">
                            <label for="descriptionquiz">Descripción</label>
                            <textarea class="form-control" id="descriptionquiz" name="description"
                                      rows="3" placeholder="Agrega una breve descripción del material." ></textarea>
                        </div>
                        <div class="form-group">
                          <label for="externalquiz">URL Externo</label>
                          <input type="text" class="form-control" id="externalquiz" name="external_url">
                                <small class="form-text text-muted"> Puedes incluir aquí una dirección externa referente al material original.</small>
                        </div>
                        <div class="form-group">
                            <label for="publisherquiz">Autor</label>
                          <input type="text" class="form-control" id="publisherquiz" name="publisher">
                           <small class="form-text text-muted"> Nombre del autor o entidad responsable del material.</small>
                        </div>
                        <div class="form-group">
                            <label for="iconquiz">Ícono</label>
                          <select id="iconquiz" name="icon" >
                                <option value="coffee">Tasa de Café</option>
                                <option value="file" selected>Archivo</option>
                                <option value="youtube-play">Youtube</option>
                                <option value="puzzle-piece">Pieza de Rompecabezas</option>
                          </select>
                          <small class="form-text text-muted"> Elige el ícono que acompañará al nombre del recurso.</small>
                        </div>
                        <div class="form-group">
                              <label for="levelquiz">Nivel</label>
                            <select id="levelquiz" name="level">
                              <option value="principiante">Básico</option>
                              <option value="intermedio">Intermedio</option>
                              <option value="avanzado">Avanzado</option>
                            </select>
                            <small class="form-text text-muted"> Esta es una etiqueta que puede servir para filtrar el tipo de material por niveles. </small>
                        </div>

                        <div class="form-group">
                                        <label for="image_url">URL de Ímagen</label>
                                        <input type="text" class="form-control" id="image_url" name="image_url">
                                        <small class="form-text text-muted"> Puedes especificar una imagen externa que describa al recurso.
                                             Debes tener derechos sobre la ímagen. Puedes utilizar servicios como: imageshack.us o Amazon S3.
                         </small>
                        </div>
                         <div class="form-group">
                            <input type="hidden" name="type" value="quiz">
                            <input type="hidden" name="author" value="{{ user.email }}">
                        </div>
                  </form>

          </div>
        </div>
   </div>
</div>
</div>

<div class="container mt-3">


 <div class = "row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 m-t-2">

        <div class="form-group" align="center">

            <a id="preview" class="btn btn-info active" role="button" aria-pressed="true">Vista previa </a>
             <a href="/activitybuilder" class="btn btn-secondary active" role="button" aria-pressed="true">Cancelar</a>
             <button type="button" class="btn btn-primary" id="submitquiz">Guardar</button>


        </div>
   </div>
</div>
</div>

 <div class="modal fade" id="modalquiz">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

        <h4 class="modal-title">Agregar Quiz</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      <div class="modal-body">

                      <div id="preguntas"  style="align-items: center">

                      </div>

        <div class="modal-footer">
            <div class="form-group" align="center">

            <button type="button" data-dismiss="modal" id="CancelQuiz" class="btn btn-primary">OK</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script>
//checks if url has parameters to load activity
$(document).ready(function(){

    $("#tagsquiz").tagit({
            fieldName: "tags"
        });

    var url = getParameterByName('id');
    if (url != null){
        var type = 'quiz';
        $("#tagsquiz").tagit("removeAll");
        get_activity(url,type);
    }
    else {
        console.log(url)
    }


});

$(function(){
    //loads ace editor for input of quiz by user
    var editor = ace.edit('editor1');
    editor.setTheme("ace/theme/dawn");
    editor.getSession().setMode('ace/mode/text');
    editor.renderer.setShowGutter(false);
    editor.setShowPrintMargin(false);

    var ace_content_editor = ace.edit('ace_content_editor');
    ace_content_editor.setTheme("ace/theme/twilight");
    ace_content_editor.getSession().setMode('ace/mode/html');
    ace_content_editor.renderer.setShowGutter(false);
    ace_content_editor.setShowPrintMargin(false);


    //when Preview button is clicked, text is sent to be analized, then determine what type of object is going to be displayed
    $('#preview').click(function(){

        valor = editor.getValue();
        console.log(valor);
        var quiz = analize(valor);
        console.log(JSON.stringify(quiz));
        var cont = 0;

        $.each(quiz,function(index,value){
            if (value.type == "multi"){
                value.question = value.question.replace(/[>\<]/g,'');
                preview_quiz(value,cont,0);
                cont++
            }
            else if (value.type == "radio"){
                value.question = value.question.replace(/[>\<]/g,'');
                preview_quiz(value,cont,1);
                cont++
            }
            else if (value.type == "str"){
                value.question = value.question.replace(/[>\<]/g,'');
                preview_quiz(value,cont,1);
                cont++
            }

        });
        $('#modalquiz').modal();
    });

    $("#CancelQuiz").click(function(){
      // window.location.href = "/build_quiz";
    });




//when submit is clicked, validates if key values were input by user
    $('#submitquiz').click(function(e){


       var QuizAsText = editor.getValue();
       var QuizAsObject = analize(QuizAsText);
        //get_value();
        var verificar = verify_checkbox(QuizAsObject);
        if (verificar == false){
            alert("Seleccione respuestas correctas")
        }
        else{
            if ($.trim($('#displayquiz').val()) == ''){
                $('#displayquiz').css({
                "border": "1px solid red",
                "background": "#FFCECE"
                    });
                alert("Ingresar nombre de Actividad")
            }
            else {
                $('#displayquiz').css({
                "border": "",
                "background": ""
                    });
                submit_quiz();
            }
            //alert("ok")
        }

    });

    //resets values in modal when modal is closed
    $(".modal").on("hidden.bs.modal", function(){
            $('#preguntas').empty()
        });



});


function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

//loads activity when user is updating an existing quiz activity in db
function get_activity(id,type){
    $.ajax({
        type: 'get',
        url: '/get_id/',
        data: { _id: id,
            user: '{{ user.email }}',
            type: type},
        success: function (data){
            var obj = jQuery.parseJSON( data );
            if (jQuery.isEmptyObject(obj)){
                alert("No puedes modificar esta actividad");
                window.location.href = "http://localhost:8000/activitybuilder";
            }
            else{
                load_quizdata(obj)
            }
        },
        error: function(data){
            console.log(data)
        }
    });
}

//loads the data of activity in forms for user to update
function load_quizdata(obj){
    $.each(obj[0], function(key, value){
        $('#formadetailq [name='+key+']').val(value);
        if (key == 'content'){
            var ace_content_editor = ace.edit('ace_content_editor');
            ace_content_editor.setValue(value,1)
        }
        else if (key == 'quiz_as_text'){
            var editor = ace.edit('editor1');
            editor.setValue(value,1)
        }
        else if (key == 'tags'){
            $('#tagsquiz').val("");
            for (var i=0; i < value.length ; i++){
                $("#tagsquiz").tagit("createTag", value[i]);
            }
        }
        else if (key == 'description'){
            $("#descriptionquiz").val(value);
        }

    });
    }

//function that analizes input from user and store info of questions and answer in a object for each one, using regular expressions
function analize(valor){

    var exp_radio = /^\s*\(.?\)/;
    var exp_answer = /\[.?]/;
    var exp_question = /\s*>>(.*?)<</;
    var exp_correct = /^\s*\[x\]/;
    var exp_radio_correct = /^\s*\(x\)/;
    var exp_hint = /{*{(.*?)}}/;
    var exp_text = /\=.*?=/;

    var dic = [];

    var texto = valor.split(/\n/g);
    texto = texto.filter(Boolean);

    var lista = [];
    var correct = [];
    var answers = [];
    var hintlist=[];
    var n = 0;
    var obj = {};
    for (var i=0;i<texto.length;i++) {
        if (exp_question.test(texto[i])) {
            var match = texto[i].match(exp_question);
            console.log(match);

               obj= {
                question: match[1],
                options: '',
                answer: '',
                type:'',
                interaction:'',
                hints:'',
                id:'',
                answer_text:''
            };
            dic.push(obj);
            lista=[];
            answers=[];
            correct=[];
            hintlist=[];
            n=0;
        }
        else if (exp_answer.test(texto[i])) {
            if (texto[i].match(exp_correct)){
                var match = texto[i].split(exp_answer)[1];
                lista.push(match);
                correct.push(match);
                answers[n] = 1;
                obj['options'] = lista;
                obj['type'] = "multi";
                obj['interaction']="choiceInteraction";
                obj['id']= i;
                obj['answer_text'] = correct;
                obj['answer'] = answers;
                n = n+1;
            }
            else {
                n=n+1;
                var match = texto[i].split(exp_answer)[1];
                lista.push(match);
                obj['options'] = lista;
                obj['type'] = "multi";
                obj['interaction']="choiceInteraction";
                obj['id']= i;
                answers.push(0);
                obj['answer'] = answers
            }

        }
        else if (exp_radio.test(texto[i])){
            if (texto[i].match(exp_radio_correct)){
                var match = texto[i].split(exp_radio)[1];
                lista.push(match);
                correct[0]=match;
                obj['answer_text'] = correct;
                obj['options'] = lista;
                obj['type'] = "radio";
                obj['interaction'] = "simpleChoice";
                obj['id']= i;
                answers[n] = 1;
                n = n + 1;
                obj['answer'] = answers
            }
            else{
                n=n+1;
                var match = texto[i].split(exp_radio)[1];
                lista.push(match);
                obj['options'] = lista;
                obj['type'] = "radio";
                obj['interaction'] = "simpleChoice";
                obj['id']= i;
                answers.push(0);
                obj['answer'] = answers
            }
        }
        else if (exp_text.test(texto[i])){
            var match = texto[i].split("=")[1];
            correct.push(match);
            //answers.push(match);
            obj['answer'] = correct;
            obj['answer_text'] = correct;
            //obj['options'] = correct;
            obj['type'] = "str";
            obj['interaction'] = "textEntryInteraction";
            obj['id'] = i;
        }
        else if (exp_hint.test(texto[i])){
            var match = texto[i].split(exp_hint)[1];
            hintlist.push(match);
            obj['hints'] = hintlist;
        }


    }
    return dic;

}

//an object and a flag is received, depending on flag, elements are appended to a div to be displayed to the user
function preview_quiz(obj,cont,flag){

    var container = $('#preguntas');
    if (flag == 1){
        $('<br>').appendTo(container);
        $('<label /> ', {text: obj.question}).appendTo(container);
        $('<br>').appendTo(container);
        for (var i = 0; i < obj.answer_text.length ; i++) {
            $('<i class="fa fa-check-circle"></i>').appendTo(container);
            $('<label />', {'for': 'cb' + i, text: obj.answer_text[i]}).appendTo(container);
            $('<br>').appendTo(container);
        }


    }
    else if (flag == 0){
        $('<br>').appendTo(container);
        $('<label /> ', {text: obj.question}).appendTo(container);
        $('<br>').appendTo(container);

        for (var i = 0; i < obj.answer_text.length ; i++) {
            $('<i class="fa fa-check-square-o"></i>').appendTo(container);
            $('<label />', {'for': 'cb' + i, text: obj.answer_text[i]}).appendTo(container);
            $('<br>').appendTo(container);

        }

    }
}

function verify_checkbox(dic){
    var flag = true;
    for (var i=0;i < dic.length;i++){
        if (dic[i].answer_text.length == 0){
            flag = false
        }
    }
    return flag

}

//function that gets all data from forms and send it to server for insertion, updates activity if it already exists
function submit_quiz(){
    var editor = ace.edit('editor1');
    var  QuizAsText = editor.getValue();
    var QuizAsObject = analize(QuizAsText);

    console.log(QuizAsObject);
    // Also check is less or equal to length
   var satisfyAtLeast = $("#satisfy").val();

    if ( !( isNaN(satisfyAtLeast) || satisfyAtLeast>= 0) )
    {
        $("#satisfy").val(QuizAsObject.length);
    }



    var detail = $('#formadetailq').serializeArray();

    var questions = {
        name: 'questions',
        value: QuizAsObject
    };
    detail.push(questions);

    var ace_content_editor = ace.edit('ace_content_editor');
    var content = {
            name: 'content',
            value: ace_content_editor.getValue()
        };
    detail.push(content);

    var quiz_as_text = {
            name: 'quiz_as_text',
            value: QuizAsText
        };
    detail.push(quiz_as_text);

    var data = indexdata(detail);

    $.ajax({
        type: 'post',
        url: '/upload_activity/',
        contentType: "application/json",
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
        data: JSON.stringify(data),
        success: function (info) {
            info = jQuery.parseJSON(info);
            if (info.updatedExisting == true){
                alert("Actividad modificada");
                $('#formadetailq')[0].reset();
                $("#modalquiz").modal('hide');
                window.location.href = "/activitybuilder";
            }
            else if (info.updatedExisting == false){
                alert("Actividad agregada");
                $('#formadetailq')[0].reset();
                $("#modalquiz").modal('hide');
                window.location.href = "/activitybuilder";
            }
            else if (info.message == "Duplicated"){
                alert("Duplicated Entry");
                $('#formadetailq')[0].reset();
                $("#modalquiz").modal('hide');
                window.location.href = "/quiz_builder";
                }
        },
        error: function(info) {

            alert("Error. La actividad no se agrego")

        }
    });
}

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js " type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-github.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}app/scripts/main.js"></script>

{% endblock %}