{% extends "activitytree/base.html" %}

{% block content %}

    <div class="container-fluid" style="width: 100%">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="float:left; width: 30%">
            <ul class="nav">
                <li><h4><i class="fa fa-search"></i>  Filter by</h4></li>
                <li></li>
                <li> <input type="checkbox" id="text" value="text">   <label for="text">HTML</label> </li>
                <li> <input type="checkbox" id="video" value="video">   <label for="video">Video</label> </li>
                <li> <input type="checkbox" id="quiz" value="quiz">   <label for="quiz">Quiz</label> </li>
                <li> <input type="checkbox" id="prog" value="prog">   <label for="prog">Program</label> </li>
            </ul><br>
            <div id="showkey"><h4><i class="fa fa-font"></i>  By Keyword <b class="caret"></b></h4></div>
            <div class="keywords" style="display: none;">
                <ul class="nav">
                    <li><label for="txtname">Keywords</label><input type="text" class="form-control"  id="txtname"></li>
                </ul>
            </div>
            <br>
            <div id="showtags"><h4><i class="fa fa-tags"></i>  By Tags <b class="caret"></b></h4></div>
            <div class="tags" style="display: none;">
            <ul class="nav">
                <li><label for="txttags">Tags</label> <input type="text"  class="form-control"  id="txttags"></li>
            </ul>
            </div>
            <br>
            <div id="showusers"><h4><i class="fa fa-users"></i>  By User <b class="caret"></b></h4></div>
            <div class="users" style="display: none;">
            <ul class="nav">
                <li><label for="txtuser">User</label> <input type="text" class="form-control"  id="txtuser"></li>
            </ul>
            </div>
            <br>
            <div id="showdifficulty"><h4><i class="fa fa-flag"></i>  By Difficulty <b class="caret"></b></h4></div>
            <div class="difficulty" style="display: none;">
            <ul class="nav">
                <li><label for="txtdifficulty">Level</label>
                <select id="txtdifficulty" class="form-control">
                    <option value=""></option>
                    <option value="principiante">Principiante</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                </select>
                </li>
            </ul>
            </div>
            <br>
            <div id="showlang"><h4><i class="fa fa-code"></i>  By Language <b class="caret"></b></h4></div>
            <div class="lang" style="display: none;">
            <ul class="nav">
                <li><label for="txtlang">Language</label>
                <select id="txtlang" class="form-control">
                    <option value=""></option>
                    <option value="javascript">Javascript</option>
                    <option value="csharp">Csharp</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                </select>
                </li>
            </ul>
            </div>
            <br>
            <ul class="nav">
                <li> <a id="clear">Clear all</a> </li>
            </ul>
        </div>
        <h2>Actividades</h2>
        <div id="paginator"></div>
        <div class="container-fluid" id="actividades"  style="float:left; width: 45%">

        </div>
    </div>


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://70023e2a50a4aa4a1f1759c8ec88a0ec7a694dbe.googledrive.com/host/0B4KIaVIuZK2JTTU5OW45M3hRb28/jquery.bootpag.min.js"></script>


<script id="activities_template" type="x-tmpl-mustache">
         <div class="panel panel-default container-fluid" style="width:500px">
            <div class="panel-heading row">
            <div class="col-xs-15 text-right">
                    <button type="button" value="[[id]]" onclick='copyToClipboard("[[id]]")' data-toggle="" data-target="#"  data-href="[[id]]" class="btn btn-default clickable   editBtn"><i class="fa fa-clipboard clickable clipBtn"></i> </button>
            </div>
                <p style='line-height: 10px'>
                <a href="#" onclick='javascript:window.open("[[id]]", "_blank", "scrollbars=1,resizable=1,height=600,width=650");' class=""><i class="fa fa-[[icon]] fa-lg" style='vertical-align:middle'> [[title]] </i></a>
            </div>
             <div class="panel-body">

               [[#description]]
                    <b>Descripcion: [[description]]
               [[ /description ]]
               [[^description]]
                    <b>Sin descripcion</b>
               [[/description]]

            <p>
              <span class="label label-info"><a href="/search/?type=[[type]]" style="color:#FFFFFF">[[type]]</a></span>
              [[#lang]]
              <span class="label label-success"><a href="/search/?lang=[[lang]]" style="color:#FFFFFF">[[lang]]</a></span>
              [[/lang]]
              [[^lang]]
              [[/lang]]
              <span class="label label-default"><a href="/search/?level=[[level]]" style="color:#FFFFFF">[[level]]</a></span><br>
              [[#tags]]
              [[#.]]
              <span class="label label-info"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
              [[/tags]]
            </p>

            </div>
        </div>

</script>

    <script>
    $(function(){
        var tech = getUrlParameter('type');
        var tag = getUrlParameter('tag');
        var level = getUrlParameter('level');
        var lang = getUrlParameter('lang');
        var param = [];
        var tags = [];
        var query = {};
        if (typeof tech != 'undefined'){
            loadIfUrl(tech, "type")
        }
        else if (typeof tag != 'undefined'){
            loadIfUrl(tag, "tags")
        }
        else if (typeof level != 'undefined'){
            loadIfUrl(level, "level")
        }
        else if (typeof lang != 'undefined'){
            loadIfUrl(lang, "lang")
        }
        else{
            console.log("null")
        }


        $("#sidebar input[type='checkbox']").change(function(){
            if(this.checked){
                $("#actividades").empty();
                param.push(this.value);
                query_builder("type",param,query)
            }
            else
            {
                $("#actividades").empty();
                param.splice($.inArray(this.value,param), 1);
                if (param.length == 0 && $("#txtname").val() != ""){
                    query_builder("type",param,query)
                }
                else{
                    query_builder("type",param,query)
                }

            }
        });

        $("#txtname").on('change', function(){
            $("#actividades").empty();
            query_builder("name",param,query);
        });

        $("#txttags").on('change', function(){
            if ($("#txttags").val() == "")
            {
                $("#actividades").empty();
                query_builder("tags",param,query)
            }
            else{
                $("#actividades").empty();
                query_builder("tags",param,query)
            }
        });

        $("#txtuser").on('change', function(){
            $("#actividades").empty();
            query_builder("user",param,query)
        });

        $("#txtdifficulty").on('change', function(){
            $("#actividades").empty();
            query_builder("level",param,query)
        });

        $("#txtlang").on('change', function(){
            $("#actividades").empty();
            query_builder("lang",param,query)
        });


        $("#clear").click(function(){
            query = {};
            param = [];
            count = 0;
            $("#paginator").hide();
            $("#paginator").bootpag({page:1});
            $("#actividades").empty();
            $("#txtname").val('');
            $("#txttags").tagit("removeAll");
            $("#txtuser").val('');
            $("#txtdifficulty").val('');
            $("#txtlang").val('');
            $("#sidebar input[type='checkbox']").prop('checked', false);
        });

        $('#showkey').click(function() {
                $('.keywords').slideToggle("fast");
        });

        $('#showtags').click(function() {
                $('.tags').slideToggle("fast");
        });

        $('#showusers').click(function() {
                $('.users').slideToggle("fast");
        });

        $('#showdifficulty').click(function() {
                $('.difficulty').slideToggle("fast");
        });

        $('#showlang').click(function() {
                $('.lang').slideToggle("fast");
        });

        $("#paginator").hide();

        $('#paginator').bootpag({
            total: 1,
            page: 1
        }).on("page", function(event, num){
            $("#actividades").empty();
            query['page'] = (5) * (num - 1) ;
            buscar(query);
            $(this).bootpag({total: Math.floor((count + 5 -1)/5), maxVisible: 10});
        });

        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;
            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
}

        function loadIfUrl(type, category){

            if (category == "type"){
                $("#actividades").empty();
                $("input[id=" + type +"]").prop('checked', true);
                param.push(type);
                query_builder("type",param,query)
            }
            else if (category == "tags"){
                $("#actividades").empty();
                $("#txttags").tagit('createTag', type);
                query_builder("tags",param,query)
            }
            else if (category == "level"){
                $("#actividades").empty();
                $("#txtdifficulty").val(type);
                query_builder("level",param,query)
            }
            else if (category == "lang"){
                $("#actividades").empty();
                $("#txtlang").val(type);
                query_builder("lang",param,query)
            }
        }

    });

    function query_builder(flag,param,query)
    {
        if (flag == "type"){
            if (param.length==0){
                delete query["type"];
                buscar(query);
            }
            else{
                query['type'] = {'type': {'$in':param}};
                buscar(query);

            }
        }
        else if (flag == "name"){
            if ($("#txtname").val() == ""){
                delete query["title"];
                buscar(query)
            }
            else{
                query['title'] = {'title': {'$regex': $("#txtname").val(), '$options': 'i'}};
                buscar(query)
            }
        }
        else if (flag == "tags"){
            if ($("#txttags").val() == ""){
                delete query["tags"];
                buscar(query)
            }
            else{
                query['tags'] = {'tags': {'$all': $("#txttags").val().split(',')}};
                buscar(query)
            }
        }
        else if (flag == "user"){
            if ($("#txtuser").val() == ""){
                delete query["author"];
                buscar(query)
            }
            else{
                query['author'] = {'author': $("#txtuser").val()};
                buscar(query)
            }
        }
        else if (flag == "level"){
            if ($("#txtdifficulty").val() == ""){
                delete query["level"];
                buscar(query)
            }
            else{
                query['level'] = {'level': $("#txtdifficulty").val()};
                buscar(query)
            }
        }
        else if (flag == "lang"){
            if ($("#txtlang").val() == ""){
                delete query["lang"];
                buscar(query)
            }
            else{
                query['lang'] = {'lang': $("#txtlang").val()};
                buscar(query)
            }
        }
    }

    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        }

    function buscar(tipo){
        $.ajax({
        type: 'POST',
        url: '/search_prueba',
        data: JSON.stringify(tipo),
        success: function (data) {
            var obj = jQuery.parseJSON( data );
            if (obj == "null" || obj.length == 0){
                $("#paginator").hide();
                alert("No se encontro actividad con esas caracteristicas");
                count = 0
            }
            else{
                Mustache.tags = ['[[', ']]'];
                var activities_template = $('#activities_template').html();
                Mustache.parse(activities_template);
                $.each(obj, function( index, value ) {
                    if (value.count){
                        count = value.count
                    }
                    else{
                        rendered = Mustache.render(activities_template, {
                            title: value.title,
                            id: value._id,
                            icon:value.icon,
                            description: value.description,
                            lang:value.lang,
                            level:value.level,
                            type:value.type,
                            tags:value.tags});
                        $("#actividades").append(rendered);
                    }

            });
                $("#paginator").show();
                $("#paginator").bootpag({total: Math.floor((count + 5 -1)/5), maxVisible: 10});
                $('#actividades').val(data);
            }

        },
        error: function(data) {
            console.log("Error");
        }
    });
    }



    </script>



{% endblock %}