{% extends "activitytree/base.html" %}

{% block content %}

    <div class="container-fluid" style="width: 100%">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="float:left; width: 20%">
            <ul class="nav">
                <li><h4><i class="fa fa-search"></i>  Filter by</h4></li>
                <li></li>
                <li> <input type="checkbox" id="html" value="text">   <label for="html">HTML</label> </li>
                <li> <input type="checkbox" id="video" value="video">   <label for="video">Video</label> </li>
                <li> <input type="checkbox" id="quiz" value="quiz">   <label for="quiz">Quiz</label> </li>
                <li> <input type="checkbox" id="prog" value="prog">   <label for="prog">Program</label> </li>
            </ul><br>
            <div id="showkey"><h4><i class="fa fa-font"></i>  By Keyword <b class="caret"></b></h4></div>
            <div class="keywords" style="display: none;">
                <ul class="nav">
                    <li><label for="txtname">Keywords</label><input type="text" class="form-control"  id="txtname"></li>
                </ul>
            </div>
            <br>
            <div id="showtags"><h4><i class="fa fa-tags"></i>  By Tags <b class="caret"></b></h4></div>
            <div class="tags" style="display: none;">
            <ul class="nav">
                <li><label for="txttags">Tags</label> <input type="text"  class="form-control"  id="txttags"></li>
            </ul>
            </div>
            <br>
            <div id="showusers"><h4><i class="fa fa-users"></i>  By User <b class="caret"></b></h4></div>
            <div class="users" style="display: none;">
            <ul class="nav">
                <li><label for="txtuser">User</label> <input type="text" class="form-control"  id="txtuser"></li>
            </ul>
            </div>
        </div>
        <h2>Actividades</h2>
        <div class="container-fluid" id="actividades"  style="float:left; width: 45%">

        </div>
    </div>


{% endblock %}

{% block scripts %}


<script id="activities_template" type="x-tmpl-mustache">
         <div class="panel panel-default container-fluid" style="width:500px">
            <div class="panel-heading row">
                <p style='line-height: 10px'>
                <a href="#" onclick='javascript:window.open("[[id]]", "_blank", "scrollbars=1,resizable=1,height=600,width=650");' class=""><i class="fa fa-[[icon]] fa-lg" style='vertical-align:middle'> [[title]] </i></a>
            </div>
             <div class="panel-body">

               [[#description]]
                    <b>Descripcion: [[description]]
               [[ /description ]]
               [[^description]]
                    <b>Sin descripcion</b>
               [[/description]]

            <p>
              <span class="label label-info">[[type]]</span>
              <span class="label label-success">[[lang]]</span>
              <span class="label label-default">[[level]]</span><br>
              [[#tags]]
              <span class="label label-info">[[.]]</span>
              [[/tags]]
            </p>

            </div>
        </div>

</script>

    <script>
    $(function(){
        var param = [];
        var tags = [];
        obj = {
            type: param,
            name:'',
            tags: tags,
            author: ''
        };
        $("#sidebar input[type='checkbox']").change(function(){
            if(this.checked){
                $("#actividades").empty();
                param.push(this.value);
                string = [];
                string.push(" {'$and': [{'type': {'$in': '"+param+"'}},");
                obj2 = {
                    string: string
                };
                buscar(obj);
            }
            else
            {
                $("#actividades").empty();
                param.splice($.inArray(this.value,param), 1);
                buscar(obj)
            }
        });

        $("#txtname").on('change', function(){
            $("#actividades").empty();
            obj['name'] = ($("#txtname").val());
            buscar(obj)
        });

        $("#txttags").on('change', function(){
            if ($("#txttags").val() == "")
            {
                $("#actividades").empty();
                obj['tags'] = [];
                buscar(obj)
            }
            else{
                $("#actividades").empty();
                obj['tags'] = $("#txttags").val().split(',');
                buscar(obj)
            }
        });

        $("#txtuser").on('change', function(){
            $("#actividades").empty();
            obj['author'] = ($("#txtuser").val());
            buscar(obj)
        });

        $('#showkey').click(function() {
                $('.keywords').slideToggle("fast");
        });

        $('#showtags').click(function() {
                $('.tags').slideToggle("fast");
        });

        $('#showusers').click(function() {
                $('.users').slideToggle("fast");
        })

    });

    function buscar(tipo){
        $.ajax({
        type: 'POST',
        url: '/search_activity',
        data: JSON.stringify(tipo),
        success: function (data) {
            var obj = jQuery.parseJSON( data );
            console.log(obj);
            if (obj == "null" || obj.length == 0){
                alert("No se encontro actividad con esas caracteristicas")
            }
            else{
                Mustache.tags = ['[[', ']]'];
                var activities_template = $('#activities_template').html();
                Mustache.parse(activities_template);
                $.each(obj, function( index, value ) {
                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    id: value._id,
                    icon:value.icon,
                    description: value.description,
                    lang:value.lang,
                    level:value.level,
                    type:value.type,
                    tags:value.tags});
                $("#actividades").append(rendered);

            });

            $('#actividades').val(data);
            }

        },
        error: function(data) {
            console.log("Error");
        }
    });
    }



    </script>



{% endblock %}