{% extends "activitytree/base.html" %}

{% block content %}

   <div class="row">

       <div class="col-md-10  col-md-offset-1 col-sm-12">
           <h3>Biblioteca </h3>
             <form class="form" role="search" onsubmit="return false">
                <div class="input-group">
                    <input id="txtname" class="form-control" type="text" placeholder="Search by Title or #Tag" name="srch-term" >
                   <span class="input-group-btn">
               <button class="btn  btn-secondary" type="submit">Search</button>
                        </span>
                </div>

             </form>

       </div>
   </div>

   <div class="row">
       <div class="col-md-10  col-md-offset-1 col-sm-12 m-t-1">
              <div class="card-deck-wrapper">
                  <div id='actividades' class="card-columns">

                 </div>
              </div>
       </div>
   </div>



    <nav aria-label="Page navigation" id="paginator" align="center">


    </nav>

{% endblock %}

{% block scripts %}






<script id="activities_template" type="x-tmpl-mustache">
<div class="card">
<div class="card-block">

  <h6 class="card-title"> <i class="fa fa-[[icon]] text-muted"> </i> <a href="[[id]]">[[title]]</a>   </h6>



  <p class="card-text"> [[description]]</p>


              [[#tags]]
              [[#.]]
              <span class="label label-primary"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">#[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
        [[/tags]]
</div>



</div>
</script>

<script id="paginator_template" type="x-tmpl-mustache">
    <ul class="pagination">

    [[#prev]]
     <li class="page-item" data-page='[[prevPage]]'>
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    [[/prev]]

       [[#pages]]
          [[#page]]
                <li class="page-item [[#active]]active[[/active]]" data-page=[[page]]><a class="page-link"  href="#">[[page]]</a></li>

          [[/page]]

          [[^.]]
          [[/.]]
       [[/pages]]

    [[#next]]
    <li class="page-item" data-page=[[nextPage]]>
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>


    [[/next]]
 </ul>
</script>
 <script src="{{ STATIC_URL }}app/scripts/main.js"></script>
<script type="text/javascript">





    $(function(){
        //if parameter is submitted on url, gets the value and send it to loadifurl function, if not, loads all activities in db

        loadURI("#txtname" );
        var query = { page:0, type: {'type': {'$in':['text','video','quiz','prog']} } };
        query = load_query("#txtname",query);
        $("#actividades").empty();
        buscar(query);
        console.log("buscar - new");





function buscar(query){
        $.ajax({
        type: 'POST',
        url: '/search_prueba',
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        var csrftoken = getCookie('csrftoken');
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
        data: JSON.stringify(query),
        success: function (data) {
            var obj = jQuery.parseJSON( data );
            if (obj == "null" || obj[0].count == 0){
                $("#paginator").empty();
                $("#actividades").append('<h3 style="color:lightgray">No hay actividades</h3>');
                count = 0
            }
            else{
                Mustache.tags = ['[[', ']]'];
                var activities_template = $('#activities_template').html();
                Mustache.parse(activities_template);
                $.each(obj, function( index, value ) {
                    if (value.count){
                        count = value.count
                    }
                    else{
                        rendered = Mustache.render(activities_template, {
                            title: value.title,
                            id: value._id,
                            icon:value.icon,
                            description: value.description,
                            lang:value.lang,
                            level:value.level,
                            type:value.type,
                            tags:value.tags,
                            has_tags:(value.tags.length > 0)});
                        $("#actividades").append(rendered);
                    }
                });

                renderPaginator( query['page']+1, Math.floor((count + 10 -1)/10), 10, on_click );
                $('#actividades').val(data);

            }
        },
        error: function(data) {
            console.log("Error");
        }
    });
    }


$("#txtname").on('change', function(){
   $("#actividades").empty();
   $("#row").show();
   var query =  load_query( "#txtname" ,{ page:0, type: {'type': {'$in':['text','video','quiz','prog']}}});
    buscar(query);
 });




var on_click = function(){
        var pagenum = $( this ).attr('data-page');
        $("#actividades").empty();
        $("#paginator").empty();
        var query =  load_query( "#txtname" ,{ page:0, type: {'type': {'$in':['text','video','quiz','prog']}}});
        query.page =  (pagenum - 1);
        buscar(query);
    }


    //when copytoclipboard button is clicked, a message is displayed to user
copyToClipboard  = function(text){
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        }

   });






    </script>



{% endblock %}