{% extends "activitytree/base.html" %}

{% block content %}

<div class = "row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">

    <form id="learning_activity_form"    role="form"  action="{{ uri_id }}{{ uri }}" method="POST" xmlns="http://www.w3.org/1999/html">{% csrf_token %}


        {% if attempts_left < 100 %}

            {% if attempts_left  > 2   %}
                <div class="alert alert-success" role="alert"> Tienes {{attempts_left}}  intentos. </div>


            {% elif attempts_left  > 1   %}
                <div class="alert alert-warning" role="alert"> Tienes {{attempts_left}}  intentos.</div>

            {% elif attempts_left   == 1   %}
                <div class="alert alert-danger" role="alert"> Es tu último intento </div>
            {% elif attempts_left   == 0 %}
                <div class="alert alert-danger" role="alert"> Ya no tienes más intentos </div>
            {% endif %}

        {% endif %}


        {{ content.content|safe }}


    {% if feedback %}

        {% for q in content.questions %}
            {% if q.feedback.correct %}
            <h4 class="question"> <span><i class="fa fa-check"></i></span> {{q.question}} </h4>
            {% else %}
            <h4 class="question">  <span><i class="fa fa-times"></i></span></span> {{q.question}} </h4>
            {% endif %}
            {% if q.options %}
                {% for o in q.feedback_options %}
                 {% if q.interaction == 'choiceInteraction' %}
                    <div class="checkbox{{ q.inline|yesno:"-inline,," }}">
                        <label>
                            <input type="checkbox" value="option_{{ forloop.counter0 }}" name="{{q.id}}" {{ o.1|yesno:"checked,," }}  />
                            {{ o.0 }}
                        </label>
                    </div>

                 {% elif q.interaction == 'simpleChoice' %}
                    <div class="radio{{ q.inline|yesno:"-inline,," }}">
                     <label>
                        <input type="radio" value="option_{{ forloop.counter0 }}" name="{{q.id}}" {{ o.1|yesno:"checked,," }}  />
                            {{ o.0 }}
                     </label>
                     </div>
                 {% endif %}
                {% endfor %}

                {% if q.feedback.correct %}

                {% else %}
                    {% if q.hints|length != 0 %}
                    <a class="hint-btn" id="tools-{{ q.id }}" ><i class="fa fa-comments" aria-hidden="true"></i> Una pista </a><br>
                    <div class="alert alert-info" id="div-{{ q.id }}" style="display:none;">
                        <em>
                        {% for hint in q.hints %}
                            {{ hint }}<br>
                        {% endfor %}
                        </em>
                    </div>
                    {% endif %}
                {% endif %}

            {% elif q.interaction == 'textEntryInteraction' %}
                    <input type="text" class="form-control" placeholder="Escribe tu respuesta" name="{{q.id}}" value="{{ q.feedback.user_answer }}">
                    {% if q.feedback.correct %}
                    {% else %}
                        {% if q.hints|length != 0 %}
                            <a class="hint-btn" id="tools-{{ q.id }}" style="font-size: large"><i class="fa fa-comments" aria-hidden="true"></i> Hint Available</a><br>
                            <div class="alert alert-info" id="div-{{ q.id }}">
                            <em>
                            {% for hint in q.hints %}
                                {{ hint }}<br>
                            {% endfor %}
                            </em>
                            </div>
                        {% endif %}
                    {% endif %}
            {% endif %}
        {% endfor %}

    {% else %}


    {% for q in content.questions %}
        <h4 class="question">{{q.question}} </h4>
            {% if q.options %}
                {% for o in q.options %}
                    {% if q.interaction == 'choiceInteraction' %}
                     <div class="checkbox{{ q.inline|yesno:"-inline,," }}">
                         <label>
                            <input type="checkbox" value="option_{{ forloop.counter0 }}" name="{{q.id}}">
                            {{ o }}
                         </label>
                    </div>
                    {% elif q.interaction == 'simpleChoice' %}
                        <div class="radio{{ q.inline|yesno:"-inline,," }}">
                         <label>
                            <input type="radio" value="option_{{ forloop.counter0 }}" name="{{q.id}}">
                            {{ o }}
                         </label>
                    </div>
                    {% endif %}
                {% endfor %}
            {% elif q.interaction == 'textEntryInteraction' %}
                    <input type="text" class="form-control" placeholder="Escribe tu respuesta" name="{{q.id}}">
                    </input>
            {% endif %}

        {% endfor %}


    {% endif %}

        {{content.bye|safe}}

     {% if attempts_left %}

        {% if feedback %}

        <input type="submit" name="check" value="Re-Enviar" class="btn btn-primary question-submit">


        {% else %}



         <input type="submit" name="check" value="Enviar" class="btn btn-primary question-submit">

        {% endif %}
    {% endif %}

		</form>


        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
    $(".hint-btn").click(function(){
        var id = this.getAttribute('id');
        id = id.split('-')[1];
        $("#div-"+id).toggle();
    })

    </script>

{% endblock %}