{% extends "activitytree/base.html" %}

{% block content %}


    <form id="learning_activity_form"    role="form"  action="{{ uri_id }}{{ uri }}" method="POST" xmlns="http://www.w3.org/1999/html">{% csrf_token %}


        {% if num_attempts == 0 %}

         {% elif attempts_left  > 2   %}
            <div class="alert alert-success" role="alert"> Todavía tienes {{attempts_left}}  intentos </div>


        {% elif attempts_left  > 1   %}
            <div class="alert alert-warning" role="alert"> Todavía tienes {{attempts_left}}  intentos </div>

        {% elif attempts_left   == 1   %}
     <div class="alert alert-danger" role="alert"> Es tu último intento </div>
        {% elif attempts_left   == 0 %}
     <div class="alert alert-danger" role="alert"> Ya no tienes más intentos </div>
        {% endif %}

        {{ content.intro|safe }}


    {% if feedback %}

        {% for q in content.questions %}
            {% if q.feedback.correct %}
            <h4> <span><i class="fa fa-check"></i></span> {{q.question}} </h4>
            {% else %}
            <h4>  <span><i class="fa fa-times"></i></span></span> {{q.question}} </h4>
            {% endif %}
            {% if q.options %}
                {% for o in q.feedback_options %}
                 {% if q.interaction == 'choiceInteraction' %}
                    <div class="checkbox{{ q.inline|yesno:"-inline,," }}">
                        <label>

                            <input type="checkbox" value="option_{{ forloop.counter0 }}" name="{{q.id}}" {{ o.1|yesno:"checked,," }}  />
                            {{ o.0 }}
                        </label>
                    </div>
                 {% elif q.interaction == 'simpleChoice' %}
                    <div class="radio{{ q.inline|yesno:"-inline,," }}">
                     <label>
                        <input type="radio" value="option_{{ forloop.counter0 }}" name="{{q.id}}" {{ o.1|yesno:"checked,," }}  />
                            {{ o.0 }}
                     </label>
                     </div>
                 {% endif %}
                {% endfor %}
            {% elif q.interaction == 'textEntryInteraction' %}
                    <input type="text" class="form-control" placeholder="Escribe tu respuesta" name="{{q.id}}" value="{{ q.feedback.user_answer }}">



            {% endif %}
        {% endfor %}


    {% else %}


    {% for q in content.questions %}
        <h4>{{q.question}} </h4>
            {% if q.options %}
                {% for o in q.options %}
                    {% if q.interaction == 'choiceInteraction' %}
                     <div class="checkbox{{ q.inline|yesno:"-inline,," }}">
                         <label>
                            <input type="checkbox" value="option_{{ forloop.counter0 }}" name="{{q.id}}">
                            {{ o }}
                         </label>
                    </div>
                    {% elif q.interaction == 'simpleChoice' %}
                        <div class="radio{{ q.inline|yesno:"-inline,," }}">
                         <label>
                            <input type="radio" value="option_{{ forloop.counter0 }}" name="{{q.id}}">
                            {{ o }}
                         </label>
                    </div>
                    {% endif %}
                {% endfor %}
            {% elif q.interaction == 'textEntryInteraction' %}
                    <input type="text" class="form-control" placeholder="Escribe tu respuesta" name="{{q.id}}">
                    </input>
            {% endif %}

        {% endfor %}


    {% endif %}

        {{content.bye|safe}}

     {% if attempts_left %}

        {% if feedback %}

        <input type="submit" name="check" value="Re-Enviar" class="btn btn-primary">


        {% else %}



         <input type="submit" name="check" value="Enviar" class="btn btn-primary">

        {% endif %}
    {% endif %}

		</form>




{% endblock content %}