__author__ = 'mario'
{% extends "activitytree/../base.html" %}



{% block content %}
<h3>{{ user.first_name }} {{ user.last_name }}</h3>

<table id="activity_table" class="table">
<tr>
     <th>  </th>
     <th>Nombre</th>
     <th>Precondición</th>
     <th>Status del Progreso</th>
     <th>Calificación</th>
     <th>Intentos</th>
     <th>Última visita</th>



</tr>


</table>



{% endblock content %}

{% block scripts %}
    <script id="activity_template" type="x-tmpl-mustache">
<tr>
    <td><small><i class="[[icon]]"></i> </td>
    <td>[[name]]</td>
    <td>[[pre_condition]]</td>
    <td>[[progress_status ]]</td>
    <td>[[objective_measure]]</td>
    <td>[[num_attempts]]</td>
    <td>[[last_visited]]</td>

</tr>
</script>

    <script>

       function get_icon(uri_string)
    {

        if (uri_string.lastIndexOf("/test/", 0) === 0)
            return {icon:"fa fa-pencil",activity_type: "Quiz"} ;
        else if (uri_string.lastIndexOf("/survey/", 0) === 0)
            return {icon:"fa fa-pencil-square-o",activity_type: "Encuesta"} ;
        else if (uri_string.lastIndexOf("/activity/video/", 0) === 0)
            return {icon:"fa fa-video-camera",activity_type: "Video"} ;
        else if (uri_string.lastIndexOf("/activity/", 0) === 0)
            return {icon:"fa fa-book",activity_type: "Lectura"} ;
        else if (uri_string.lastIndexOf("/program/", 0) === 0)
            return {icon:"fa fa-coffee",activity_type: "Ejercicio en Consola"} ;

    }


        XML_NAV = "{{XML_NAV|safe}}";

        xmlDoc= $.parseXML(XML_NAV);
        $xml = $(xmlDoc);


        Mustache.tags = ['[[', ']]'];
        var activity_template = $('#activity_template').html();
        Mustache.parse(activity_template);   // optional, speeds up future uses

         $xml.find('item').each(function (index) {
             var rendered = "";
             var uri_string = this.getAttribute("uri");

             var activity_type = get_icon(uri_string);
             if (this.getAttribute("is_container")=='True')
                activity_type.icon = "fa fa-folder";


             var data = {
                            icon: activity_type.icon,
                            is_container:this.getAttribute("is_container"),
                            name: this.getAttribute("name"),
                            description:this.getAttribute("description"),
                            uri: uri_string,
                            pre_condition:this.getAttribute("pre_condition"),
                            progress_status: this.getAttribute("progress_status"),

                            image: this.getAttribute("image"),

                            activity_type: activity_type.activity_type,
                            id: this.getAttribute("activity"),
                            path_id: this.getAttribute("id"),

                            num_attempts: this.getAttribute("num_attempts"),
                            attempt_limit: this.getAttribute("attempt_limit"),
                            last_visited:this.getAttribute("last_visited"),
                            objective_measure: Math.floor(this.getAttribute("objective_measure")),

                        };




                        rendered = Mustache.render(activity_template, data);

              $("#activity_table").append(rendered);
         });


    </script>





{% endblock scripts %}