__author__ = 'mario'
{% extends "activitytree/../base.html" %}



{% block content %}
<h3>{{ user.first_name }} {{ user.last_name }}</h3>

<div class="row">
<table class="table">
<tr>
    <th>Course name</th>
    <th>Current activity</th>
</tr>

{% for course in user.activitytree_set.all %}
<tr>
    <td><a href="/users/{{ user.id }}/{{ course.root_activity.id }}">{{  course.root_activity.name }}</a></td>

    <td>{{ course.current_activity.learning_activity.name}}</td>

</tr>
{% endfor %}

</table>


</div>

{% endblock content %}

{% block scripts %}



{% endblock scripts %}