{% block videoForm %}

 <div class="container" id="videoForm" style="width: 80%">
     <h2> Ingresar informacion de actividad video</h2>
     <div class="form-group">
         <input type="hidden" name="course_id" value="{{ course_id }}">
         <label for="activityName">Nombre de Actividad</label>
         <input type="text" class="form-control" id="activityName" name="activityName" placeholder="Activity Name" required="true">
         <label for="activityTitle">Titulo de Actividad</label>
         <input type="text" class="form-control" id="activityTitle" placeholder="Titulo de actividad">
         <label for="activityDescription">Descripcion de la actividad</label>
         <input type="text" class="form-control" id="activityDescription" name="activityDescription" placeholder="Ingrese la descripcion">
         <label for="activityURL">Ingrese la direccion URL:</label>
         <input type="text" id="activityURL" name="activityURL" class="form-control" placeholder="URL Video">
         <div id="ytVideo">
         <iframe></iframe>
         </div>
     </div>
    </div>
{% endblock %}

<script>
$(document).ready(function() {
    var txtURL = '';
    var options = {
        embedMethod: 'fill',
        maxWidth: 320,
        maxHeight: 320
    };

    function loadVideo() {
        val = $('#activityURL').val();
        if (val != '' && val != txtURL) {
            txtURL = val;
            $("#ytVideo").oembed(val, options);
        }
    }

    $(function () {
        $('#activityURL').on('keydown click change', loadVideo)
    });
});

</script>