{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Protoboard  Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css">

        <!-- Custom styles for this template -->

    <!-- Custom styles for this template -->
    <style type="text/css" media="screen">
	 /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;


}

 .navbar-nav > li >  a.navbar-user
    {
    padding-bottom: 0px;
    padding-top: 0px;
    }

 .jumbotron{

    padding-top: 30px;
    padding-bottom: 20px;
}

.media-heading > h5,h4{
    margin-top: 0px;

}
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">protoboard.org</a>
        </div>


       <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

           {% if user.is_authenticated %}
            <li><a href="#"></a></li>
            {% if user.first_name %}
            <li><a href="/me"> {{ user.first_name }} {{ user.last_name }}</a></li>
            {% else %}
            <li><a href="/me"> {{ user.username }} </a></li>
            {% endif %}
                        <li><a class="navbar-user" href="/me">

            {% comment %}
                {%  if user.userprofile.facebook_uid %}
                <img src="http://graph.facebook.com/{{ user.userprofile.facebook_uid}}/picture?type=square"/>
               {% else %}
                <img src="{% gravatar_url user.email 50%}">
               {% endif %}

             {% endcomment %}

                <img src="{% gravatar_url user.email 50%}">
                </a>

            </li>


            <li><a href="/logout">Log out</a></li>



            {% else %}

            <li><a href="/login/?next=/welcome">Log in</a></li>

            {% endif %}


          </ul>

        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <p> <code> !Hola Mundo!</code> estamos desarrollando una plataforma para desarrollar tutoriales de programación
            personalizados. La plataforma es de código abierto asi como el material didáctico que producimos.</p>
        <p>En este prototipo nos enfocaremos a brindar tutorías de programación de manera informal,<strong> elige algún mini-curso o alguna actividad de aprendizaje</strong>.
        </p>

    </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">


        <div class="col-md-6">
        <h4>Min-cursos <small>Secuencia de actividades, se registra tú avance. Te debes registrar.</small></h4>
            {% for c in courses %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                     <i class="fa fa-graduation-cap fa-lg"></i>
                </a>

            </div>
             <div class="media-body">
             {% if user.is_authenticated %}
               <a class="media-heading" href="/{{c.root.id }}{{c.root.uri }}?nav=continue" role="button"> <h4>{{c.root.name}} &raquo;</h4></a>
             {% else %}
                <a class="media-heading" href="/{{c.root.id }}{{c.root.uri }}" role="button"> <h4>{{c.root.name}} &raquo;</h4></a>
             {% endif %}


            <p><span class="label label-info">mini-curso</span> <span class="label label-default">python</span> <span class="label label-default">principiantes</span></p>
                 {{ c.short_description|safe }}

            </div>
        </div>
         {% endfor %}
        </div>

      <div id='activities' class="col-md-6">
       <h4>Actividades <small> Son actividades independientes, tú decides que ver. No requiere registro.</small></h4>




      </div>


      </div>

      <hr>

      <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
           </a>
            <br />El contenido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> y
            otras licencias abiertas.</p>
      </footer>
    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" charset="utf-8">

         $(document).ready(function() {







        $.get( '/get_activities',  function (data) {

            Mustache.tags = ['[[', ']]'];
            var activities_template = $('#activities_template').html();
            Mustache.parse(activities_template);
            var obj = jQuery.parseJSON( data );


            $.each(obj, function( index, value ) {

                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    uri: value._id,
                    icon:value.icon,
                    description: value.description,
                    lang:value.lang,
                    level:value.level,
                    type:value.type});

                $("#activities").append(rendered);

            });





            });

 });

</script>

<script id="activities_template" type="x-tmpl-mustache">
         <div class="media">
            <div class="media-left">
                <a href="[[uri]]">
                    <i class="fa fa-[[icon]] fa-lg"></i>
                </a>

            </div>
             <div class="media-body">

               <a class="media-heading" href="[[uri]]" role="button"> <h4>[[description]] &raquo;</h4></a>


            <p>
              <span class="label label-info">[[type]]</span>
              <span class="label label-success">[[lang]]</span>
              <span class="label label-default">[[level]]</span>
            </p>

            </div>
        </div>

</script>


<script  type="text/javascript" src="{{MEDIA_URL}}js/mustache.min.js"></script>

 </body>
</html>