<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Protoboard  Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Custom styles for this template -->

    <!-- Custom styles for this template -->
    <style type="text/css" media="screen">
	 /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;


}

 .navbar-nav > li >  a.navbar-user
    {
    padding-bottom: 0px;
    padding-top: 0px;
    }

    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">protoboard.org</a>
        </div>


       <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

           {% if user.is_authenticated %}
            <li><a href="#"></a></li>
            <li><a href="#"> {{ user.first_name }} {{ user.last_name }}</a></li>
            <li><a class="navbar-user" href="#"><img src="http://graph.facebook.com/{{user.email}}/picture?type=square"/>  </a></li>
            <li><a href="/logout">Log out</a></li>



            {% else %}

            <li><a href="/login/?next=/welcome">Log in</a></li>

            {% endif %}


          </ul>

        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2> <code> !Hola Mundo!</code></h2>
        <p>Bienvenidos a <strong> protoboard.org</strong>, estamos desarrollando una plataforma para generar tutoriales de programación
            personalizados. La plataforma es de código abierto asi como el material didáctico que producimos.</p>
        <p>En este prototipo nos enfocaremos a brindar tutorías de programación de manera informal,
            <a href="/login"> ingresa como uno de los estudiantes de prueba </a> y elige algún mini-curso.</p>

          <button class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">Ver más &raquo;</button>
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Secuenciado Adaptativo</h4>
      </div>
 <div class="modal-body">

      <h3>Introducción</h3>
		<p>
		    Aprender a programar de forma autodidácta puede ser una tarea difícil. No sabemos por donde empezar, ¿que material debo leer
		    primero?, ¿que ejercicios son los adecuados, para mi habilidad actual?, ¿que necesito instalar para empezar?,¿veo videos o leo?.
			Uno de los problemas de la Web es que nos podemos perder entre tanta información, todos los recursos necesarios pueden estar ahí, pero
			   ¿cual podría ser una secuencia adecuada para visitarlos?.
		</p>
		<p>
		   Para el dise;o de protoboard nos basamos en una especificación llamada <a href="http://www.imsglobal.org/simplesequencing/"> IMS Simple Sequencing Specification (SS) </a>,
		   la cual sirve para 	"representar el  comportamiento deseado en una experiencia de aprendizaje", básicamente es una manera de especificar
		   como se deberían ir entregando las actividades de aprendizaje a los alumnos. No pretendemos cumplir totalmente con la especificación y más bien
		   se ha ido adaptando a nuestras necesidades. Trabajamos en lograr que el sequenciado se adapte a los usuarios utilizando técnicas de
		   personalización y sistemas de recomendación. Por ejemplo:

		   <ul class="lead">
              <li> Agregando reglas difusas para especificar el secuenciado.</li>
              <li> Implementando un sistema de recomendación híbrido para proponer actividades de aprendizaje.</li>
		      <li> Proponiendo un modelo para medir de manera indirecta el nivel de fluidez que experimenta el
                 estudiante para sugerirle ejercicios adecuados.</li>
              <li> Considerar información  contexto en los algoritmos de recomendación.</li>
           </ul>
     </p>

			<img src="https://s3.amazonaws.com/mariogarcia/images/ActivityTree.png" class="img-responsive" alt="Responsive image">

      </div>
     </div>
     </div>
     </div>
    </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
         {% for c in courses %}

        <div class="col-md-4">

            <h2>{{c.root.name}}</h2>
            {{ c.short_description|safe }}
            <a class="btn btn-primary" href="{{c.root.id }}{{c.root.uri }}" role="button">Vamos &raquo;</a>
        </div>

         {% endfor %}

      </div>

      <hr>

      <footer>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />El contennido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
      </footer>
    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>



  <script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();



        $('#signout').on('click', function(event) {
    gapi.auth.signOut();
});


</script>




 </body>
</html>