{% extends "activitytree/../base.html" %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">



    <h3>Biblioteca </h3>

    <div class="col-md-12">
       <div class="card-deck-wrapper">
           <div id='activities' class="card-columns">

          </div>
       </div>
    </div>











      <hr>

      <footer>
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
           </a>
            <br />El contenido de los cursos es: <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> y
            otras licencias abiertas.</p>
      </footer>
    </div> <!-- /container -->
{% endblock content %}



{% block scripts %}

  <script type="text/javascript" charset="utf-8">

         $(document).ready(function() {







        $.get( '/get_activities',  function (data) {

            Mustache.tags = ['[[', ']]'];
            var activities_template = $('#activities_template').html();
            Mustache.parse(activities_template);
            var obj = jQuery.parseJSON( data );


            $.each(obj, function( index, value ) {

                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    uri: value._id,
                    icon:value.icon,
                    description: value.description,
                    lang:value.lang,
                    level:value.level,
                    type:value.type,
                    tags:value.tags,
                    has_tags:(value.tags.length > 0)
                });

                $("#activities").append(rendered);

            });





            });

 });

</script>

<script id="activities_template" type="x-tmpl-mustache">

<div class="card card-block">



  <h6 class="card-title">

              <i class="fa fa-[[icon]]"> </i> <a href="[[uri]]">[[title]]</a>


             </h6>



  <p class="card-text"> [[description]]</p>
   [[#has_tags]]
   <i class="fa fa-tags"></i>
   [[/has_tags]]

              [[#tags]]
              [[#.]]
              <span class="label label-info"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">#[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
              [[/tags]]


</div>

</script>



{% endblock scripts %}