{% extends "activitytree/base.html" %}


{% block style %}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}


{% endblock style %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    <row>

        <div class="col-md-8  col-md-offset-2 col-sm-12">
            <h5>Últimos cursos: </h5>
        <!-- <div class="card-deck-wrapper"> -->
            <div id='activities' class="card-group">

           </div>
        </div>
    </row>

    <div class="row">

       <div class="col-md-8  col-md-offset-2 col-sm-12 m-t-2">
           <h5>Hashtags populares:</h5>

           <h5>
            <a href="/search/?tag=java"> <span class="label label-primary"> #java </span></a>
            <a href="/search/?tag=python"><span class="label label-primary"> #python </span></a>
            <a href="/search/?tag=principiante"> <span class="label label-primary">#principiante </span></a>
            <a href="/search/?tag=principiante"> <span class="label label-primary">#ejercicio </span></a>
            <a href="/search/?tag=javascript"> <span class="label label-primary">#javascript </span></a>
           </h5>
       </div>
   </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <!-- START THE FEATURETTES -->



      <hr class="featurette-divider">
     <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ejercicios interactivos. <span class="text-muted">Escribe los programas directamente
              en el navegador.</span></h2>
          <p class="lead">Al practicar lo que haz visto inmediatamente tienes una mejor retención y te surgen más dudas (eso es bueno).</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" src="https://imagizer.imageshack.com/v2/800x600q90/838/o273.jpg" alt="Generic placeholder image">
        </div>
      </div>



      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> Diferentes actividades si así lo requieres. <span class="text-muted"> Dependiendo de tu desempeño.</span></h2>
          <p class="lead">El autor/instructor te puede sugerir nuevos ejercicios y actividades de acuerdo a tus resultados. Tal vez te hace
              falta reforzar esa instrucción que te falla.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" src="https://imageshack.com/a/img922/3818/CbkIl3.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> Algunos ejercicios están reservados para estudiantes avanzados. <span class="text-muted">¡Desbloquea!.</span></h2>
          <p class="lead"> A manera de juego, hay algunos ejercicios que solo se desbloquean si resuleves los ejercicios fáciles primero.</p>
        </div>
         <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" src="https://imageshack.com/a/img923/8626/QdGSlC.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading"> En <code>codigo.uno</code>  se promueve el uso de recursos
              educativos abiertos. <span class="text-muted"> Libres para estudiantes y educadores.</span></h2>
          <p class="lead"> La (OCDE) define a los REA como: "materiales digitalizados ofrecidos libres y abiertos
              a educadores, estudiantes y autodidactas para su uso y reutilización en la enseñanza, el aprendizaje,
              y la investigación. REA incluye contenidos de aprendizaje, herramientas
              de software para desarrollar, utilizar y distribuir contenidos y recursos de implementación, como
              las licencias abiertas" <small>
                  <a href="https://es.wikipedia.org/wiki/Recursos_educativos_abiertos">wikipedia</a></small> </p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid m-x-auto" src="https://imageshack.com/a/img924/5599/DWduaT.png" alt="Logo de Recursos Educacionales Abiertos">
        </div>
      </div>

        <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Crea tus propios recursos educativos. <span class="text-muted"> También agrega de otras fuentes abiertas.</span></h2>
          <p class="lead"> Además de ejercicios de programación puedes agregar: Contenido HTML, Videos (de Youtube por lo pronto) y
              Exámenes de opción múltiple. Después organiza los recursos en colecciones con distintas secuencias: Cursos, Lecciones, Tutoriales,
          Retos, etc.</p>
        </div>

      </div>
    <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Participa y aprende en el proceso. <span class="text-muted"> Ayudanos a mejorar el material, es de todos.</span></h2>
          <p class="lead"> Es muy importante tú retroalimentación. Este es un proyecto que va iniciando, con tu ayuda mejoraremos el
              contenido, el software y la manera de colaborar.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" src="https://imageshack.com/a/img921/8334/QdLseQ.jpg" alt="Voluntarios">
        </div>
      </div>

<hr class="featurette-divider">

<p class="pull-xs-right"><a href="#"> Hacia arriba</a></p>

 </div>

{% endblock content %}



{% block scripts %}

  <script type="text/javascript" charset="utf-8">

         $(document).ready(function() {







        $.get( '/get_activities',  function (data) {

            Mustache.tags = ['[[', ']]'];
            var activities_template = $('#activities_template').html();
            Mustache.parse(activities_template);
            var obj = jQuery.parseJSON( data );


            $.each(obj, function( index, value ) {

                rendered = Mustache.render(activities_template, {
                    title: value.title,
                    uri: value._id,
                    icon:value.icon,
                    description: truncate.apply(value.description, [160, true]),
                    lang:value.lang,
                    level:value.level,
                    type:value.type,
                    tags:value.tags,
                    has_tags:(value.tags.length > 0),
                    image_url: value.image_url || ""

                });

                $("#activities").append(rendered);

            });





            });

 });

</script>


<script id="activities_template" type="x-tmpl-mustache">
    <div class="card">
        [[#image_url]]
            <img class="card-img-top center-block img-fluid" src="[[image_url]]" alt="[[title]]">
        [[/image_url]]
<div class="card-block">

<h6 class="card-title"> <i class="fa fa-[[icon]] text-muted"> </i> <a href="[[uri]]">[[title]]</a>   </h6>



<p class="card-text"> [[description]]</p>


              [[#tags]]
              [[#.]]
              <span class="label label-primary"><a href="/search/?tag=[[.]]" style="color:#FFFFFF">#[[.]]</a></span>
              [[/.]]
              [[^.]]
              [[/.]]
        [[/tags]]
</div>

</script>
{% endblock scripts %}